<ons-page ng-controller="CheckInController as checkIn">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-class="fontSizeDesc">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"CHECKIN"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>
    <ons-list >
        <ons-list-header ng-hide="checkIn.alert.type == 'info'" class="person-list-header" ng-class="fontSizeTitle">
            {{"APPOINTMENTS"|translate}}
        </ons-list-header>
        <ons-list-item modifier="tappable chevron" ng-repeat="app in checkIn.apps" ng-click="checkIn.goToAppointment(app)">
            <ons-row>
                <ons-col width="50px" align="center" style="text-align: center;">
                    <div class="plan-date" ng-show="app.Checkin == 1"><img ng-src="./img/checkedbox.png" width="25px" height="25px"></div>
                    <div class="plan-duration" ng-show="app.Checkin == 0">
                        <img ng-src="./img/uncheckedbox.png" width="25px" height="25px">
                    </div>
                </ons-col>
                <ons-col align="center">
                    <div style="line-height:1;padding:5px;">
                        <span ng-class="fontSizeTitle">
                            {{app["AppointmentType_"+checkIn.language]}} <br>
                            {{app.ScheduledStartTime | date:'shortTime'}}
                            {{home.checkInMessage}}
                        </span> <br>
                        <span class="item-desc" ng-class="fontSizeDesc" ng-show="app.RoomLocation_EN">{{"APPOINTMENT_ROOM"|translate}} {{app["RoomLocation_"+checkIn.language]}}</span>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <br>

    <!-- <p ng-show="checkIn.alert.type" style="text-align: center; color: grey;" ng-class="fontSizeTitle">{{checkIn.checkInMessage|translate}}</p> -->

    <p ng-show="checkIn.alert.type" style="text-align: center; color: grey;" ng-class="fontSizeTitle">{{checkIn.checkInMessage|translate}}</p>

    <!--<div uib-alert ng-show="checkIn.alert.type" style="text-align: center; width: 90%; margin: auto" type="{{checkIn.alert.type}}" class="{{fontSizeTitle}}" >-->
    <!--{{checkIn.checkInMessage|translate}}-->
    <!--</div>-->

    <!-- <div uib-alert ng-show="checkIn.alert.type && checkIn.additionalInfo" style="text-align: center; width: 90%; margin: auto" type="info" class="{{fontSizeTitle}}" >
        {{checkIn.additionalInfo|translate}}
    </div> -->

    <div ng-hide="checkIn.alert.type" align="center" style="margin:10px">
        <svg class="progress-circular">
            <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
        </svg>
    </div>

    <!--<div ng-controller="WaitingTimeController as c" class="horizontal-center-outer" ng-hide="checkIn.alert.type == 'info'">-->
        <!--<div ng-repeat="app in c.appointments">-->
            <!--<div style="text-align: center; margin-top: 20px; font-size: 20px; font-weight: bold">{{app.title}}</div>-->
            <!--<div class="horizontal-center-inner" style="width: 90%">-->
                <!--<div id="wait-time-timeline">-->
                    <!--<div id="starting-dot"></div>-->
                    <!--<div id="past-line" style="width: {{app.percent}}"></div>-->
                    <!--<div id="current-time-indicator" style="left: {{app.percent}}"><i class="fa fa-user" aria-hidden="true"></i></div>-->
                    <!--<div class="sthethoscope"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="dividing-horizontal-line"></div>-->

            <!--<div style="text-align: center; margin: 10px">-->
                <!--<div style="float: left">-->
                    <!--<b>{{"AHEADOFYOU"|translate}}</b>:-->
                    <!--<br> {{app.numPrevPatients}} {{app.numPrevPatients > 1 ? "Patients" : "Patient"}}-->
                <!--</div>-->
                <!--<div class="dividing-vertical-line"></div>-->
                <!--<div>-->
                    <!--<b>{{"AHEADOFYOUNOTCHECKEDIN"|translate}}</b>:-->
                    <!--<br> {{app.numPrevPatientsNotCheckedIn}} {{app.numPrevPatientsNotCheckedIn > 1 ? "Patients" : "Patient"}}-->
                <!--</div>-->
            <!--</div>-->
            <!--<div style="text-align: center; margin-top: 40px; margin-bottom: 20px">-->
                <!--<b>{{"ESTIMATEDWAIT"|translate}}</b>:-->
                <!--<br>-->
                <!--<div style="font-size: x-large">{{app.estimatedWait}}</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div id="more-info-button-outer" style="margin-bottom: 60px; margin-top: 20px">&ndash;&gt;-->
                <!--&lt;!&ndash;<button modifier="large" id="more-info-button" ng-click="c.goToWaitingTimeEstimates(app.appointmentAriaSer)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div style="color: #757575; position: relative; top: 50%;" align="center">&ndash;&gt;-->
                      <!--&lt;!&ndash;{{"MORE_INFO"|translate}}&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

</ons-page>