<ons-page ng-controller="SmartDevicesController as ctrl">
    <generic-toolbar title="{{'SMARTDEVICES'|translate}}" style-class="fontSizeTitle">
        <right-content>   
            <ons-toolbar-button ng-click="ctrl.showInfo()">
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
        </right-content>
    </generic-toolbar>
    <network-banner></network-banner>

    <div ng-if="!ctrl.bluetoothEnabled" class="container" align="center">
        <i class="fa-brands fa-bluetooth smartdevices-fa-logo" style="color: #0082fc"></i>
        <div ng-if="ctrl.bluetoothAvailable">
            <h3>{{"SMARTDEVICES_BLUETOOTH_DISABLED"|translate}}</h3>
            <p style="color:grey">{{"SMARTDEVICES_BLUETOOTH_PROMPT"|translate}}</p>
            <button class="button--large--cta"
                ng-click="ctrl.refresh()">
                <span>{{"SMARTDEVICES_BLUETOOTH_REFRESH"|translate}}</span>
            </button>
        </div>
        <div ng-if="!ctrl.bluetoothAvailable">
            <h3>{{"SMARTDEVICES_BLUETOOTH_UNAVAILABLE"|translate}}</h3>
        </div>
    </div>

    <div ng-if="ctrl.bluetoothEnabled">
        <ons-list>
            <ons-list-item modifier="chevron" class="item"
                ng-click="ctrl.goToDevice('etekcity_scale.html')">
                <ons-row align="center">
                    <div class="smartdevices-content">
                        <div class="smartdevices-content--icon">
                            <i class="fa fa-heartbeat fa-2x pull-left"
                            style="color:red; display: inline-block"></i>
                        </div>
                        <div class="smartdevices-content--text">
                            <p ng-class="fontSizeTitle">{{"SMARTDEVICES_ETEKCITY"|translate}}</p>
                        </div>
                    </div>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
