<ons-page ng-controller="SmartDevicesController as ctrl">
    <generic-toolbar title="{{'Smart Devices'|translate}}" style-class="fontSizeTitle">
        <right-content>   
            <ons-toolbar-button ng-click="ctrl.showInfo()">
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
        </right-content>
    </generic-toolbar>
    <network-banner></network-banner>

    <div ng-if="!ctrl.bluetoothEnabled" class="container" align="center">
        <ons-icon icon="fa-bluetooth" style="font-size:80px; color: #0082fc; margin: 5vh 0;"></ons-icon>
        <h3>Bluetooth is disabled</h3>
        <p style="color:grey">{{'Please enable it and then press the refresh button below.'|translate}}</p>
        <button class="button--large--cta"
                ng-click="ctrl.refresh()">
            <span>{{"Refresh"|translate}}</span>
        </button>
    </div>
    
    <div ng-if="ctrl.bluetoothEnabled" style="width: 100%;">
        <ons-list style="margin: 0px 0">
            <ons-list-item modifier="chevron" class="item">
                <ons-row align="center">
                    <div class="patient-content">
                        <div class="patient-content--icon">
                            <i class="fa fa-heartbeat fa-lg pull-left"
                            style="color:red; display: inline-block"></i>
                        </div>
                        <div class="patient-content--text">
                            <p ng-class="fontSizeTitle">VitalTracer Watch</p>
                        </div>
                    </div>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item">
                <ons-row align="center">
                    <div class="patient-content">
                        <div class="patient-content--icon">
                            <i class="fa fa-heartbeat fa-lg pull-left"
                            style="color:red; display: inline-block"></i>
                        </div>
                        <div class="patient-content--text">
                            <p ng-class="fontSizeTitle">iMD Research Bracelet</p>
                        </div>
                    </div>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item"
                ng-click="personalNavigator.pushPage('views/smartdevices/devices/etekcity_scale.html')">
                <ons-row align="center">
                    <div class="patient-content">
                        <div class="patient-content--icon">
                            <i class="fa fa-heartbeat fa-lg pull-left"
                            style="color:red; display: inline-block"></i>
                        </div>
                        <div class="patient-content--text">
                            <p ng-class="fontSizeTitle">Etekcity Smart Scale (ESF24)</p>
                        </div>
                    </div>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
        
</ons-page>
