<ons-page ng-controller="SmartDevicesController as ctrl">
    <generic-toolbar title="{{'Smart Devices'|translate}}" style-class="fontSizeTitle">
        <right-content>   
            <ons-toolbar-button ng-click="initNavigator.pushPage('views/tabs/info-page-tabs.html',{id:'smartdevices'})">
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
        </right-content>
    </generic-toolbar>
    <network-banner></network-banner>

    <div ng-if="!ctrl.bluetoothEnabled" class="container" align="center">
        <p style="margin-top:25vh;color:grey">{{'Bluetooth is disabled, please enable it.'|translate}}</p>
    </div>
    
    <div ng-if="ctrl.bluetoothEnabled" class="container" style="margin: 3% auto; width: 95%;">
        <div class="container" align="center">
            <button class="shadow-2 button"
                    ng-click="ctrl.scan()" ng-disabled="ctrl.scanning">
                <span ng-if="!ctrl.scanning">{{"Scan for devices"|translate}}</span>
                <span ng-if="ctrl.scanning">{{"Scanning "|translate}}&nbsp;<ons-icon icon="ion-load-d" spin="true" style="width: 25px; vertical-align: -3px;"></ons-icon></span>
            </button>
        </div>
        <!-- <div ng-if="!ctrl.devices" class="container" align="center">
            <p style="margin-top:1vh;color:grey">{{'No devices'|translate}}</p>
        </div> -->
        
        <p ng-class="fontSizeTitle">Devices:</p>
        
        <ons-list>
            <ons-list-item ng-if="ctrl.devices.length == 0" class="item" style="border-left: 1px solid #ddd !important; border-right: 1px solid #ddd !important;">
                <ons-row align="center">
                    <div class="patient-content" style="padding-left: 1vh;">
                        <div class="patient-content--text">
                            <p ng-class="fontSizeTitle">{{'No devices' | translate}}</p>
                        </div>
                    </div>
                </ons-row>
            </ons-list-item>
            <ons-list-item ng-repeat="device in ctrl.devices" class="item">
                <ons-row align="center">
                    <div class="patient-content">
                        <div class="patient-content--icon">
                            <i class="fa fa-heartbeat fa-lg pull-left"
                          style="color:grey; display: inline-block"></i>
                        </div>
                        <div class="patient-content--text">
                            <p ng-class="fontSizeTitle">{{device.name}}</p>
                            <p class="relationship-list--status" ng-class="fontSizeDesc">{{device.id}}</p>
                        </div>
                        <div class"patient-content--right" style="margin-left: 5vh;">
                            <button class="shadow-2 button" ng-click="ctrl.connect(device)" ng-disabled="device.connecting">
                                <span ng-if="!device.connecting">Sync</span>
                                <span ng-if="device.connecting">Syncing... <ons-icon icon="ion-load-d" spin="true" style="width: 25px; vertical-align: -3px;"></ons-icon></span>
                            </button>
                        </div>
                    </div>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <div>
            <label ng-class="fontSizeDesc"
                    class="lee-checkbox lee-checkbox--list-item"
                    ng-style="{'background-color':'#f9f9f9', 'margin':'0px', 'padding':'10px'}">
            <input type="checkbox"
                    style="-webkit-appearance: checkbox !important; width:20px; height:20px; display:inline"
                    ng-checked="ctrl.debug"
                    ng-click="ctrl.toggleDebug()">
                    <div class="lee-checkbox__checkmark lee-checkbox--list-item__checkmark"></div>
                    <span ng-class="fontSizeDesc">Debug</span>
        </div>

        <p ng-class="fontSizeTitle" style="margin-top: 1vh;">Status: </p>
        <div class="container">
            <p ng-repeat="message in ctrl.messages">{{message}}</p>
        </div>
    </div>
        
</ons-page>
