<ons-page>
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{ "BACK" | translate }}</ons-back-button>
        </div>
        <div class="center">{{ "MY_WAITING_TIME" | translate }}</div>
    </ons-toolbar>
    <div>
        <ons-list class="settings-list">
            <ons-list-item class="item">
                <div style="line-height:1" align="left">{{ "MY_WAITING_TIME_HELP_ON_TIME" | translate }}</div>
            </ons-list-item>
            <ons-list-item class="item">
                <div style="line-height:1" align="left">{{ "MY_WAITING_TIME_HELP_TOO_EARLY" | translate }}</div>
            </ons-list-item>
            <ons-list-item class="item">
                <div style="line-height:1" align="left">{{ "MY_WAITING_TIME_HELP_LATE" | translate }}</div>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
