<ons-page ng-controller="CharterController">
    <ons-toolbar fixed-style>
        <div class="left">
            <span ng-show="navigatorName == 'generalNavigator'"><ons-back-button>{{"BACK"|translate}}</ons-back-button></span>
            <span ng-show="navigatorName !=='generalNavigator'"><ons-toolbar-button ng-click="navigator.popPage()">{{"CLOSE"|translate}}</ons-toolbar-button></span>
        </div>
        <div class="center">{{title}}</div>
    </ons-toolbar>
    <div ng-show="loading" align="center" style="margin-top:25vh">
        <svg class="progress-circular">
                <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
        </svg>
    </div>
    <div ng-hide="loading" class="container" style="background-color:white;padding-top:10px;margin:1px solid black">
        <div ng-bind-html="htmlBind"></div>
    </div>
</ons-page>