# Prevent clickjacking and MIME-Sniffing
Header ADD X-FRAME-OPTIONS DENY
Header set X-Content-Type-Options nosniff

Header set Strict-Transport-Security max-age=63072000

Header set X-XSS-Protection "1; mode=block"

# Set headers only for specific JSON configuration files in the external-content-samples directory
<Files "content/content.config.json">
  Header set Access-Control-Allow-Origin "*"
</Files>

<Files "content/service-status.json">
  Header set Access-Control-Allow-Origin "*"
</Files>

# add Content-Security-Policy headers
# generated with https://www.validbot.com/tools/csp-wizard.php
Header add Content-Security-Policy "base-uri 'self'; default-src 'none'; form-action 'none'; object-src 'none'; frame-ancestors 'none'; frame-src 'none' https://www.youtube.com; font-src 'self'; img-src 'self' data: https://www.depdocs.com https://muhcguides.com; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.firebaseio.com; connect-src 'self' https://www.depdocs.com https://securetoken.googleapis.com https://identitytoolkit.googleapis.com wss://*.firebaseio.com;"
