.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.card .item {
  border-left: 0;
  border-right: 0; 
}
.card .item:first-child {
  border-top: 0;
}
.card .item:last-child {
  border-bottom: 0; 
}