.list-item-note {
    position: absolute;
    right: 36px;
    top: 0px;
    font-size: 14px;
}
.list__item--tight {
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    min-height: inherit;
    line-height: inherit;
}
.list__item--tight:active {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.list__item--tight:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.item {
    padding: 10px;
    line-height: 1;
}
.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
.item-title {
    font-size: 16px;
    font-weight: 500;
}
.item-desc {
    font-size: 15px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 0px 0 0;
}
.item-unread {
    font-weight: 700;
    color: #1f1f21;
}
.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}
.lucent {
    opacity: 0.4;
}
.lucent-subtle {
    opacity: 0.7;
}
.switch--list-item {
    margin-right: 0px;
}
.unreadMessage {
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height:10px;
    background: #3399ff;
}
.my-class {
    padding: 10px 0px 10px 0px;
    background-color: #C8C8C8;
    font-size:10%;
}
.my-message-container {
    width:100vw;
    padding:10px;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:4px;
    background-color:white;
    color:black;
    margin-left:1px;
}
#bottomMessage {
    margin-top: 30vh;
    padding: 0;
}
@media only screen and (max-device-width : 321px) {
    .secure-message, .unattended-message{
        font-size: 14px;
    }
    #lock-logo {
        display: none;
    }
}
.info-modal {
    border-radius: 25px;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    width: 90%;
    height: 60%;
    margin: auto;
    position: relative;
    overflow: scroll !important;
}
.info-modal-text {
    background: rgba(0,0,0,0.0);
    padding: 0px;
    height: 85%;
    overflow: scroll !important;
}
.info-modal-title {
    margin: 5%;
    text-align: center;
}
.info-modal-text-title {
    margin: 5%;
    text-align: left;
}
.info-modal-text-description {
    margin-left: 10%;
    padding-right: 2%;
    text-align: left;
    white-space: pre-line;
}

