<ons-page ng-controller="ForgotPasswordController as forgot" style="background-color: white">
	<ons-toolbar fixed-style>
		<div class="left">
			<ons-back-button>{{"BACK"|translate}}</ons-back-button>
		</div>
		<div class="center">{{"FORGOTPASSWORD"|translate}}</div>
	</ons-toolbar>
	<div align="center">
		<img src="./img/ceadarsLogo.png" style="width:90vw;height:auto;max-width:800px; margin-top: 10px">
	</div>
	<div class="container" align="center" style="margin-top:5vh">
		<div class="form-group style-4" align="center"  >
			<label name="text">{{"ENTEREMAIL"|translate}}</label><br/>
			<!--<i class="ion-email iconHomeView" style="color:#387A36"></i>-->
			<input type="email" required ng-model="forgot.email"  placeholder="{{'EMAIL'|translate}}" />
			<br/><br/>
			<ons-button class="shadow-2" modifier="large" style="background-color: #4CAF50; font-size: x-large; font-weight: bolder;"
						ng-click="forgot.submitPasswordReset()"
						ng-disabled="forgot.alert.type=='success'">
				{{"RESETPASSWORD"|translate}}
			</ons-button>
			<uib-alert style="margin-top: 30px" ng-show="forgot.alert.type" type="{{forgot.alert.type}}" >{{forgot.alert.content|translate}}</uib-alert>
		</div>
	</div>
</ons-page>
