<ons-page style="background-color:white;width:100vw;height:100vh" ng-controller="LoginController as login">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"LOGIN"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>
    <div ng-include="'./views/login/popover-security.html'"></div>
    <ons-row align="center" style="height:70vh;margin:0;top:0">
        <ons-col align="center">
            <div align="center">
                <img src="./img/Opal_Name_Logo_Green_Transparent.png" style="margin-top: 1%; width:auto;max-width:70%;height:auto">
                <!--<img src="./img/ceadarsLogo.png" style="margin-top: 10%; max-width:300px;width:90vw;height:auto">-->
            </div>
            <!--<div class="container" style="margin-top: 20px">-->
            <div class="container" style="margin-top: 1%">
                <div align="center">
                    <div>
                        <div style="width: 100%" class="style-4">
                            <input placeholder='{{"EMAIL"|translate}}' name="email" ng-model="login.email" type="email" required ng-change=login.clearErrors()></div>
                        <br/>
                        <div style="width: 100%" class="style-4">
                            <input name="password" ng-model="login.password" placeholder='{{"PASSWORD"|translate}}' type="password" required ng-change="login.clearErrors()"></div>
                        <br/>
                        <ons-list>
                            <ons-list-item modifier="chevron" ng-click="login.goToHospital()" ng-style="!login.isThereSelectedHospital() && {'background-color': 'rgba(241, 241, 88, 0.25882352941176473)'}">
                                {{"HOSPITAL"|translate}}
                                <span class="list-item-note lucent">{{login.getSelectedHospitalAcronym()|translate}}</span>
                            </ons-list-item>
                        </ons-list>
                        <br/>
                        <div ng-show="login.alert.type">
                            <uib-alert type="{{login.alert.type}}">{{login.alert.message|translate}}</uib-alert>
                        </div>
                    </div>

                    <div>{{"TRUST_DEVICE"|translate}}
                        <span><ons-switch var="login.trustSwitch" ng-model="login.trusted"></ons-switch></span>
                    </div>
                    <div style="max-width:400px; margin-top: 5%">
                        <ons-button class="shadow-2" modifier="large" style="background-color: #4CAF50; font-size: x-large; font-weight: bolder;" ng-click="login.submit()" ng-disabled="login.loading">
                            <span ng-if = "!login.loading" > {{"LOGIN"|translate}} </span>
                            <span ng-if = "login.loading" > {{"LOGGINGIN"|translate}} <ons-icon icon="ion-load-d" spin="true"></ons-icon></span>
                        </ons-button>
                    </div>

                    <div style="text-align:center;">
                        <button class="button button--large--quiet" ng-click="initNavigator.pushPage('./views/login/forgot-password.html',{})" >
                            {{"FORGOTPASSWORD"|translate}}
                        </button>
                    </div>
                    <br>
                </div>
            </div>
        </ons-col>
    </ons-row>

    <ons-modal var="loginerrormodal">
        <h4>{{"SERVERERROR"|translate}}</h4>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="unattended-message">{{"PASSWORDSERVERERROR"|translate}}</p>
        <ons-button style="margin-top: 5%; font-size: 22px; background-color: #4caf50" ng-click="login.goToReset()">{{"RETRYRESET"|translate}}</ons-button>
        <br>
        <ons-button style="margin-top: 5%; font-size: 22px;" ng-click="login.goToInit()">{{"GOTOHOME"|translate}}</ons-button>
    </ons-modal>

    <ons-modal var="wronghashmodal">
        <h4>{{"ERROR"|translate}}</h4>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="unattended-message">{{"RESETTRUSTEDMESSAGE"|translate}}</p>
        <br>
        <ons-button style="margin-top: 5%; font-size: 22px;" ng-click="wronghashmodal.hide()">{{"OK"|translate}}</ons-button>
    </ons-modal>
</ons-page>
