<ons-page ng-controller="SetNewPasswordController as new">
    <ons-toolbar>
        <div class="left">
            <ons-back-button ng-hide="new.resetSuccess">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"NEWPASSWORD"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>
    <div align="center">
        <img src="./img/ceadarsLogo.png" style="width:90vw;height:auto;max-width:800px">
    </div>
    <div class="container" align="center" style="margin-top:10px">
        <form name="formPassword" novalidate>
            <div class="form-group" align="center">
                <label name="text">{{"SETPASSWORDLABEL"|translate}}:</label><br />
                <small>{{'RESETINSTRUCTIONS'|translate}}</small>
                <div style="width: 100%; margin-top: 15px; margin-bottom: 20px;" class="style-4">
                    <input class="text-input" type="password" name="text" ng-model="new.newValue" ng-change="new.evaluatePassword()" placeholder="{{'SETPASSWORDPLACEHOLDER'|translate}}" />
                </div>
                <br>
                <div style="width: 100%; margin-top: 15px; margin-bottom: 20px;" class="style-4">
                    <input class="text-input" type="password" name="text" ng-model="new.validateNewValue" ng-change="new.evaluatePassword()" placeholder="{{'REENTER_PASSWORD'|translate}}" />
                </div>
                <br /><br />
                <ons-button class="shadow-2" modifier="large" style="background-color: #4CAF50; font-size: x-large; font-weight: bolder;"
                            ng-click="new.submitNewPassword(newValue)"
                            ng-disabled="new.alert.type=='success' || new.invalidPassword || new.submitting"
                            ng-if="!new.resetSuccess">
                    {{"SETPASSWORDBUTTON"|translate}}
                </ons-button>
                <ons-button class="shadow-2" modifier="large" style="background-color: #2196f3; font-size: x-large; font-weight: bolder;"
                            ng-click="new.goToLogin()"
                            ng-if="new.resetSuccess">
                    {{"HEAD_TO_LOGIN"|translate}}
                </ons-button>
                <br>
            </div>
        </form>
        <uib-alert ng-show="new.alert.type" type="{{new.alert.type}}" style="margin-top: 20px">{{new.alert.content|translate}}</uib-alert>
    </div>
</ons-page>
