<ons-page style="background-color:white;width:100vw;height:100vh" ng-controller="SecurityQuestionController as security">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"SECURITYQUESTION"|translate}}</div>
    </ons-toolbar>
    <ons-row align="center" style="height:70vh;margin:0;top:0">
        <ons-col align="center" style="margin:0;top:0">
            <div align="center">
                <img src="./img/ceadarsLogo.png" style="max-width:300px;width:90vw;height:auto">
            </div>
            <div class="container" align="center" style="margin-top:20px">
                <form name="formPassword"  novalidate>
                    <div class="form-group" align="center"  style="margin-top: 20px">

                        <div ng-show="security.passwordReset" style="width: 100%; margin-top: 15px; margin-bottom: 20px;" class="style-4">
                            <label>Please enter your SSN / Entrer votre SSN</label><br/>
                            <input class="text-input" type="text" name="text" ng-model="security.ssn" placeholder="{{'ENTERSSNPLACEHOLDER'|translate}}" />
                        </div>

                        <label name="text">{{ security.Question }} </label><br/>
                        <div style="width: 100%; margin-top: 15px" class="style-4">
                            <input class="text-input" name="text" ng-model="security.answer" ng-change="security.clearErrors" placeholder="{{'ENTERANSWERPLACEHOLDER'|translate}}" />
                            <br/><br/>
                        </div>
                        <button class="button button--large shadow-2" ng-disabled="security.submitting||security.threeTries" style="background-color: #4CAF50; font-weight: bolder;" ng-click="security.submitAnswer(security.answer)">{{"CONTINUE"|translate}}</button>
                        <uib-alert ng-show="security.alert.type" type="{{security.alert.type}}">{{security.alert.content|translate}}</uib-alert>
                    </div>
                </form>
            </div>
        </ons-col>
    </ons-row>
</ons-page>
