node_modules
bower_components
credentials.js
*.swp
.DS_Store
.idea/
.vscode/
/backend/listener/logs/*.log
/www/js/config.js
/backend/listener/config.json

/www/lib/bower_components/
/www/lib/bower_components/*

/dest/
/backend/Screen/
/backend/OpalAdmin/

heartbeat.log*
heartbeatdb.log*
/config.xml

buildOpal.sh
CHANGELOG.md

.vs/
.vscode/
