.idea
*.swp
.DS_Store
.firebase/
.vs/
.vscode/
/node_modules
/plugins
/platforms
/opal.config.js
/config.xml
/google-services.json
/GoogleService-Info.plist
/web-version.json
/www

# Environments
env/*/*
