{
  "branches": ["main"],
  "repositoryUrl": "git@github.com:opalmedapps/opal-app.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec", {
        "prepareCmd": "node -e \"require('./opal-env.setup.js').setVersionAndBuildAllEnv('${nextRelease.version}', '1')\""
      }
    ],
    [
      "@semantic-release/git", {
        "message": "chore(release): version ${nextRelease.version}\n\n${nextRelease.notes}",
        "assets": ["CHANGELOG.md", "./env/config.xml", "./env/*/opal.config.js"]
      }
    ]
  ],
  "tagFormat": "v${version}"
}
