{
  "branches": ["QSCCD-946.SB.semantic-release"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog"
  ],
  "dryRun": false,
  "tagFormat": "test${version}"
}
