.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 0px;
}

.list-item-note {
    position: absolute;
    right: 36px;
    top: 0px;
    font-size: 14px;
}

.updateMessage-success {
    border:1px solid;
    border-radius:5px;
    border-color: #3c763d;
    color: #3c763d;
    padding:1vh;
}
.updateMessage-error {
    border:1px solid;
    border-radius:5px;
    border-color: #a94442;
    color: #a94442;
    padding:1vh;
}

.relationship-list--status {
    color: gray;
    font-size: 1.5rem !important;
}
