/* See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary */
/* Show a grey border box when the details are closed */
.acknowledgements details {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 2px 6px;
}

/* Hide the border box when the details are open */
.acknowledgements details[open] {
    background-color: transparent;
    border: none;
}

/* Arrow in front of details summary (closed) */
.acknowledgements details summary:before {
    color: #444;
    content: "▶";
    /* The math font family allows the triangle to display on mobile (this character is not available in Roboto) */
    font-family: math;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 4px;
}

/* Arrow in front of details summary (open) */
.acknowledgements details[open] summary:before {
    content: "▼";
}
