.forgot-password--container {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.forgot-password--logo {
    margin-top: 10px;
}

.forgot-password--email {
    margin-top: 10px;
}

.forgot-password--button {
    margin-top: 40px;
}

.forgot-password--alert {
    margin-top: 10px;
}
