#about-appointment {
    padding: 3px 10px;
}

#about-appointment ons-icon {
    color: #666;
    margin: 0 6px;
}

/* Darken the chevron slightly to be visible against the background */
#about-appointment::before {
    color: #A6A6A6;
}

#map-desc {
    margin: 14px 0;
}
