.questionnaires-list {
    margin-left: 15px;
}

.individual-questionnaires {
    margin-bottom: 2.4vh;
}

.questionnaires-list-date {
    color: #757575;
}

.questionnaires-list-text {
    word-wrap: break-word;
}