.security-question--row {
    height: 70vh;
    margin: 0;
    text-align: center;
    top: 0;
    width: 100%;
    touch-action: manipulation;
}

.security-question--col {
    margin: 0;
    top: 0;
}

.security-question--container {
    margin-top: 40px;
}

.security-question--answer-box {
    margin-top: 15px;
}

.security-question--button {
    margin-top: 40px;
}

.security-question--alert {
    margin-top: 10px;
}

.security-question--modal {
    padding: 10px;
}

.security-question--modal-text {
    margin-top: 5%;
}

.security-question--modal-button {
    font-size: 22px;
    margin: 5%;
}
