.tab {
    line-height: 1;
}

.tab-icon {
    font-size: 30px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    line-height: 28px;
}

.tab-icon--profile {
    font-size: 0.8rem;
    padding: 9px;
    border-radius: 100%;
    color: #ffffff;
}

.tab-label {
    line-height: 11px;
    vertical-align: top;
    font-size: 11px;
}
