<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Check In</div>
  </ons-toolbar>

  <ons-row style="margin-top:100px">
    <ons-col>
    <div align="center" class="container">
      <div align="center" style="top: 50%;left:20%; position: absolute;" ng-controller="CheckInController">
      <p align="center" style="color: #999; font-size: 13px;">The Date and Time Of Your Next Appointment is: {{date|date}} at {{date|date:'h:mm a'}}</p>
      <ons-icon ng-show="sameDay && !infoReady" icon="spinner" size="40px" spin="true"  fixed-width="true"></ons-icon>
      <ons-button type="button" ng-show="infoReady" ng-disabled="disableButton" ng-click="checkIn()" class="btn btn-success btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i>&nbsp;Check In</ons-button>
      <p ng-show="sameDay && !checkInAllowed && !firebaseCheckInUpdated &&infoReady">Today is your appointment day, check in allowed once you are in the vecinity of the cancer center.</p>
      <p ng-show="!sameDay ">Checkin allowed on the day of your appointment.</p>
      <p ng-show="sameDay && checkInAllowed && !firebaseCheckInUpdated">Check in to your appointment.</p>
      <p ng-show="sameDay && firebaseCheckInUpdated">You have successfully checked in, proceed to waiting room.</p>
      <p ng-show="errorFirebase">Error accessing check-in pass, procceed to kiosk.</p>
     
      </div>
      </div>
    </ons-col>
  </ons-row>
</ons-page>