<ons-page ng-controller="homeController">
  <ons-toolbar>
   <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Home</div>
  </ons-toolbar>

          <ons-pull-hook ng-action="load($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
      </ons-pull-hook>

  <ons-row align="center" style="margin-left:30px; text-align: center;">
    <ons-col>
<div class="jumbotron">
  <div >
   <h1>Welcome, <strong>{{FirstName}} {{LastName}}</strong></h1>
   <h4>My Email is: {{Email}}</h4>
    <h4>My Telephone number is: {{TelNum}}</h4>
   <img ng-src="{{picture}}" alt="Description" />
  </div>
      </ons-col>
  </ons-row>
</ons-page>