<!--Logos for app-->
<img src="./img/muhc-logo-text.png">
<h5 style="color:#2E8AE6">Medical Physics and Radiation Oncology</h5>
<!--<p ng-if="2+2===4">{{name}}</p>-->

<div class="container">
  <!--Creates form with pertinent fields, submits via submit-->
  <form name="form" ng-submit="submit()" novalidate>

    <label name="text">Enter your username and password:</label>
    <br>
    <div class="input-group">
      <!--  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->

      <input class="text-input" id="emailField" type="email" name="email" ng-model="signup.email" placeholder="Email Address" />
      <br>

      <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i> </span>-->
      <input class="text-input" id="passwordField" type="password" placeholder="Password" name="password" ng-model="signup.password" ng-minlength=3 ng-maxlength=20 />
      <br>

      <div style="text-align:left;padding-left:10px" align="left" ><a class="left" role="button" href  style="font-size:10px;color:#0066FF" ng-click="forgotPassword()">Forgot Password?</a></div><br>
      <button class="btn btn-primary btn-group btn-group-justified" type="submit" id="submit">Login</button>
      <br>
    </div>

  </form>
  <div>


    <!--<p>{{userId}}</p>-->
    <div id="addMe"></div>