<ons-page ng-controller="IndividualMaterialController as edu">
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button ng-click="edu.clickBack()">{{"BACK"|translate}}</ons-back-button></div>
        <div class="center">{{edu.edumaterial.Type}}</div>
        <div class="right" ng-if="edu.edumaterial.ShareURL_EN && edu.edumaterial.ShareURL_EN!==''">
            <ons-toolbar-button ng-click="popoverSharing.show('#buttonShareMaterial');" id="buttonShareMaterial">
                <ons-icon icon="fa-share"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div id="{{edu.recursive_step}}" ng-init="edu.scrollDown()" style="height: 100%; width: auto; overflow: auto;">

        <!-- Rating bar-->
        <ons-list >
            <ons-list-item class="item">
                <div style="line-height:1" align="center">
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle" style="font-size:20px" ng-if="edu.edumaterial.ReadStatus==0">{{edu.edumaterial.Name}}</span>
                        <span class="item-desc" ng-class="fontSizeTitle" style="font-size:20px" ng-if="edu.edumaterial.ReadStatus==1">{{edu.edumaterial.Name}}</span>
                    </header>
                    <div style="text-align: center;margin-top:10px">
                        <rate-material ser-num="edu.edumaterial.EducationalMaterialControlSerNum"></rate-material>
                    </div>
                </div>
            </ons-list-item>
        </ons-list>

        <!-- Booklet: click to open pdf -->
        <ons-list class="settings-list" ng-hide="edu.tableOfContents||edu.edumaterial.Type === 'Video'||edu.edumaterial.Type === 'Vidéo'||edu.isIndividualHtmlPage || edu.edumaterial.EducationalMaterialType_EN === 'Package'">
            <ons-list-item class="item" ng-click="edu.goToEducationalMaterial()" style="background-color: #F9F9F9; border: none !important;">
                <div align="center">
                    <div>
                        <img class="animated swing" style="height:175px; margin-top: 25%;" src="./img/pdf.jpeg">
                        <h4 style="margin-top: 2%">{{"CLICKTOOPEN" | translate}}</h4>
                    </div>
                    <h3 ons-if-platform="android" align="center" ng-class="fontSizeTitle">{{"TAP_DL"|translate}}</h3>
                </div>
            </ons-list-item>
        </ons-list>

        <!-- Package [Added by Tongyou (Eason) Yang] -->
        <ons-list ng-if="edu.edumaterial.EducationalMaterialType_EN === 'Package'">

            <!-- Loading wheel while the package contents is being fetched. -->
            <div  align="center" style="margin-top:10vh" ng-show="edu.loadingContents">
                <svg class="progress-circular">
                    <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
                </svg>
            </div>

            <!-- Message if the package contents could not be fetched from the server. -->
            <div class="ons-row" align="center" ng-show="edu.errorLoadingContents" style="margin-top: 50px">
                <div class="ons-col" align="center">
                    <p ng-class="fontSizeTitle" style="color: grey; margin-top: 5vh;">{{"ERROR_GETTING_EDU_MATERIAL"|translate}}</p>
                </div>
            </div>

            <!-- Contents -->
            <ons-list-item modifier="chevron" class="item" ng-repeat = "e in edu.edumaterial.PackageContents" ng-click="edu.goInPackage(e)">
                <ons-row align="center">
                    <ons-col width="60px" align="center">
                        <div>
                            <i ng-class="e.Icon" ng-style="{color: e.Color}" style="font-size: 26px; margin-left: 15px;"></i>
                        </div>
                    </ons-col>

                    <ons-col>
                        <header>
                            <span class="item-desc" ng-class="fontSizeTitle">{{e.Name}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc" >{{e.Type}}</p>
                    </ons-col>

                </ons-row>
            </ons-list-item >

        </ons-list>

        <!-- Booklet: table of contents -->
        <ons-list style="margin: 10px 0 0 0" ng-hide="!edu.tableOfContents">
            <ons-list-header class="person-list-header" ng-class="fontSizeTitle"  >{{"TABLEOFCONTENTS"|translate}}</ons-list-header>

            <ons-list-item modifier="chevron" ng-repeat= "edumaterial in edu.tableOfContents" class="item" ng-click="edu.goToEducationalMaterial($index)">
                <ons-row align="center">
                    <ons-col width="60px" align="center">
                        <div style="margin-left:20px">
                            <strong>{{$index+1}}</strong>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{edumaterial.Name}}</span>
                        </header>
                    </ons-col>
                </ons-row>
            </ons-list-item >

        </ons-list>

        <!-- Video -->
        <ons-list class="settings-list" ng-if="edu.edumaterial.Type === 'Video' || edu.edumaterial.Type === 'Vidéo'">
            <ons-list-item class="item">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{edu.edumaterial.Url|trustThisUrl}}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen">
                    </iframe>
                </div>
            </ons-list-item>
        </ons-list>


        <!-- HTML page (Booklet, Factsheet, etc.) -->
        <ons-list class="settings-list" ng-if="edu.isIndividualHtmlPage" >

            <!-- Loading wheel while the material contents is being fetched. -->
            <div  align="center" style="margin-top:10vh" ng-show="edu.loadingContents">
                <svg class="progress-circular">
                    <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
                </svg>
            </div>

            <!-- Message if the material contents could not be loaded. -->
            <div class="ons-row" align="center" ng-show="edu.errorLoadingContents" style="margin-top: 50px">
                <div class="ons-col" align="center">
                    <p ng-class="fontSizeTitle" style="color: grey; margin-top: 5vh;">{{"ERROR_GETTING_EDU_MATERIAL"|translate}}</p>
                </div>
            </div>

            <!-- Contents -->
            <ons-list-item class="item">
                <div class="container" style="background-color:white;overflow-y:scroll" ng-style="{height:edu.heightSection}"   ng-show="edu.edumaterial.Content">
                    <div ng-bind-html="edu.edumaterial.Content" ng-class="fontSizeDesc"></div>
                </div>
            </ons-list-item>

        </ons-list>

    </div>

</ons-page>

