<ons-popover direction="up down" cancelable animation="none" ng-style="{'height':(edu.edumaterial.Type !=='Video')?'30px':''}" style="min-height:30px">
    <div style="text-align: center" >
        <ons-list>
            <ons-list-item class="item" modifier="tappable" ng-click="edu.share()">
                <ons-row style="padding:0;margin:0;height:30px" align="center">
                    <ons-col width="40px">
                        <i class="fa fa-share"></i>
                    </ons-col>
                    <ons-col>
                        {{"SHARE"|translate}}
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-popover>
