<ons-gesture-detector ng-swipeleft="onGestureEducation('Swipe Left')"
                      ng-swiperight="onGestureEducation('Swipe Right')"
                      ng-swipedown="onGestureEducation('Swipe Down')"
                      ng-swipeup="onGestureEducation('Swipe Up')"
                      ng-hold="onGestureEducation('Hold')"
                      ng-doubletap="onGestureEducation('Double Tap')">
<ons-navigator var="educationNavigator" ng-cloak page="./views/education/education.html"></ons-navigator>
</ons-gesture-detector>