<ons-gesture-detector ng-swipeleft="onGestureGeneral('Swipe Left')"
                      ng-swiperight="onGestureGeneral('Swipe Right')"
                      ng-swipedown="onGestureGeneral('Swipe Down')"
                      ng-swipeup="onGestureGeneral('Swipe Up')"
                      ng-hold="onGestureGeneral('Hold')"
                      ng-doubletap="onGestureGeneral('Double Tap')">
<ons-navigator var="generalNavigator" ng-cloak page="./views/general/general.html"></ons-navigator>
</ons-gesture-detector>