<!--<ons-gesture-detector ng-swipeleft="onGesturePersonal('Swipe Left')"-->
                      <!--ng-swiperight="onGesturePersonal('Swipe Right')"-->
                      <!--ng-swipedown="onGesturePersonal('Swipe Down')"-->
                      <!--ng-swipeup="onGesturePersonal('Swipe Up')"-->
                      <!--ng-hold="onGesturePersonal('Hold')"-->
                      <!--ng-doubletap="onGesturePersonal('Double Tap')">-->
<ons-navigator var="personalNavigator" ng-cloak page="./views/personal/personal.html"></ons-navigator>
<!--</ons-gesture-detector>-->