<ons-gesture-detector ng-swipeleft="onGestureSettings('Swipe Left')"
                      ng-swiperight="onGestureSettings('Swipe Right')"
                      ng-swipedown="onGestureSettings('Swipe Down')"
                      ng-swipeup="onGestureSettings('Swipe Up')"
                      ng-hold="onGestureSettings('Hold')"
                      ng-doubletap="onGestureSettings('Double Tap')">
<ons-navigator var="settingsNavigator" ng-cloak page="./views/settings/settings.html"></ons-navigator>
</ons-gesture-detector>