<ons-page ng-controller="InfoTabController as info">
    <generic-toolbar title="{{'INFO'|translate}}" style-class="fontSizeTitle">
        <left-content>
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </left-content>
    </generic-toolbar>

    <div style="margin-top: 10vh; padding: 0 20px 0 20px" class="text-center">
        <div ng-if="info.isIcon()">
            <ons-icon icon="{{info.view.icon}}" style="font-size: 80px; color: #2196f3"></ons-icon>
        </div>
        <div ng-if="!info.isIcon()">
            <img style="width: 80px" ng-src="{{info.view.icon}}" />
        </div>
        <p class="item-title" ng-class="fontSizeTitle" style="font-weight: bold" translate="{{info.view.name}}"></p>
        <div class="container" style="text-align: center" ng-class="fontSizeDesc">
            {{info.view.description|translate}}
        </div>
    </div>

    <div ng-controller="RelationshipTypeController as ctrl">
        <!-- Error message -->
        <div ng-show="ctrl.message" align="center" style="width: 95%; margin: 10px auto" ng-class="fontSizeDesc">
            <uib-alert type="{{ctrl.message}}">{{ctrl.message|translate}}</uib-alert>
        </div>

        <!-- List of Caregivers/Patients -->
        <div style="background-color: white; margin: 10px auto 10px; max-width: 75%" class="container: text-center">
            <ons-list ng-if="!ctrl.message" ng-class="fontSizeDesc">
                <div class="container">
                    <!-- Role and Description -->
                    <ons-list-item ng-repeat="relationshipType in ctrl.relationshipTypes" class="item">
                        <ons-row>
                            <ons-col>
                                <p><strong>{{relationshipType.name}}</strong>: {{relationshipType.description|translate}}</p>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </div>
            </ons-list>
        </div>
    </div>
</ons-page>
