<ons-page style="background-color: white" ng-controller="PatientsController as Ctrl" ng-cloak>
    <generic-toolbar title="{{'RELATIONSHIPS_PATIENTS'|translate}}" style-class="fontSizeTitle">
        <right-content>   
            <ons-toolbar-button ng-click="settingsNavigator.pushPage('views/tabs/info-page-tabs.html',{id:'patients'})">
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
        </right-content> 
    </generic-toolbar>


    <div ng-show="Ctrl.error" align="center" style="width: 95%; margin: 10px auto" ng-class="fontSizeDesc">
        <uib-alert type="{{Ctrl.alert.type}}">{{Ctrl.alert.message|translate}}</uib-alert>
    </div>
    
    <div ng-if="Ctrl.message" class="container" align="center">
        <p style="margin-top:25vh;color:grey">{{Ctrl.message|translate}}</p>
    </div>

    <ons-list ng-if="!Ctrl.message">
        <ons-list-item ng-repeat="patient in Ctrl.patients" class="item">
            <ons-row align="center">
                <div class="patient-content">
                    <div class="patient-content--icon" ng-style="{'background-color': Ctrl.getIconColor($index)}">
                        {{Ctrl.getInitials(patient.firstName, patient.lastName)}}
                    </div>
                    <div class="patient-content--text">
                        <p ng-class="fontSizeTitle">{{patient.firstName}} {{patient.lastName}}</p>
                        <p ng-class="fontSizeDesc">Access {{patient.status}}</p>
                    </div>
                </div>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>