<ons-page style="background-color: white" ng-controller="ChangeSettingController as Ctrl" ng-cloak>
    <generic-toolbar title="{{Ctrl.title|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <div style="margin-top: 3%; margin-bottom: 3%; text-align: center">
        <p ng-show="Ctrl.newUpdate" ng-class="Ctrl.alertClass" >{{Ctrl.updateMessage|translate}}</p>
    </div>
    <!-- PASSWORD CHANGE -->
    <div class="container" ng-show="Ctrl.value === 'PASSWORD'">
        <p ng-class="fontSizeTitle" translate ="{{Ctrl.instructionOld}}"></p>
        <div class="change-password--div style-4" style="width: 100%;">
            <password-input>
                <input 
                id="currentPassword"
                ng-minlength="1"
                type="password"
                ng-class="fontSizeDesc"
                placeholder="{{'ENTEROLDPASSWORDPLACEHOLDER' | translate}}"
                ng-model="Ctrl.oldValue"
                ng-change="Ctrl.passwordFieldChange()">
            </password-input>
        </div>
        <div style="margin-top: 5vh">
            <p ng-class="fontSizeTitle" translate ="{{Ctrl.instruction}}"></p>
            <p class="change-password--instructions" ng-class="fontSizeDesc">{{"RESETINSTRUCTIONS" | translate}}</p>
            <div class="change-password--div style-4">
                <!-- NEW PASSWORD INPUT -->
                <password-input>
                    <input
                    id="newPassword"
                    ng-minlength="1"
                    type="password"
                    ng-class="fontSizeDesc"
                    class="style-4"
                    placeholder="{{'SETNEWPASSWORDPLACEHOLDER' | translate}}"
                    ng-model="Ctrl.newValue"
                    ng-change="Ctrl.passwordFieldChange()">
                </password-input>
                <password-strength-checker
                    password="Ctrl.newValue"
                    is-valid="Ctrl.passwordIsValid"
                    error-message-keys="Ctrl.passwordErrors">
                </password-strength-checker>
                <p class="change-password--field-error" ng-class="fontSizeDesc" ng-if="Ctrl.passwordErrors">
                    {{Ctrl.passwordErrors[0] | translate}}
                </p>

                <!-- NEW PASSWORD CONFIRMATION -->
                <password-input>
                    <input
                    id="passwordConfirmation"
                    ng-minlength="1"
                    type="password"
                    ng-class="fontSizeDesc"
                    class="style-4"
                    placeholder="{{'REENTERPASSWORDPLACEHOLDER' | translate}}"
                    ng-model="Ctrl.newValueValidate"
                    ng-change="Ctrl.passwordFieldChange()">
                </password-input>
                <p class="change-password--field-error" ng-class="fontSizeDesc" ng-if="Ctrl.newValueValidate && Ctrl.passwordConfirmationInvalid()">
                    {{"PASSWORD_INVALID_MATCH" | translate}}
                </p>

                <!-- NEW PASSWORD SUBMIT BUTTON -->
                <button class="change-password--submit-button button button--large" ng-disabled="Ctrl.disableButton" ng-click="Ctrl.changePassword()">
                    {{"UPDATEPASSWORDBUTTON"|translate}}
                </button>
            </div>
        </div>
    </div>
    <ul class="list">
        <div ng-show="Ctrl.value === 'LANGUAGE'">
            <li class="list__header" translate ="{{Ctrl.instruction}}" ng-class="fontSizeDesc"></li>
            <li  class="list__item list__item--tappable" ng-repeat="option in Ctrl.settingsLanguageOptions">
                <label class="radio-button radio-button--list-item">
                    <input ng-change="Ctrl.changeLanguage(option)" ng-model="Ctrl.pickLanguage" type="radio" value="{{option}}">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark fontDescLarge"></div>
                    {{option}}
                </label>
            </li>
        </div>
        <div ng-show="Ctrl.value === 'FONTSIZE'">
            <li class="list__header" translate ="{{Ctrl.instruction}}" ng-class="fontSizeDesc"></li>
            <li class="list__item list__item--tappable" ng-repeat="option in Ctrl.settingFontOptions">
                <label  class="radio-button radio-button--list-item">
                    <input ng-change="Ctrl.changeFont(option.size)" ng-model="Ctrl.pickFont" type="radio" value="{{option.size}}">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark" ng-class="option.style"></div>
                    <span ng-class="option.style">{{option.text | translate}}</span >
                </label>
            </li>
        </div>
    </ul>
</ons-page>
