<ons-page style="background-color: white" ng-controller="ChangeSettingController as Ctrl" ng-cloak>
    <generic-toolbar title="{{Ctrl.title|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <div style="margin-top: 3%; margin-bottom: 3%; text-align: center">
        <p ng-show="Ctrl.newUpdate" ng-class="Ctrl.alertClass" >{{Ctrl.updateMessage|translate}}</p>
    </div>
    <div class="container" ng-show="Ctrl.value === 'PASSWORD'">
        <p ng-class="fontSizeTitle" translate ="{{Ctrl.instructionOld}}"></p>
        <div class="style-4" style="width: 100%;">
            <password-input>
                <input 
                id="currentPassword"
                ng-minlength="1"
                type="password"
                ng-class="fontSizeDesc"
                placeholder="{{Ctrl.placeHolderCurrent|translate}}"
                ng-model="Ctrl.oldValue"
                ng-change="Ctrl.validatePassword()">
            </password-input>
        </div>
        <div style="margin-top: 5vh">
            <p ng-class="fontSizeTitle" translate ="{{Ctrl.instruction}}"></p>
            <small style="color: red; margin-bottom: 30px" ng-class="fontSizeDesc">{{"RESETINSTRUCTIONS" | translate}}</small>
            <div class="style-4" style="width: 100%;">
                <password-input>
                    <input
                    id="newPassword"
                    ng-minlength="1"
                    type="password"
                    ng-class="fontSizeDesc"
                    class="style-4"
                    placeholder="{{Ctrl.placeHolderNew|translate}}"
                    ng-model="Ctrl.newValue"
                    ng-change="Ctrl.validatePassword()">
                </password-input>
            </div>
            <br>
            <div class="style-4" style="width: 100%;">
                <password-input>
                    <input 
                    id="passwordConfirmation"
                    ng-minlength="1"
                    type="password"
                    ng-class="fontSizeDesc"
                    class="style-4"
                    placeholder="{{Ctrl.placeHolderValidate|translate}}"
                    ng-model="Ctrl.newValueValidate"
                    ng-change="Ctrl.validatePassword()">
                </password-input>
            </div>
        </div>
        <button class="button button--large" ng-disabled="Ctrl.disableButton" ng-click="Ctrl.changePassword()" style="margin: 10px auto 0;">{{"UPDATEPASSWORDBUTTON"|translate}}</button><br>
    </div>
    <ul class="list">
        <div ng-show="Ctrl.value === 'LANGUAGE'">
            <li class="list__header" translate ="{{Ctrl.instruction}}" ng-class="fontSizeDesc"></li>
            <li  class="list__item list__item--tappable" ng-repeat="option in Ctrl.settingsLanguageOptions">
                <label class="radio-button radio-button--list-item">
                    <input ng-change="Ctrl.changeLanguage(option)" ng-model="Ctrl.pickLanguage" type="radio" value="{{option}}">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark fontDescLarge"></div>
                    {{option}}
                </label>
            </li>
        </div>
        <div ng-show="Ctrl.value === 'FONTSIZE'">
            <li class="list__header" translate ="{{Ctrl.instruction}}" ng-class="fontSizeDesc"></li>
            <li class="list__item list__item--tappable" ng-repeat="option in Ctrl.settingFontOptions">
                <label  class="radio-button radio-button--list-item">
                    <input ng-change="Ctrl.changeFont(option.size)" ng-model="Ctrl.pickFont" type="radio" value="{{option.size}}">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark" ng-class="option.style"></div>
                    <span ng-class="option.style">{{option.text | translate}}</span >
                </label>
            </li>
        </div>
    </ul>
</ons-page>
