<ons-navigator var="settingsNavigator" ng-cloak>
<ons-page ng-controller="accountSettingController" ng-device-backbutton="accountDeviceBackButton()">

    <ons-toolbar>
      <div class="center">{{"ACCOUNT"|translate}}</div>
    </ons-toolbar>
  <!--<ons-pull-hook ng-action="load2($done)" var="loader">
          <span ng-switch="loader.getCurrentState()">
            <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> {{"PULLDOWNTOREFRESH"|translate}}</span>
            <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon>{{"RELEASETOREFRESH"|translate}}</span>
            <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> {{"LOADINGDATA"|translate}}...</span>
          </span>
  </ons-pull-hook>-->
  <div class="container">
    <a ng-click="tabbar.setActiveTab(4)">
  <ons-row style="padding:5px">
    <ons-col width="90px">
        <div class="image-profile-wrapper">
          <img ng-src="{{ProfilePicture}}" class="image-profile">
        </div>
    </ons-col>
    <ons-col>
      <div>
      <p><strong>{{FirstName}} {{LastName}}</strong><br>
      <span class="profile-id" ng-class="fontSizeDesc">{{"PATIENTID"|translate}} {{PatientId}}</span>
      </p>
    </div>
    </ons-col>
  </ons-row>
</a>
</div>
        
        <ons-list modifier="inset" class="settings-list">
         <ons-list-item modifier="chevron" ng-click="goToGeneralSettings()" ng-class="fontSizeDesc">
           {{"ABOUT"|translate}}
          </ons-list-item>
        </ons-list>
        <div class="settings-header" ng-class="fontSizeTitle">{{"PERSONAL"|translate}}</div>

        <ons-list modifier="inset" class="settings-list">
         <ons-list-item modifier="chevron" ng-click="settingsNavigator.pushPage('views/settings/update-account-field.html', {param:'Alias'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"ALIAS"|translate}}
            <span class="list-item-note lucent">{{Alias|limitLetters:7}}</span>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="settingsNavigator.pushPage('views/settings/update-account-field.html', {param:'Email'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"EMAIL"|translate}}
            <span class="list-item-note lucent">{{Email|limitLetters:12}}</span>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="settingsNavigator.pushPage('views/settings/update-account-field.html', {param:'Password'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"PASSWORD"|translate}}
            <span type="password" class="list-item-note lucent">{{passFill|limitTo:7}}</span>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="settingsNavigator.pushPage('views/settings/update-account-field.html', {param:'Tel. Number'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"PHONENUMBER"|translate}}
            <span class="list-item-note lucent" >{{TelNum}}</span>
          </ons-list-item>
        </ons-list>
       
        <div class="settings-header" ng-class="fontSizeTitle">{{"PREFERENCES"|translate}}</div>
        <ons-list modifier="inset" class="settings-list">
          <ons-list-item modifier="chevron" ng-click="settingsNavigator.pushPage('views/settings/update-account-field.html', {param:'Language'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"LANGUAGE"|translate}}
             <span class="list-item-note lucent">{{Language}}</span>
          </ons-list-item>
           <ons-list-item modifier="chevron" ng-click="settingsNavigator.pushPage('views/settings/update-account-field.html', {param:'Font-size'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
             {{"FONTSIZE"|translate}}
          </ons-list-item>
          <ons-list-item ng-class="fontSizeDesc">
            {{"ENABLESMS"|translate}}
          <label class="switch switch--list-item">
            <input type="checkbox" ng-model="checkboxModel" ng-change="saveSettings('EnableSMS')" ng-true-value="1" ng-false-value="0" class="switch__input">
            <div class="switch__toggle"></div>
          </label>
          </ons-list-item>
          <ons-list-item ng-class="fontSizeDesc"><!--ng-show="mobilePlatform"-->
            {{"CALENDARACCESS"|translate}}
          <label class="switch switch--list-item">
            <input type="checkbox" ng-model="checkboxModelCalendar" ng-change="saveSettings('Calendar')" ng-true-value="1" ng-false-value="0" class="switch__input">
            <div class="switch__toggle"></div>
          </label>
            <!--<span class="list-item-note lucent">{{smsPreference}}</span>-->
          </ons-list-item>
        </ons-list>
        <ons-list modifier="inset" class="settings-list" ng-class="fontSizeDesc">
          <ons-list-item ng-click="$state.go('logOut')" modifier="tappable">
            <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
            {{"SIGNOUT"|translate}}
          </ons-list-item>
        </ons-list>

  </ons-page>
</ons-navigator>
