<ons-page ng-controller="LoginController">
      <ons-toolbar>
        <div class="center">Log In</div>
      </ons-toolbar>

      <div class="login-form">
          <ons-icon
  icon="ion-erlenmeyer-flask"
  size="100px"
  style="color: purple">
</ons-icon>
    <ons-row>
        <ons-col width="90%">
        <input type="email" class="text-input--underbar" placeholder="Email" value="" ng-model="email">
        </ons-col>
        <ons-col align="center" ng-hide="!email||email==''">
            <div ng-click="clearEmail()">
            <ons-icon
  icon="ion-close"
  size="20px"
  style="color: grey">
</ons-icon>
            </div>
        </ons-col>
    </ons-row>
        
        <input type="password" class="text-input--underbar" placeholder="Password" value="" ng-model="password">
        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="login(email,password)">Log In</ons-button>
        <p ng-show="error" style="color:red">**{{error}}</p> 
      </div>
</ons-page>