<ons-page ng-controller="CheckInController as checkIn">
    <generic-toolbar title="{{'CHECKIN'|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <network-banner></network-banner>
    <ons-list ng-repeat="(patientSerNum, value) in checkIn.displayApps">
        <ons-list-header class="person-list-header" ng-class="fontSizeTitle" style="padding:10px;">
            {{value.patientName}}
        </ons-list-header>
        <ons-list-item modifier="tappable chevron" ng-repeat="app in value.apps" ng-click="checkIn.goToAppointment(app)">

            <!-----------------------------------------------------------------
            The appointment will show the status according to its checkin status,
            including:
                1. 'info': before checkin,
                2. 'success': successful checkin, 
                3. 'warning': non-checkin-possible,
                4. 'danger' : failed checkin
            Checkin status is defined by appointment's attributes 'Checkin' and
            'Checkinpossible'
            ------------------------------------------------------------------->

            <ons-row style="margin-left: -5px">
                <ons-col width="25%" align="center" style="margin-right: 5px; text-align: center;">
                    {{app.ScheduledStartTime | date:'veryShortTime'}}
                    <svg ng-if="app.loading" class="progress-circular-sm">
                        <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none"
                                stroke-width="10%"
                                stroke-miterlimit="10"/>
                    </svg>
                    <i ng-if="app.CheckInStatus == 'success'" class="fa fa-check-square-o fa-2x color-success"></i>
                    <i ng-if="app.CheckInStatus == 'warning'" class="fa fa-exclamation-triangle fa-2x color-warning"></i>
                    <i ng-if="app.CheckInStatus == 'danger'" class="fa fa-times-circle fa-2x color-error"></i>
                </ons-col>
                <ons-col width="1%" > <div class="{{checkIn.separatorStatus[app.CheckInStatus]}}"></div></ons-col>
                <ons-col>
                    <div class="appointment-content">
                        <span ng-class="fontSizeTitle">
                            <p ng-if="checkIn.HasMeaningfulAlias(app['AppointmentType_' + checkIn.language])">
                                {{app["AppointmentType_" + checkIn.language]}}
                            </p>
                            <p ng-if="!checkIn.HasMeaningfulAlias(app['AppointmentType_' + checkIn.language])">
                                {{app["ResourceDescription"]}}
                            </p>

                        </span>
                        <p ng-show="app.RoomLocation_EN" class="item-desc" ng-class="fontSizeDesc" >
                            {{app["RoomLocation_" + checkIn.language]}}
                        </p>

                        <p ng-if="app.CheckInStatus == 'warning'" class="item-desc" ng-class="fontSizeDesc" style="color:#FF803E;"
                           ng-bind-html="app['CheckinInstruction_' + checkIn.language] | trustHTML">
                        </p>

                        <p></p>

                        <!-- Successful Checkin -->
                        <div ng-if="app.CheckInStatus == 'success'">
                            <span class="item-desc" ng-class="fontSizeDesc">
                                {{"CHECKIN_SUCCESS"|translate}}
                            </span>

                            <span class="item-desc" ng-class="fontSizeDesc"
                                  ng-bind-html="app['CheckinInstruction_' + checkIn.language] | trustHTML">
                            </span>
                        </div>

                        <!-- Show the waiting Room when: Non-Checkinable appointment OR Successful Checked-in Appointment -->
                        <div ng-if="['warning', 'success'].indexOf(app.CheckInStatus) > -1">
                            <p></p>
                            <p class="item-desc" ng-class="fontSizeDesc" ng-show="app.MapName_EN">
                                {{"WAITING_ROOM"|translate}} {{app["MapName_" + checkIn.language]}}
                            </p>
                        </div>

                        <!-- An Error Occurred - Unsuccessful Checkin -->
                        <div ng-if="app.CheckInStatus == 'danger'">
                            <span class="item-desc color-error" ng-class="fontSizeDesc">
                                {{"CHECKIN_ERROR"|translate}}
                            </span>
                        </div>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item ng-if="!value.allCheckedIn" class="item-btn">
            <ons-button ng-class="fontSizeTitle" class="checkin-btn"
                        ng-click="checkIn.CheckInAppointments(patientSerNum)">{{"CHECKIN_ALL_TODAY"|translate}}</ons-button>
        </ons-list-item>
    </ons-list>
    <ons-list ng-show="checkIn.emptyApps">
        <ons-list-header class="person-list-header" ng-class="fontSizeTitle" style="padding:10px;">
            {{"CHECKIN_NO"|translate}}
        </ons-list-header>
    </ons-list>
</ons-page>
