<ons-page ng-controller="CheckInController as checkIn">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-class="fontSizeDesc">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"CHECKIN"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>
    <ons-list>
        <ons-list-header class="person-list-header" ng-class="fontSizeTitle">
            {{"APPOINTMENTS"|translate}}
        </ons-list-header>
        <ons-list-item modifier="tappable chevron" ng-repeat="app in checkIn.apps" ng-click="checkIn.goToAppointment(app)">

            <!-----------------------------------------------------------------
            There is an ERROR when:
                checkIn.alert.type contains a value, regardless of the value
                  AND
                app.Checkin == 0  (i.e. Checkin failed)
            ------------------------------------------------------------------->

            <ons-row>
                <ons-col width="50px" align="center" style="text-align: center;">

                    <i ng-if="app.CheckinPossible == 0" class="fa fa-exclamation-triangle fa-2x"
                       style="color:#FF8F35;"></i>

                    <div ng-show="checkIn.alert.type">
                        <i ng-if="app.Checkin == 1 && app.CheckinPossible == 1" class="fa fa-check-square-o fa-2x"
                           style="color:#4CAF50;"></i>

                        <!--<i ng-if="app.Checkin == 0 && app.CheckinPossible == 1" class="fa fa-square-o fa-2x"-->
                           <!--style="color:#4CAF50;"></i>-->

                        <i ng-if="app.Checkin == 0 && app.CheckinPossible == 1" class="fa fa-times-circle fa-2x" style="color:red;"></i>
                    </div>

                    <!--<div class="plan-date" ng-show="app.Checkin == 1 && (!app.CheckinPossible)">-->
                    <!--<img ng-src="./img/checkedbox.png" width="25px" height="25px">-->
                    <!--</div>-->

                    <!--<div class="plan-duration" ng-show="app.Checkin == 0 && !app.CheckinPossible">-->
                    <!--<img ng-src="./img/uncheckedbox.png" width="25px" height="25px">-->
                    <!--</div>-->

                </ons-col>
                <ons-col align="center">
                    <div style="line-height:1;padding:5px;">
                        <span ng-class="fontSizeTitle">
                            <p ng-if="checkIn.HasMeaningfulAlias(app['AppointmentType_' + checkIn.language])">
                                {{app["AppointmentType_" + checkIn.language]}}
                            </p>
                            <p ng-if="!checkIn.HasMeaningfulAlias(app['AppointmentType_' + checkIn.language])">
                                {{app["ResourceDescription"]}}
                            </p>
                            {{app.ScheduledStartTime | date:'shortTime'}}
                        </span>
                        <p ng-show="app.RoomLocation_EN" class="item-desc" ng-class="fontSizeDesc" >
                            {{"APPOINTMENT_ROOM"|translate}} {{app["RoomLocation_" + checkIn.language]}}
                        </p>

                        <p ng-if="app.CheckinPossible == 0" class="item-desc" ng-class="fontSizeDesc" style="color:#FF803E;"
                           ng-bind-html="app['CheckinInstruction_' + checkIn.language]">
                        </p>

                        <p></p>


                        <!-- Show Circle - Please Wait - while trying to Checkin -->
                        <div ng-hide="checkIn.alert.type" ng-if="app.CheckinPossible == 1" align="center" style="margin:10px">
                            <p class="item-desc" ng-class="fontSizeDesc" style="text-align: center; color: #2196F3;">
                                {{"CHECKIN_PROCESSING"|translate}}
                            </p>
                            <svg class="progress-circular">
                                <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none"
                                        stroke-width="10%"
                                        stroke-miterlimit="10"/>
                            </svg>
                        </div>

                        <!-- Successful Checkin -->
                        <div ng-show="checkIn.alert.type" ng-if="app.Checkin == 1 && app.CheckinPossible == 1">
                            <span class="item-desc" ng-class="fontSizeDesc">
                                {{"CHECKED_IN"|translate}}
                            </span>

                            <span class="item-desc" ng-class="fontSizeDesc"
                                  ng-bind-html="app['CheckinInstruction_' + checkIn.language]">
                            </span>
                        </div>

                        <!-- Show the waiting Room when: Non-Checkinable appointment OR Successful Checked-in Appointment -->
                        <div ng-if="app.CheckinPossible == 0 || (checkIn.alert.type && app.Checkin == 1 && app.CheckinPossible == 1)">
                            <p></p>
                            <p class="item-desc" ng-class="fontSizeDesc" ng-show="app.MapName_EN">
                                {{"WAITING_ROOM"|translate}} {{app["MapName_" + checkIn.language]}}
                            </p>
                        </div>

                        <!-- An Error Occurred - Unsuccessful Checkin -->
                        <div ng-show="checkIn.alert.type" ng-if="app.Checkin == 0 && app.CheckinPossible == 1">
                            <span class="item-desc" ng-class="fontSizeDesc" style="color: red;">
                                {{"CHECKIN_ERROR"|translate}}
                            </span>
                        </div>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>


    <!-- If there is an ERROR, the following will show an error message. -->
    <!-- This Code may never be executed because checkIn.error may never return ERROR because of changes to the Listener
         that do not return an ERROR anymore.
         We assume there is an error when:
                checkIn.alert.type contains a value, regardless of the value
                  AND
                app.Checkin == 0  (i.e. Checkin failed)
         -->

    <ons-list ng-if="checkIn.error">
        <ons-list-item>
            <ons-row>
                <ons-col width="50px" align="center" style="text-align: center;">
                    <i ng-if="checkIn.error" class="fa fa-times-circle fa-2x" style="color:red;"></i>
                </ons-col>

                <ons-col>
                    <p ng-if="checkIn.error" style="color: red;" class="item-desc" ng-class="fontSizeDesc">
                        {{"CHECKIN_ERROR"|translate}}
                    </p>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>