<ons-page ng-controller="AnnouncementsController as ann">
  <ons-toolbar fixed-style>
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
    <div class="center" ng-class="fontSizeTitle">{{"GENERALANNOUNCEMENTSHEADER"|translate}}</div>
  </ons-toolbar>
<div ng-hide="ann.noAnnouncements">
  <ons-list  ng-repeat="announcement in ann.announcements | orderBy:'-DateAdded'" ng-click="ann.goToAnnouncement(announcement)">
  <ons-list-header class="person-list-header" ng-class="fontSizeTitle" ng-show="ann.showHeader($index)">{{announcement.DateAdded|date:'fullDate'}}</ons-list-header>
  <ons-list-item modifier="chevron" class="item">
    <ons-row align="center" >
      <ons-col width="70px" align="center">
        <div style="margin-left:10px">
          <i class="fa fa-bullhorn iconHomeView" style="color:#FFC107"></i><span class="notification" ng-if="announcement.ReadStatus==='0'">1</span>
        </div>
      </ons-col>
      <ons-col>
        <header>
          <span class="item-title" ng-class="fontSizeTitle">{{announcement.Title}}</span>
        </header>
        <!--<p class="item-desc" ng-class="fontSizeDesc" ng-bind-html = "announcement.Body| ellipsis: 30"></p>-->
      </ons-col>
    </ons-row>
  </ons-list-item>
</ons-list>
</div>
<div class="container" align="center">
  <p style="margin-top:25vh;color:grey" ng-show="ann.noAnnouncements">{{"NOGENERALANNOUNCEMENTS"|translate}}</p>
</div>
</ons-page>
