<ons-page ng-controller="NotificationsController">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Annoucements</div>
  </ons-toolbar>
  <!--<ons-pull-hook ng-action="load($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
</ons-pull-hook>-->
<div ng-hide="noNotifications">
  <ons-list  ng-repeat="notification in NotificationsArray" ng-click="goToNotification($index,notification)">
  <ons-list-header class="person-list-header" style="text-align:right">{{notification.DateAdded|dateEmail}}</ons-list-header>
  <ons-list-item modifier="chevron" class="item">
    <ons-row align="center" >
      <ons-col width="60px" align="center">
        <div style="margin-left:10px">
          <i class="fa fa-bell iconHomeView" style="color:DarkRed"></i><span class="notification" ng-if="notification.ReadStatus==='0'"> </span>
        </div>
      </ons-col>
      <ons-col>
        <header>
          <span class="item-title">{{notification.Name}}</span>
        </header>
        <p class="item-desc">{{notification.Content|limitLetters:60}}</p>
      </ons-col>
    </ons-row>
  </ons-list-item>
</ons-list>
</div>
<div class="container" align="center">
  <p style="margin-top:25vh;color:grey" ng-show="noNotifications">No notifications</p>
</div>
</ons-page>
