<ons-page ng-controller="IndividualAnnouncementController">
  <ons-toolbar >
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
    <div class="center">{{announcement.Name}}</div>
  </ons-toolbar>
  <div>
    <ons-list>
      <ons-list-item class="item">
        <div style="line-height:1" align="left">
          <header>
            <span class="item-title" ng-class="fontSizeTitle">{{announcement.Title}}</span>
          </header>
          <p class="item-desc" ng-class="fontSizeDesc">{{announcement.DateAdded|date:'medium'}}</p>
        </div>
      </ons-list-item>
    </ons-list>
    <ons-list class="settings-list">
      <ons-list-item class="item" ng-click="openDocument()">
        <div ng-bind-html="announcement.Body" style =" word-wrap: break-word;" ng-class="fontSizeDesc" ></div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>
