<div class="container-fluid main-scroll-mobile" style="padding:10px">
<div class="row" >
<!--Welcome Message Plus Status-->
<div class="col-xs-12 col-md-3">
<div class=" div-container-section row">
<div class="col-xs-12 " >
<h3>{{patient.FirstName}} {{patient.LastName}}</h3>
<div align="center">
<img ng-src="{{patient.ProfileImage}}" width="60%" style="max-height:250px">
</div>
</div>
<div class="row" >
	<div class="col-xs-12" style="margin:10px">
		<strong>Email:</strong>  {{patient.Email}}<br>
		<strong>Phone:</strong>  {{patient.TelNum}}<br>
		<a href ui-sref="app.Account">Go to my account&raquo;</a><br>
		<strong>Primary Physician:</strong> {{primaryPhysician[0].FirstName}} {{primaryPhysician[0].LastName}}<br>
		<a href ui-sref="app.Contacts">Go to my contacts&raquo;</a>
	</div>

</div>
</div>
			<h4>Status</h4>
				<div class="div-container-section row"  style="height:220px;">
					<div class="col-xs-1">
						<div align="right">
						<i class="ion-clipboard iconThemeViews"></i>
					</div>
					</div>
					<div class="col-xs-10">

        <div class="progressStatus" id="progressStatusPresentStage">

        </div>
        <div ng-show="!treatmentPlanCompleted" class="progressStatus" id="progressStatusPastStages" style="margin-top:-200px">

        </div>

        <div align="center">
        <div class="progressStatusTextBox">
      <strong>Stage {{outOf}} </strong><br>
          {{percentage}}% Completed
          <div ng-show="!treatmentPlanCompleted" align="middle" style="margin-left:5px">
            <i class="ion-loop iconStatusBox"></i> <strong>In progress<br> </strong>
            {{currentStage}}
            <a href ng-click="menu.setMainPage('views/educational-material.html',{closedMenu:true})"><i class="ion-help-circled iconStatusBox"></i></a><br>
            <strong><i class="ion-clock iconStatusBox"></i> Completion Date</strong><br>
            Nov 3 <a href ng-click="menu.setMainPage('views/educational-material.html',{closedMenu:true})"><i class="ion-help-circled iconStatusBox"></i></a><br>
            <span style="color:grey">(Estimated)</span>
          </div>
          <div ng-show='treatmentPlanCompleted' align="middle" style="margin-left:5px">
          <p><i class="ion-checkmark-circled iconStatusBox"></i> Treatment plan completed on <br><strong>{{completionDate|date:fulldate}}</strong></p>
        </div>
        </div>
        </div>
					</div>
				</div>
				<a href ui-sref="app.TreatmentPlan">Go to my treatment plan &raquo;</a>
<!--
<h4>Contacts</h4>

<div class="div-container-section row">
			<div class="col-xs-2">
					<i class="icon iconThemeViews fa fa-user-md"></i>
			</div>
			<div class="col-xs-8">
				<div  align="center">
					<strong>	Primary Doctor</strong>
				</div>
				<div align="center">
						<p>{{primaryPhysician.FirstName}} {{primaryPhysician.LastName}}</p>
						<p style="color:grey">Department of Radiation Oncology</p>


				</div>
			</div>
</div>

<a href>Go to my contacts &raquo;</a>-->
</div>
	<div class="col-xs-12 col-md-6">

	<div class="div-container-section row" style="margin-top:15px;font-size:15px;height:80;overflow-y:scroll">
			<h4>{{dateToday|date:fulldate}}</h4>
	<div align="left"><h4>Dear {{patient.FirstName}},</h4></div>
	<p>

Thank you for downloading and registering for OPA, the MUHC Oncology Patient App. <br><br>

This app was developed in collaboration with your MUHC treating team and with former MUHC radiation oncology patients. Through the app you have access to your radiation oncology medical data. <br><br>

You may directly access the following information:<br>
<ul>
<li>The status of your oncology treatment and your estimated wait times</li>
<li>Your future and past radiation oncology appointments
</li>
<li>Your medical documents
</li>
<li>Your test results
</li>
<li>Educational material tailored for your diagnosis
</li>
</ul>


You may also use the app to contact your treating team and to check in for your next appointment when you arrive at the Cancer Centre. If you like, you can use the app to share information about your treatment with your family doctor and with your loved ones. <br><br>

We encourage you to leave us comments at any time via the main menu. We appreciate your feedback in order to improve the app for future patients.<br><br>

<strong>Your MUHC radiation oncology treating team</strong></p>


	</div>


	</div>

  	<div class="col-md-3" style="margin-bottom:40px;overflow-y:scroll;height:80vh">
			<h4>{{titleAppointmentsHome}}</h4>

				<div class="div-container-section row">
					<div class="col-xs-2">
						<div align="right" >
				<i class="fa fa-calendar iconThemeViews" ></i>
				</div>
					</div>
					<div class="col-xs-9">
						<div  align="center">
						<div ng-show="!noAppointments">
								<h4>{{appointmentShown.AppointmentType_EN}}</h4>
									 {{appointmentShown.ScheduledStartTime|formatDateAppointmentTask}}<br>



				 		</div>

				 <div ng-show="noAppointments">
					 <h3> No Appointments! </h3>
				 </div>
				 	</div>

					</div>
					<div class="col-xs-12" style="margin:5px">
						<div align="center">
								<p ng-show="messageCheckedIn||appointmentShown.Checkin=='1'"><strong>You have successfully checked in procceed to waiting room</strong></p>
											<button ng-disabled="!enableCheckin" class="btn btn-block btn-primary" ng-click="checkin()"><i class="fa fa-check-square-o" > </i>Check-in</button>
						</div>
					</div>
				</div>
				<a href ui-sref="app.Appointments">Go to my appointments &raquo;</a>


  	<h4>Notifications</h4>

  		<div class="div-container-section row">
				<div class="col-xs-2">
					<div  align="right" >
						<i class="iconThemeViews fa fa-bell"></i>
					</div>
				</div>
				<div class="col-xs-9">

					<div align="center">
						<div ng-show="Notifications>0&&Notifications>1">
							<strong>You have {{Notifications}} new notifications</strong>
						</div>
						<div ng-show="Notifications>0&&Notifications==1">
							<strong>You have {{Notifications}} new notification</strong>
						</div>
						<div ng-show="Notifications==0||Notifications==''">
							<h4>No notifications</h4>
						</div>
					</div>
				</div>
  		</div>
				<a href ui-sref="app.Notifications">Go to my notifications &raquo;</a>
			<h4>New Messages</h4>

				<div class="div-container-section row">
					<div class="col-xs-2">
						<div align="right">
						<i class="iconThemeViews icon ion-email" style="font-size:30px"></i>
					</div>
					</div>
					<div class="col-xs-9">
						<div align="center">
						<div ng-show="NumberOfNewMessages>0&&NumberOfNewMessages>1">
							<strong>You have {{NumberOfNewMessages}} new messages</strong>
						</div>
						<div ng-show="NumberOfNewMessages>0&&NumberOfNewMessages==1">
							<strong>You have {{NumberOfNewMessages}} new message</strong>
						</div>
						<div ng-show="NumberOfNewMessages==0">
							<h4>No new messages</h4>
						</div>
						</div>
					</div>

				</div>
				<a href ui-sref="app.Messages">Go to my messages&raquo;</a>


  	</div>
</div>

</div>


































<!--<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>
    <strong>Date: </strong> {{dynamicPopover.date|date:"EEEE MMMM d, yyyy"}}
    <div ng-hide="dynamicPopover.showDuration">
    <strong>Duration: </strong> {{dynamicPopover.duration}} days.<br>
    </div>
    <a href ng-click="moreInfoStage(dynamicPopover.name)">More info &raquo;</a>
    </div>
</script>
<script type="text/ng-template" id="treatmentPlan.html">
 <div ng-show="noStagePlan" class="row" ng-controller="flow">
        <div class="col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1 col-sm-11  col-sm-offset-1 col-lg-11 col-lg-offset-1">
        <div ng-show="treatmentPlanLessThanEight">
        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" style="padding:0;margin:0">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding:0;margin:0">
                <div ng-repeat="stage in stages" ng-show="$index<stages.length/2" class="col-xs-3 col-md-3 col-sm-3 col-lg-3" style="display:inline-block;margin-left:-3px">
            <div class="row">
                <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5" style="padding:0;margin-left:-1px">
                    <div ng-class="classCircle($index)"><button  popover-placement="bottom" ng-click="setPopOver($index)" Popover-animation="true" popover-template="dynamicPopover.templateUrl" popover-trigger="focus" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-link" style="text-decoration:none"><i ng-class="iconClass($index)" style="font-size:80%"></i></button></div>
                </div>
                <div class="col-xs-7 col-md-7 col-sm-7 col-lg-7" ng-hide="$index==stages.length-1"style="padding:0;z-index:-1">
                    <div class="progress" style="padding:0;margin:10px 0 0 -2px;height:15px" >
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="setPercentageBar($index)"></div>
                    </div>
                </div>
            </div>
            <div style="margin-left:-1vw">{{stage.Name}}</div>
        </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" style="padding:0;margin:0 0 0 -10px">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding:0;margin:0">
                   <div ng-repeat="stage in stages" ng-show="$index>=stages.length/2" class="col-xs-3 col-md-3 col-sm-3 col-lg-3" style="display:inline-block;margin-left:-3px">
            <div class="row">
                <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5" style="padding:0;margin-left:-1px">
                    <div ng-class="classCircle($index)"><button popover-placement="bottom" ng-click="setPopOver($index)" Popover-animation="true" popover-template="dynamicPopover.templateUrl" popover-trigger="focus" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-link" style="text-decoration:none"><i ng-class="iconClass($index)" style="font-size:80%"></i></button></div>
                </div>
                <div class="col-xs-7 col-md-7 col-sm-7 col-lg-7" ng-hide="$index==stages.length-1"style="padding:0;z-index:-1">
                    <div class="progress" style="padding:0;margin:10px 0 0 -2px;height:15px" >
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="setPercentageBar($index)"></div>
                    </div>
                </div>
            </div>
            <div style="margin-left:-1vw">{{stage.Name}}</div>
        </div>
            </div>
        </div>
        </div>
        <div ng-hide="treatmentPlanLessThanEight" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <div ng-repeat="stage in stages" ng-class="classStageClass" style="display:inline-block;margin-left:-3px">
            <div class="row">
                <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5" style="padding:0;margin-left:-1px">
                    <div ng-class="classCircle($index)">
                    <button popover-placement="bottom" ng-click="setPopOver($index)" Popover-animation="true" popover-template="dynamicPopover.templateUrl" popover-trigger="focus" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-link" style="text-decoration:none"><i ng-class="iconClass($index)" style="font-size:80%"></i>
                    </button></div>
                </div>
                <div class="col-xs-7 col-md-7 col-sm-7 col-lg-7" ng-hide="$index==stages.length-1"style="padding:0;z-index:-1">
                    <div class="progress" style="padding:0;margin:5px 0 0 0;margin-left:-2px;height:15px" >
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="setPercentageBar($index)"></div>
                    </div>
                </div>
            </div>
            <div style="margin-left:-1vw">{{stage.Name}}</div>
        </div>
        </div>
        </div>
</div>

<div ng-hide="!noStagePlan" align="center">
<h4>No plan workflow available at the moment</h4>
</div>
</script>-->
