<ons-page ng-controller="PfpContactsController as cont" >
    <ons-toolbar>
    <div class="left">
        <ons-back-button>{{"BACK"|translate}}</ons-back-button>
    </div>
    
    <div class="center">{{"PFP_MEMBERS"|translate}}</div>
  </ons-toolbar>
   <div ng-show="cont.loading" align="center" style="margin:10px">
                <svg class="progress-circular">
                    <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
                </svg>
            </div>
  <ons-list ng-hide="cont.loading">
    <ons-list-header ng-repeat-start="contact in cont.contacts" class="person-list-header" ng-class="fontSizeTitle" ng-show="showHeader($index)">{{contact.role}}</ons-list-header>
      <ons-list-item modifier="chevron" ng-click="generalNavigator.pushPage('./views/general/patientsforpatients/individual-contacts.html',{index:$index,contacts:cont.contacts})" ng-repeat-end>
        <ons-row>
          <ons-col width="5px">
          </ons-col>
          <ons-col width="40px" align="center">
            <div style="padding:5px">
                
            <img ng-src="{{contact.ProfileImage}}" class="image-conversation">
          </div>
          </ons-col>
          <ons-col align="center">
            <div style="padding:4px;line-height:1">
              <div class="item-title" ng-class="fontSizeTitle">{{contact.FirstName}} {{contact.LastName}}
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
  </ons-list>
  </ons-page>
