<ons-page ng-controller="FeedbackController" ng-device-backbutton="generalDeviceBackButton()">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"PFP_EBOX"|translate}}</div>
        <div class="right">
            <ons-toolbar-button ng-click="submitFeedback('pfp')" ng-disabled="submitted||!feedbackText">{{"SEND"|translate}}</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list style="margin-top:10px">
        <ons-list-item style="line-height: 25px">
            <ons-row style="padding:0;margin:0">
                <span>{{"PFP_SUGGESTION_MESSAGE"|translate}}</span>
            </ons-row>

        </ons-list-item>
    </ons-list>
    <ons-list style="margin-top: 10px" ng-show="!submitted">
        <ons-list-item>
            <textarea class="textarea textarea--transparent" placeholder="{{'LEAVEMESSAGE'|translate}}" ng-model="feedbackText" style="width: 100%; height: 50vh;"></textarea>
        </ons-list-item>
    </ons-list>

    <div ng-show="submitted" style="margin-top:5px;text-align:center">
        <p style="color:#5cb85c;opacity:0.8;">{{"THANKYOUFORFEEDBACK"|translate}}</p>
    </div>

</ons-page>