<ons-page ng-controller="generalTabController" ng-device-backbutton="generalDeviceBackButton()">
    <ons-toolbar>
      <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
      <div class="center">Contact Details</div>
    </ons-toolbar>
     <div class="profile-cardContact">

        <img src="img/patient.png" class="profile-image">
        <!--<div ng-show="doctor.ProfileImage"><img ng-src="{{doctor.ProfileImage}}" class="profile-image"></div>-->
        <div class="profile-name">Jane Doe</div>
        <!--<div class="profile-desc" ng-class="fontSizeDesc">{{header}}</div>-->

      </div>

        <ons-list style="margin-top: 12px;"  >
          <!--<div ng-show="doctor.Address">
          <ons-list-item   modifier="chevron">
            <div class="prop-desc">
              <i class="fa fa-map-marker iconHomeView" style="margin:0"></i>
              <span style="color:black" ng-class="fontSizeDesc"></span>
            </div>
          </ons-list-item>
          <!--</div>-->
          <!--<div ng-show="doctor.Phone" >-->
          <ons-list-item modifier="chevron">
             <a href="tel:5149876543" style="text-decoration:none"><div class="prop-desc">
              <i class="fa fa-mobile iconHomeView" style="margin:0"></i>

               <span style="color:black" ng-class="fontSizeDesc">5149876543</span>
            </div></a>
          </ons-list-item>
          <!--</div>-->
<!--           <div ng-show="doctor.Email"> -->
          <ons-list-item  modifier="chevron">
          <a href="mailto:jane.doe@hello.com">
            <div class="prop-desc">
              <i class="fa fa-envelope-o iconHomeView" style="margin:0"></i>
              <span style="color:black" ng-class="fontSizeDesc">jane.doe@hello.com</span>
            </div>
            </a>
          </ons-list-item>
          <!--</div>-->
          <!--<div  ng-show="inContacts">
        <ons-list-item modifier="chevron">
          <a ng-click="generalNavigator.pushPage('views/personal/messages/individual-conversation.html',{param: doctor})">
            <div class="prop-desc">
              <i class="ion-ios-chatbubble-outline iconHomeView" style="margin:0"></i>
              <span style="color:black" ng-class="fontSizeDesc">Message {{doctor.FirstName}} {{doctor.LastName}}</span>
            </div>
            </a>
          </ons-list-item>
           </div>-->
        </ons-list>
       
  </ons-page>
