<ons-page ng-controller="IndividualContactsController as cont" ng-cloak>
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center"  ><ons-toolbar-button ng-click="cont.goBack()" ng-disabled="cont.currentIndex==0" ><i class="ion-chevron-left"></i></ons-toolbar-button><span>{{cont.currentIndex+1}} / {{cont.contacts.length}}</span><ons-toolbar-button  ng-disabled="cont.currentIndex==(cont.contacts.length-1)" ng-click="cont.goNext()" ><i class="ion-chevron-right"></i></ons-toolbar-button></div>
    </ons-toolbar>
    <ons-carousel  var="carouselContacts" swipeable overscrollable auto-scroll fullscreen>
        <ons-carousel-item ng-repeat="contact in cont.contacts">
        <ons-scroller>
    <div class="profile-cardContact">

        <!--<img ng-show="!contact.Image" src="img/logo.png" class="profile-image">-->
        <div ng-show="contact.ProfileImage"><img ng-src="{{contact.ProfileImage}}" class="profile-image"></div>
        <div class="profile-name" ng-class="fontSizeTitle">{{contact.FirstName}} {{contact.LastName}}</div>
        <div class="profile-desc" ng-class="fontSizeDesc">{{contact.Role}}</div>

    </div>

            <div ng-show="contact.Website" >
                <ons-list-item modifier="chevron" ng-click="cont.goToWebsite(contact.Website)">
                    <ons-row class="prop-desc" align="center">
                        <ons-col width="50px" style="text-align: center">
                            <div>
                                <i  class="fa fa-globe iconHomeView"style="margin:0"></i>
                            </div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span style="color:black" ng-class="fontSizeDesc">
                                    {{"GOTOWEBSITE"|translate}}
                                </span>
                            </header>
                            <p class="item-desc"></p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </div>
            <div ng-show="contact.Phone" >
                <ons-list-item modifier="chevron" >
                    <ons-row class="prop-desc" align="center">
                        <ons-col width="50px" style="text-align: center">
                            <div>
                                <i  class="fa fa-mobile iconHomeView"style="margin:0"></i>
                            </div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span  ng-class="fontSizeDesc">
                                    <a href="tel:{{contact.Phone}}" style="color: black;">{{contact.Phone|FormatPhoneNumber}}</a>
                                </span>
                            </header>
                            <p class="item-desc"></p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </div>
            <div ng-show="contact.Email" >
                <ons-list-item modifier="chevron" >
                    <ons-row class="prop-desc" align="center">
                        <ons-col width="50px" style="text-align: center">
                            <div>
                                <i  class="fa fa-envelope-o iconHomeView"style="margin:0"></i>
                            </div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span  ng-class="fontSizeDesc">
                                    <a href="mailto:{{contact.Email}}" style="color: black;">{{contact.Email|FormatPhoneNumber}}</a>
                                </span>
                            </header>
                            <p class="item-desc"></p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </div>
    <ons-list style="margin-top: 12px;"  >
        <div ng-show="contact.Bio_EN || contact.Bio_FR" >
            <ons-list-item  >
                <ons-row class="prop-desc" align="center">
                    <ons-col width="50px" style="text-align: center;" align="top">
                        <div style="margin-top:10px">
                            <i  class="fa fa-address-card-o iconHomeView"style="margin:0"></i>
                        </div>
                    </ons-col>
                    <ons-col  class="item-accordion" >
                        <p class="item-desc" >
                            <span ng-class="fontSizeDesc" >{{contact["Bio_"+cont.language]}}</span>
                        </p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </div>



                
        </ons-list>
    </ons-scroller>
</ons-carousel-item>
<ons-carousel>
</ons-page>
