<ons-page>
  <ons-toolbar>
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
      <div class="center">{{"PFP"|translate}}</div>
      <div class="right"><ons-toolbar-button ng-click="generalNavigator.pushPage('./views/tabs/info-page-tabs.html')"><ons-icon icon="fa fa-info-circle"></ons-icon></ons-toolbar-button></div>
  </ons-toolbar>
<ons-list style="margin: 0px 0">
    <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/templates/content.html', {contentType: 'pfp_mission'})">
      <ons-row align="center"   >
          <ons-col width="60px" align="center">
              <div >
                <i class="fa fa-file-text iconHomeView" style="color: rebeccapurple"></i>
              </div>
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"PFP_MISSION"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/announcements.html')">
      <ons-row align="center" >
          <ons-col width="60px" >
              <div>
                <i class="fa fa-bullhorn iconHomeView" style="color:DarkSlateBlue"></i><span class="notification" ng-show="announcementsUnreadNumber">{{announcementsUnreadNumber}}</span>
              </div>
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"PFP_ANNOUNCEMENTS"|translate}}</span>
              </header>
              <p class="item-desc" ng-class="fontSizeDesc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/templates/content.html', {contentType: 'pfp_members'})">
      <ons-row align="center"   >
          <ons-col width="60px" align="center">
              <div >
                <i class="fa fa-users iconHomeView" style="color:grey"></i>
              </div>
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"PFP_MEMBERS"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>

  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/esuggestionbox.html')">
      <ons-row align="center"   >
          <ons-col width="60px" align="center">
              <div >
                <i class="fa fa-archive iconHomeView" style="color:green"></i>
              </div>
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"PFP_EBOX"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/personal/questionnaires/questionnairesList.html')">
      <ons-row align="center"   >
          <ons-col width="60px" align="center">
              <div >
                <i class="fa fa-question-circle iconHomeView" style="color:DarkSlateGray"></i>
              </div>
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"PFP_SURVEYS"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/templates/content.html', {contentType: 'pfp_resources'})">
      <ons-row align="center"   >
          <ons-col width="60px" align="center">
              <div >
                <i class="fa fa-link iconHomeView" style="color:orange"></i>
              </div>
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"PFP_RESOURCES"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
   
</ons-list>
</ons-page>
