<ons-page ng-controller="generalTabController" ng-device-backbutton="generalDeviceBackButton()">
  <ons-toolbar>
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
      <div class="center">{{"Cancer Pain Clinic"|translate}}</div></ons-toolbar>

      <p> 
<div class="container" style="paddng-left:5px;padding-top:2px;margin:1px solid black">
        <div ng-bind-html="htmlBind"></div>
Cancer Pain Clinic offers assessments by a multidisciplinary team:
<ul><li>
Anesthesiologist
</li><li>
Radiation oncologist
</li><li>
Palliative care physician
</li><li>
Nurse
</li><li>
Physiotherapist
</li><li>
Occupational therapist
</li>
</ul>
<a>https://muhc.ca/cancer/page/cancer-pain-clinic </a>
</div>
</p>

</ons-page>
