<ons-page ng-controller="generalTabController" ng-device-backbutton="generalDeviceBackButton()">
  <ons-toolbar>
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
      <div class="center">{{"Resources"|translate}}</div>
      <div class="right"><ons-toolbar-button ng-click="generalNavigator.pushPage('./views/tabs/info-page-tabs.html')"><ons-icon icon="ion-ios-information-outline"></ons-icon></ons-toolbar-button></div>
  </ons-toolbar>
  <ons-pull-hook ng-action="load($done)" var="loader">
    <span ng-switch="loader.getCurrentState()">
        <span ng-switch-when="initial"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> {{"LOADINGDATA"|translate}}...</span>
        <span ng-switch-when="preaction"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> {{"LOADINGDATA"|translate}}...</span>
        <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> {{"LOADINGDATA"|translate}}...</span>
    </span>
</ons-pull-hook>
<ons-list style="margin: 10px 0">
    <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resource1.html')">
      <ons-row align="center"   >
          <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"Cancer Pain Clinic"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resource2.html')">
      <ons-row align="center" >
          <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"Cancer Rehabilitation and Cachexia Clinic"|translate}}</span>
              </header>
              <p class="item-desc" ng-class="fontSizeDesc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resource1.html')">
      <ons-row align="center"   >
          <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"Children's Cancer Care"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>

  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/x.html')">
      <ons-row align="center"   >
          <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle">{{"Lung Cancer Navigation Centre"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
          <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"Lymphedema Support Centre"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
      <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"Division of Supportive and Palliative Care"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
      <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"Palliative Care Day Hospital"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
      <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"Psychosocial Services"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
      <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"Radio-Oncology"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
      <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"Cancer Survivorship Program"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
      <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"Patient Rights and Responsibilities"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
  <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/resources.html')">
      <ons-row align="center">
      <ons-col width="10px">
          </ons-col>
          <ons-col>
              <header>
                  <span class="item-title" ng-class="fontSizeTitle" >{{"MUHC Patients' Committee"|translate}}</span>
              </header>
              <p class="item-desc"></p>
          </ons-col>
      </ons-row>
  </ons-list-item>
   
</ons-list>
</ons-page>
