<ons-page style="background-color: white" ng-controller="IndividualAppointmentController" ng-cloak>
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center" ng-class="fontSizeTitle">{{title|translate}} {{valueLabel|translate}}</div>
    </ons-toolbar>

    <strong class="item-desc" ng-class="fontSizeTitle" style="color: black"><div align="center"><br>What is historical delay?<br></div></strong>
    <br>
    <ons-row align="center">
        <ons-col width="20px"></ons-col>
        <ons-col width="90px" align="left">0-15 min</ons-col>
        <ons-col width="5px"></ons-col>
        <ons-col>
            <ons-col width="80%">
                <div style="background-color: #59D45D; width: 100%;line-height: 90%" class="animated pulse ng-cloak wait-animation">&nbsp</div>
            </ons-col>
        </ons-col>
        <ons-col width="30px" align="right"><strong  style="color: #59D45D"> 80%</strong></ons-col>
    </ons-row>
    <br>
    <div class="item-desc" ng-class="fontSizeDesc" style="color: #474747">
        <u>Percentage</u> is calculated on the total number of appointments of similar type, date and time from the last 3 months (80% would indicate that 80% of all similar appointments were delayed by 0 to 15 minutes).
        <br><br><u>Delay</u> is the number of minutes by which patient's scheduled appointment was late/postponed. It is calculated by subtracting treatment time from scheduled time (if the scheduled time is at 2:00 and the patient is seen at 2:10, then the delay is 10 minutes).
    </div>

</ons-page>
