<ons-page ng-controller="generalTabController" ng-device-backbutton="generalDeviceBackButton()">
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center" ng-class="fontSizeTitle">{{"GENERAL"|translate}}</div>
        <div class="right"><ons-toolbar-button ng-click="generalNavigator.pushPage('./views/tabs/info-page-tabs.html')"><ons-icon icon="fa fa-info-circle"></ons-icon></ons-toolbar-button></div>
    </ons-toolbar>
    <!--<ons-pull-hook ng-action="load($done)" var="loader">-->
    <!--<span ng-switch="loader.getCurrentState()">-->
    <!--<span ng-switch-when="initial"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> {{"LOADINGDATA"|translate}}...</span>-->
    <!--<span ng-switch-when="preaction"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> {{"LOADINGDATA"|translate}}...</span>-->
    <!--<span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> {{"LOADINGDATA"|translate}}...</span>-->
    <!--</span>-->
    <!--</ons-pull-hook>-->

    <!--<div ng-show="loading" align="center" style="margin:10px">-->
        <!--<svg class="progress-circular">-->
            <!--<circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>-->
        <!--</svg>-->
    <!--</div>-->

    <div ng-hide="loading">

        <ons-list style="margin: 0px 0">
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/contacts/contacts.html')">
                <ons-row align="center"   >
                    <ons-col width="60px" align="center">
                        <div >
                            <i class="fa fa-address-book iconHomeView" style="color:#03A9F4"></i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"CONTACTS"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/announcements/announcements.html')">
                <ons-row align="center" >
                    <ons-col width="60px" >
                        <div>
                            <i class="fa fa-bullhorn iconHomeView" style="color:#FFC107"></i><span class="notification" ng-show="announcementsUnreadNumber>0">{{announcementsUnreadNumber}}</span>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"GENERALANNOUNCEMENTS"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <!--<ons-list-item modifier="chevron" class="item" ng-click="goToPatientCharter()">
                <ons-row align="center"   >
                    <ons-col width="60px" align="center">
                        <div >
                          <i class="ion-android-list iconHomeView" style="color:SaddleBrown"></i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"PATIENTCHARTER"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>-->
            <!-- <ons-list-item modifier="chevron" class="item" ng-click="goToPatientCharter()">
                <ons-row align="center"   >
                    <ons-col width="60px" align="center">
                        <div >
                          <i class="ion-ios-people iconHomeView" style="color:Teal"></i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">Patient Commitee</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>-->
            <ons-list-item modifier="chevron" class="item" ng-click="goToParking()">
                <ons-row align="center"   >
                    <ons-col width="60px" align="center">
                        <div >
                            <i class="fa fa-car iconHomeView" style="color:#f44336"></i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"PARKING"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/patientsforpatients.html')">
                <ons-row align="center"   >
                    <ons-col width="60px" align="center">
                        <div >
                            <i class="fa fa-users iconHomeView" style="color:#2196F3"></i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle" >{{"PFP"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/feedback.html')">
                <ons-row align="center">
                    <ons-col width="60px" align="center">
                        <div >
                            <i class="fa fa-thumbs-up iconHomeView" style="color:#4CAF50"></i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle" >{{"FEEDBACK"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <!-- inject:tab-->
            <!-- endinject -->
            <!--<ons-list-item modifier="chevron" class="item" ng-click="reportIssuesMail()">-->
            <!--<ons-row align="center"   >-->
            <!--<ons-col width="60px" align="center">-->
            <!--<div >-->
            <!--<i class="fa fa-exclamation-circle iconHomeView" style="color:purple"></i>-->
            <!--</div>-->
            <!--</ons-col>-->
            <!--<ons-col>-->
            <!--<header>-->
            <!--<span class="item-title" ng-class="fontSizeTitle"> {{"REPORTISSUES"|translate}}</span>-->
            <!--</header>-->
            <!--<p class="item-desc"></p>-->
            <!--</ons-col>-->
            <!--</ons-row>-->
            <!--</ons-list-item>-->
        </ons-list>
    </div>
</ons-page>
