<ons-page ng-controller="GeneralTabController as tab" ng-device-backbutton="generalDeviceBackButton()">
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center" ng-class="fontSizeTitle">{{"GENERAL"|translate}}</div>
        <div class="right"><ons-toolbar-button ng-click="generalNavigator.pushPage('./views/tabs/info-page-tabs.html')"><ons-icon icon="fa-info-circle"></ons-icon></ons-toolbar-button></div>
    </ons-toolbar>
    <div>
        <network-banner></network-banner>
        <ons-list style="margin: 0px 0">
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/contacts/contacts.html')">
                <ons-row align="center"   >
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-address-book" size="2x" style="color:#2196F3"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"CONTACTS"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/announcements/announcements.html')">
                <ons-row align="center" >
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-bullhorn" size="2x" style="color:#FFC107"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"GENERALANNOUNCEMENTS"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="tab.goToParking()">
                <ons-row align="center"   >
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-car" size="2x" style="color:#f44336"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"PARKING"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/patientsforpatients/patientsforpatients.html')">
                <ons-row align="center"   >
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-users" size="2x" style="color:#9575CD"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle" >{{"PFP"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="generalNavigator.pushPage('views/general/feedback/feedback.html')">
                <ons-row align="center">
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-thumbs-up" size="2x" style="color:#4CAF50"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle" >{{"FEEDBACK"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
