<ons-page ng-controller="TxTeamMessagesController as txTeam">
    <generic-toolbar title="{{'TEAMMESSAGES'|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <network-banner></network-banner>
    <div ng-hide="txTeam.noMessages">
        <ons-list  ng-repeat="message in txTeam.txTeamMessages | orderBy:'-DateAdded'" ng-click="txTeam.goToTeamMessage(message)">
            <ons-list-header class="person-list-header" ng-class="fontSizeTitle" ng-show="{{txTeam.txTeamMessages | showHeader : $index : 'DateAdded' }}">{{message.DateAdded|date:'fullDate'}}</ons-list-header>
            <ons-list-item modifier="chevron" class="item">
                <ons-row align="center" >
                    <ons-col width="60px" align="center">
                        <div style="margin-left:10px">
                            <i class="fa fa-user-md  iconHomeView" style="color:#2196F3"></i>
                            <!-- <span class="notification" ng-if="message.ReadStatus==='0'">&nbsp;</span> -->
                        </div>
                    </ons-col>
                    <ons-col style="word-wrap: break-word;">
                        <header>
                            <span ng-class="[fontSizeTitle, 'item-desc', {'item-unread': message.ReadStatus==='0'}]">{{message.Title}}</span>
                        </header>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
    <div class="container" align="center">
      <p style="margin-top:25vh;color:grey" ng-show="txTeam.noMessages">{{"NOTEAMMESSAGES"|translate}}</p>
    </div>
</ons-page>
