<ons-page ng-controller="AboutController as about">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-class="fontSizeDesc">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">Opal</div>
    </ons-toolbar>
    <network-banner></network-banner>

    <ons-list>
        <ons-list-item modifier="tappable chevron" ng-click="tourModal.show()" >
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-map-signs" style="color: #795548" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                        <span ng-class="fontSizeTitle">{{"OPAL_TOUR"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="about.openDonation()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-heart" style="color:#f44336" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_SUPPORT"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#000000; margin-top: 5%" class="pull-right"
                              size="1.2em"
                    </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable chevron" ng-click="about.openTeam()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-group" style="color:#2196F3" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_DEV"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable chevron" ng-click="about.openAcknowledge()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-star" style="color:#FFEB3B" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"OPAL_ACKNOWLEDGEMENTS"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable chevron" ng-click="about.openCedars()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/cedarsLogoSmall.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"CEDARS"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="about.openAboutMUHC()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/MUHC.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"MUHC"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#000000; margin-top: 5%" class="pull-right" size="1.2em" </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

    </ons-list>

</ons-page>