<ons-page>
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-class="fontSizeDesc">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"OPAL_ABOUT"|translate}}</div>
    </ons-toolbar>
    <ons-list>
        <ons-list-item modifier="tappable chevron" ng-click="tourModal.show()" ng-class="fontSizeTitle">
            {{"OPAL_TOUR"|translate}}
        </ons-list-item>
        <ons-list-item modifier="tappable chevron" ng-click="homeNavigator.pushPage('views/home/about/acknowledgements.html')" ng-class="fontSizeTitle">
            {{"OPAL_ACKNOWLEDGEMENTS"|translate}}
        </ons-list-item>
        <ons-list-item modifier="tappable chevron" onclick="window.open('https://www.cedars.ca/cedars/en/donate/donate_online','_system');" ng-class="fontSizeTitle">
            {{"OPAL_SUPPORT"|translate}}
        </ons-list-item>
        <ons-list-item modifier="tappable chevron" ng-click="homeNavigator.pushPage('views/home/about/hig.html')" ng-class="fontSizeTitle">
            {{"OPAL_HIG"|translate}}
        </ons-list-item>
    </ons-list>

</ons-page>