<ons-page ng-controller="IndividualStepController as step">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"TREATMENTSTAGE"|translate}}</div>
    </ons-toolbar>
    <div>
        <ons-list class="settings-list">
            <ons-list-item class="item">
                <div style="line-height:1" align="left">
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{step.name | translate}}</span>
                    </header>
                    <p class="item-desc" ng-class="fontSizeDesc"
                       ng-bind-html="step.stage.appointmentDescription || step.stage.taskDescription"></p>
                </div>
            </ons-list-item>
            
            <!-- HIDE Additional Educational Material when there is no url available -->
            <ons-list-item modifier="chevron" ng-class="fontSizeDesc" ng-click="step.about()"
                           ng-show="step.UrlExists" style="background-color: #fde2ed" tappable>
                <ons-row style="padding:0;margin:0;">
                    <ons-col>
                        {{"MORE_EDU_MATERIAL" | translate}}
                    </ons-col>
                    <!--<ons-icon icon="ion-android-open" style="color:#ddd; margin-top: 3.5%" class="pull-right"-->
                              <!--size="1.2em"></ons-icon>-->
                </ons-row>
            </ons-list-item>

            <!--<ons-list-item tappable ng-click="step.about()" ng-show="vm.stage != ''">-->
                <!--<button class="button button&#45;&#45;large&#45;&#45;quiet">-->
                    <!--{{"MORE_EDU_MATERIAL"|translate}}-->
                <!--</button>-->
            <!--</ons-list-item>-->
        </ons-list>
    </div>
</ons-page>
