<ons-page ng-controller="IndividualStepController as step">
  <ons-toolbar fixed-style>
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
    <div class="center">{{"TREATMENTSTAGE"|translate}}</div>
  </ons-toolbar>
  <div>
    <ons-list class="settings-list">
      <ons-list-item class="item">
        <div style="line-height:1" align="left">
          <header>
              <span class="item-title" ng-class="fontSizeTitle">{{step.name|translate}}</span>
          </header>
          <p class="item-desc" ng-show="step.lang=='EN'" ng-class="fontSizeDesc">{{step.stage.AppointmentDescription_EN || step.stage.TaskDescription_EN}}</p>
          <p class="item-desc" ng-show="step.lang=='FR'" ng-class="fontSizeDesc">{{step.stage.AppointmentDescription_FR || step.stage.TaskDescription_FR}}</p>
        </div>
      </ons-list-item>
      <!-- Don't need this part because the description is already fixed inside the Task & Appointment object
      <ons-list-item tappable ng-click="step.about()">
        <button class="button button--large--quiet"  >
          {{"STEP_ABOUT"|translate}}
        </button >
      </ons-list-item>
      -->
    </ons-list>
</div>
</ons-page>
