<ons-page ng-controller="StatusController" style="overcroll-y:none">
    <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
        <div class="center">Status</div>
    </ons-toolbar>
    <!--<div class="container" style="margin-top:20px">
   <div class="col-xs-12" >
     <div align="center">
       <span ng-repeat="i in [0,1]">
         <i ng-class="pickPagePagination($index)"></i>
       </span>
     </div>
   </div>
 </div>-->
    <!--<ons-carousel var="myCarousel" style="width: 100vw; height: 100vh;overflow-y:scroll" swipeable overscrollable auto-scroll >
   <ons-carousel-item>-->
   <div style="overcroll-y:none">
   <div class="container">
    <div style="margin-top:5px">
        <div ng-show="noTreatmentPlan" class="btn my-home-profile">
            <div class="plan-info" style="width:100%">
                <ons-row>
                    <ons-col width="40px">
                        <div class="">
                            <i class="ion-clipboard iconHomeView"></i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <div class="">
                            No treatment plan available
                        </div>
                    </ons-col>
                </ons-row>
            </div>
        </div>
        <div ng-hide="noTreatmentPlan">
            <div class="my-home-profile" style="height:220px;">
                <ons-row style="margin:0;padding:0">
                    <ons-col align="center">
                        <div class="progressStatus" id="progressStatusPresentStage2">
                        </div>
                        <div ng-show="!treatmentPlanCompleted" class="progressStatus" id="progressStatusPastStages2" style="margin-top:-200px">
                        </div>
                        <div align="center">
                            <div class="progressStatusTextBox" style="font-size:15px">
                                <strong>Stage {{outOf}} </strong>
                                <div ng-show="!treatmentPlanCompleted" align="middle" style="margin-left:5px">
                                    {{currentStage}}
                                    <br>
                                    <strong>Start Treatment:</strong>
                                    <br> {{stages[stages.length-1].Date|date:'MMM d'}} <a href ng-click="menu.setMainPage('views/educational-material.html',{closedMenu:true})"><i class="ion-help-circled iconStatusBox"></i></a>
                                    <br>
                                    <span style="color:grey;font-size:13px">(Estimated)</span>
                                </div>
                                <div ng-show='treatmentPlanCompleted' align="middle" style="margin-left:5px">
                                    <p><i class="ion-checkmark-circled iconStatusBox"></i> Treatment plan completed on
                                        <br><strong>{{completionDate|formatDateAppointmentTask}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </ons-col>
                </ons-row>
            </div>
        </div>
    </div>
    </div>
    <div style="padding:2px">
        <div class="my-home-profile" ng-show="!noTreatmentPlan" style="padding:0">
            <div id="divTreatmentPlan" style="overflow-y:auto">
                <ons-list class="plan-list" style="margin:0;padding:0">
                    <ons-list-item class="plan" modifier="tappable" ng-click="homeNavigator.pushPage('./views/home/status/individual-step.html',{param:app})" ng-repeat="app in stages">
                        <ons-row id="statusStep{{$index}}">
                            <ons-col width="50px" class="plan-left" align="center">
                                <div class="plan-date" ng-show="app.Status=='Past'"><img ng-src="./img/checkedbox.png" width="20px" height="20px"></div>
                                <div class="plan-duration" ng-show="app.Status=='Future'||app.Status=='Next'">
                                    <img ng-src="./img/uncheckedbox.png" width="20px" height="20px">
                                </div>
                            </ons-col>
                            <ons-col width="6px" class="plan-center" ng-style="{ 'background-color': getStyle($index) }"></ons-col>
                            <ons-col class="plan-right">
                                <div class="plan-name"> <span style="text-align:left"><strong>{{$index+1}}</strong></span> {{app.Name}}</div>
                                <div class="plan-info">
                                    <div ng-show="app.Type=='Appointment'">
                                        <strong>Completed: </strong>{{app.Date|formatDateAppointmentTask}}
                                    </div>
                                    <div ng-show="app.Type=='Task'&&app.Status=='Past'">
                                        <strong>Completed: </strong>{{app.Date|formatDateAppointmentTask}}
                                    </div>
                                    <div ng-show="app.Type=='Task'&&app.Status=='Future'">
                                        <strong>Pending </strong>
                                    </div>
                                    <div ng-show="app.Type=='Task'&&app.Status=='Next'">
                                        <strong>In progress...</strong>
                                    </div>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>
            </div>
        </div>
    </div>
    </div>
    <!--</ons-carousel-item>
 </ons-carousel>-->
</ons-page>
