<ons-page ng-controller="StatusController" style="overcroll-y:none" >
    <ons-toolbar  fixed-style ng-style="navigator!=='personalNavigator' && {'height':'70px'}  || navigator=='personalNavigator'&& {'height':'48px'}">
          <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
          </div>
              <div class="center"  ><span ng-show="navigator!=='personalNavigator'"><ons-toolbar-button ng-click="goBack()" ng-disabled="activeIndex==0" ><i class="ion-chevron-left"></i></ons-toolbar-button><span >{{activeIndex+1}}/2</span><ons-toolbar-button  ng-disabled="activeIndex==1" ng-click="goNext()"><i class="ion-chevron-right"></i></ons-toolbar-button></span><span ng-show="navigator =='personalNavigator'">{{"TREATMENTPLANNING"|translate}}</span>
              <div style="line-height:1;margin-left:-5px" align="center" ng-show="navigator!=='personalNavigator'" >
        <header>
              <span class="item-title" ng-class="fontSizeTitle" style="font-size:19px">{{viewsTitles[activeIndex]}}</span>
         </header>
     </div>
              </div>
    </ons-toolbar>
    <!--<div class="container" style="margin-top:20px">
   <div class="col-xs-12" >
     <div align="center">
       <span ng-repeat="i in [0,1]">
         <i ng-class="pickPagePagination($index)"></i>
       </span>
     </div>
   </div>
 </div>-->
    <!--<ons-carousel var="myCarousel" style="width: 100vw; height: 100vh;overflow-y:scroll" swipeable overscrollable auto-scroll >
   <ons-carousel-item>-->
   
   <ons-carousel  var="myCarousel" id="carouselStatus" fullscreen>
    <ons-carousel-item style="overflow-y:none">
      <div style="overcroll-y:scroll;margin-top:30px" >
      <div class="container">
       <div style="margin-top:1px">
           <div ng-show="noTreatmentPlan" class="btn my-home-profile">
               <div class="plan-info" style="width:100%">
                   <ons-row>
                       <ons-col width="40px">
                           <div class="">
                               <i class="ion-clipboard iconHomeView"></i>
                           </div>
                       </ons-col>
                       <ons-col>
                           <div class="">
                               {{"NOTREATMENTPLAN"|translate}}
                          
                           </div>
                       </ons-col>
                   </ons-row>
               </div>
           </div>
           <div ng-hide="noTreatmentPlan">
               <div class="my-home-profile" style="height:220px;">
                   <ons-row style="margin:0;padding:0">
                       <ons-col align="center">
                         <div ng-show="!treatmentPlanCompleted" class="progressStatus" id="progressStatusStage" >
                         </div>
                           <div class="progressStatus" id="progressStatusPresentStage2" style="margin-top:-200px">
                           </div>
                           <div ng-show="!treatmentPlanCompleted" class="progressStatus" id="progressStatusPastStages2" style="margin-top:-200px">
                           </div>

                           <div align="center">
                               <div class="progressStatusTextBox" style="font-size:15px">
                                   <strong>{{"STEP"|translate}} {{outOf}} </strong>
                                   <div ng-show="!treatmentPlanCompleted" align="middle" style="margin-left:5px">
                                       {{currentStage}}
                                       <br>
                                       <strong>{{"STARTTREATMENT"|translate}}:</strong>
                                       <br> {{stages[stages.length-1].Date|date:'MMM d'}} 
                                       <br>
                                       <span style="color:grey;font-size:13px" >({{"ESTIMATED"|translate}})</span>
                                   </div>
                                   <div ng-show="treatmentPlanCompleted" align="middle" style="margin-left:5px">
                                       <p><i class="ion-checkmark-circled iconStatusBox"></i>{{"TREATMENTPLANCOMPLETEDON"|translate}}
                                           <br><strong>{{completionDate|date:'EEE MMM dd yyyy'}}</strong></p>
                                   </div>
                               </div>
                           </div>
                       </ons-col>
                   </ons-row>
               </div>
           </div>
       </div>
       </div>
       <div style="padding:2px">
           <div class="my-home-profile" ng-show="!noTreatmentPlan" style="padding:0">
               <div id="divTreatmentPlan" style="overflow-y:scroll">
                   <ons-list class="plan-list" style="margin:0;padding:0">
                       <ons-list-item class="plan" modifier="tappable" ng-click="goToStep(app)" ng-repeat="app in stages" id="treatmentSessions{{$index}}">
                           <ons-row id="statusStep{{$index}}">
                               <ons-col width="50px" class="plan-left" align="center">
                                   <div class="plan-date" ng-show="app.Status=='Past'"><img ng-src="./img/checkedbox.png" width="20px" height="20px"></div>
                                   <div class="plan-duration" ng-show="app.Status=='Future'||app.Status=='Next'">
                                       <img ng-src="./img/uncheckedbox.png" width="20px" height="20px">
                                   </div>
                               </ons-col>
                               <ons-col width="6px" class="plan-center" ng-style="{ 'background-color': getStyle(app) }"></ons-col>
                               <ons-col class="plan-right">
                                   <div class="plan-name" ng-class="fontSizeTitle"> <span style="text-align:left"><strong>{{$index+1}}</strong></span> {{app.Name}}</div>
                                   <div class="plan-info" ng-class="fontSizeDesc">
                                       <div ng-show="app.Type=='Appointment'">
                                           <strong>{{"COMPLETED"|translate}}: </strong>{{app.Date|date:'EEE MMM dd yyyy'}}
                                       </div>
                                       <div ng-show="app.Type=='Task'&&app.Status=='Past'">
                                           <strong>{{"COMPLETED"|translate}}: </strong>{{app.Date|date:'EEE MMM dd yyyy'}}
                                       </div>
                                       <div ng-show="app.Type=='Task'&&app.Status=='Future'">
                                           <strong>{{"PENDING"|translate}} </strong>
                                       </div>
                                       <div ng-show="app.Type=='Task'&&app.Status=='Next'">
                                           <strong>{{"INPROGRESS"|translate}}...</strong>
                                       </div>
                                   </div>
                               </ons-col>
                           </ons-row>
                       </ons-list-item>
                   </ons-list>
               </div>
           </div>
       </div>
       </div>
    </ons-carousel-item>
    <ons-carousel-item style="overflow-y:none">
      <div style="overcroll-y:none;margin-top:30px">
      <div class="container">
       <div  >
           <div  style="margin-top:20vh" ng-show="!showTreatments">
               <div style="width:100%">
                   <ons-row style="padding:0;margin:0">
                       <ons-col>
                           <div class="text-center lucent" style="padding:20px">
                               
                              No treatment sessions have been scheduled at the moment
                           </div>
                       </ons-col>
                   </ons-row>
               </div>
           </div>
           <div ng-show="showTreatments">
               <div class="my-home-profile" style="height:220px;">
                   <ons-row style="margin:0;padding:0">
                       <ons-col align="center">
                         <div>
                           <div  class="progressStatus" id="progressStatusSession" >
                           </div>
                         <div class="progressStatus" style="margin-top:-200px" id="progressStatusPresentStage3">
                           </div>
                           <div  class="progressStatus" id="progressStatusPastStage3" style="margin-top:-200px;position:realative;z-index:3">
                           </div>

                         </div>
                           <div align="center">
                               <div class="progressStatusTextBox" style="font-size:15px">
                                   <strong>{{"STEP"|translate}} {{stepStatusTreatment}} </strong>
                                   <div ng-show="!treatmentCompleted" align="middle" style="margin-left:5px">
                                       <strong>{{"UPCOMING"|translate}}:</strong><br>
                                      {{currentState.Title}}<br>
                                     <strong>{{"TREATMENTENDS"|translate}}:</strong><br>
                                     {{endingDate|date:'EEE MMM dd yyyy'}}
                                   </div>
                                   <div ng-show="treatmentCompleted" style="margin-top:20px">
                                       <strong>{{"TREATMENTPLANCOMPLETEDON"|translate}}:</strong><br>
                                       {{endingDate|date:'EEE MMM dd yyyy'}}
                                   </div>
                               </div>
                           </div>
                       </ons-col>
                   </ons-row>
               </div>
           </div>
       </div>
       </div>
       <div style="padding:2px">
           <div class="my-home-profile" ng-show="showTreatments" style="padding:0">
               <div id="divTreatmentSessions" style="overflow-y:scroll">
                   <ons-list class="plan-list" style="margin:0;padding:0">
                       <ons-list-item class="plan" modifier="tappable"  ng-click="goToAppointment(session)" ng-repeat="session in sessionList">
                           <ons-row id="statusStepSessions{{$index}}">
                               <ons-col width="50px" class="plan-left" align="center">
                                   <div class="plan-date" ng-show="session.TimeStatus=='Past'"><img ng-src="./img/checkedbox.png" width="20px" height="20px"></div>
                                   <div class="plan-duration" ng-show="session.TimeStatus=='Future'||session.TimeStatus=='Next'">
                                       <img ng-src="./img/uncheckedbox.png" width="20px" height="20px">
                                   </div>
                               </ons-col>
                               <ons-col width="6px" class="plan-center" ng-style="{ 'background-color': getStyle(session) }"></ons-col>
                               <ons-col class="plan-right">
                                   <div class="plan-name" ng-class="fontSizeTitle"> <span style="text-align:left"><strong>{{$index+1}}</strong></span> {{session.Title}}</div>
                                   <div class="plan-info" ng-class="fontSizeDesc">
                                       <div ng-show="session.TimeStatus=='Past'">
                                           <strong>{{"COMPLETED"|translate}}: </strong>{{session.ScheduledStartTime|date:'EEE MMM dd yyyy'}}
                                       </div>
                                       <div ng-show="session.TimeStatus == 'Next'">
                                           <strong>{{"PENDING"|translate}} </strong>
                                       </div>
                                       <div ng-show="session.TimeStatus=='Future'">
                                           <strong>{{"INPROGRESS"|translate}}...</strong>
                                       </div>
                                   </div>
                               </ons-col>
                           </ons-row>
                       </ons-list-item>
                   </ons-list>
               </div>
           </div>
       </div>
       </div>
    </ons-carousel-item>

  </ons-carousel>
</ons-page>
