<ons-page ng-controller="StatusController as status" >
    <ons-toolbar fixed-style>
        <div class="left" >
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"PLANNING_TITLE"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>
    <div class="container" style="background-color: white; height: 100%" ng-style="{'background-color': status.bg_color}">
        <div class="row" style="z-index: 1000; margin-top: -1px; position: fixed;">
            <div class="my-home-profile shadow-2" style="overflow:hidden; height: 225px" ng-hide="status.noData">
                        <div ng-show="!completed" class="progressStatus" id="progressStatusStage" ></div>
                        <div class="progressStatus" id="progressStatusPresentStage2" style="margin-top:-200px"></div>
                        <div ng-show="!completed" class="progressStatus" id="progressStatusPastStages2" style="margin-top:-200px"></div>
                        <div align="center">
                            <div class="progressStatusTextBox" style="font-size:15px">
                                    <strong>{{"STEP"|translate}} {{status.eventIndex - 1}} {{"OF"|translate}} {{status.totalEvents}} </strong>
                                    <div ng-show="status.eventType === 'plan'">
                                        <div ng-show="!status.planningCompleted" align="middle" style="margin-left:5px; vertical-align: middle">
                                            {{status.currentEvent | translate}}
                                        </div>
                                        <div ng-show="status.planningCompleted" align="middle" style="margin-left:5px">
                                            <p><i class="ion-checkmark-circled iconStatusBox"></i>{{"TREATMENTPLANCOMPLETEDON"|translate}}
                                                <br><strong>{{status.completionDate|date:'fullDate'}}</strong></p>
                                        </div>
                                    </div>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row" id="divTreatmentPlan" ng-hide="status.noData" style="overflow-y: scroll;padding: 0;top: 250px;position: fixed;bottom: 50px;background: white;margin-left: 0;">
            <ons-list class="plan-list" style="margin-top: 10%; width: 90%">
                <ons-list-item class="plan" modifier="tappable" ng-click="status.goToStep(events[events.length-1],step)" ng-repeat="(step, events) in status.events" id="treatmentSessions{{$index}}">
                    <ons-row id="statusStep{{$index}}">
                        <ons-col width="50px" class="plan-left" align="center">
                            <div class="plan-date" ng-show="status.eventIndex > status.stepMapping[step]"><img ng-src="./img/checkedbox.png" width="20px" height="20px"></div>
                            <div class="plan-duration" ng-show="status.eventIndex <= status.stepMapping[step]">
                                <img ng-src="./img/uncheckedbox.png" width="20px" height="20px">
                            </div>
                        </ons-col>
                        <ons-col width="6px" class="plan-center" ng-style="{ 'background-color': getStyle(events[events.length-1]) }"></ons-col>
                        <ons-col class="plan-right">
                            <div class="plan-name" ng-class="fontSizeTitle"> <span style="text-align:left"><strong>{{$index+1}}</strong></span> {{step | translate}}</div>
                            <div class="plan-info" ng-class="fontSizeDesc">
                                <div ng-if="(status.eventIndex > status.stepMapping[step] && (events[events.length-1].ScheduledStartTime || events[events.length-1].DueDateTime)< status.today)">
                                    <strong>{{"COMPLETED"|translate}}: </strong>
                                    {{(events[events.length-1].ScheduledStartTime || events[events.length-1].DueDateTime)|date:'fullDate'}}
                                </div>
                                <div ng-if="status.eventIndex == status.stepMapping[step]">
                                    <strong>{{"INPROGRESS"|translate}} </strong>
                                </div>
                                <div ng-if="status.eventIndex < status.stepMapping[step]">
                                    <strong>{{"PENDING"|translate}}...</strong>
                                </div>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>
        <div style="color:grey;margin-top:25vh" ng-show="status.noData" align="center" ng-class="fontSizeTitle">
            {{"NOTREATMENTPLAN"|translate}}
        </div>
    </div>


</ons-page>
