<ons-page ng-controller="ContactsController as cont" >
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"CONTACTS"|translate}}</div>
    </ons-toolbar>

    <network-banner></network-banner>

    <div style="color:grey;margin-top:25vh" ng-show="cont.noContacts" align="center" ng-class="fontSizeTitle">
      {{"NOCONTACTSAVAILABLE"|translate}}
    </div>
    <ons-list ng-hide="cont.noContacts" >
        <!--
        <ons-list-header ng-repeat-start="doctor in cont.doctors" class="person-list-header" ng-show="cont.showHeader($index)" ng-class="fontSizeTitle">{{doctor.Role}}</ons-list-header>
        -->
        <ons-list-item ng-repeat-start="doctor in cont.doctors" class="person-list-header" ng-show="cont.showHeader($index)" ng-class="fontSizeTitle"></ons-list-item>

        <ons-list-item modifier="chevron" ng-repeat-end ng-click="generalNavigator.pushPage('./views/general/contacts/individual-contact.html',{doctor:doctor})">
        <ons-row>
          <ons-col width="5px">
          </ons-col>
          <ons-col width="40px" align="center">
            <div style="padding:5px">
            <img ng-src="{{doctor.ProfileImage}}" class="image-conversation">
          </div>
          </ons-col>
          <ons-col align="center">
            <div style="padding:4px;line-height:1">
              <div class="item-title" ng-class="fontSizeTitle">{{doctor.FirstName}} {{doctor.LastName}}
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
  </ons-page>
