<ons-page ng-controller="ContactIndividualDoctorController as cont" ng-cloak>
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center">{{cont.header}}</div>
    </ons-toolbar>
    <div class="profile-cardContact">

        <!--<img ng-show="!doctor.Image" src="img/logo.png" class="profile-image">-->
        <div ng-show="cont.doctor.ProfileImage"><img ng-src="{{cont.doctor.ProfileImage}}" class="profile-image"></div>
        <div class="profile-name">{{cont.doctor.FirstName}} {{cont.doctor.LastName}}</div>
        <div class="profile-desc" ng-class="fontSizeDesc">{{cont.header}}</div>

    </div>

    <ons-list style="margin-top: 12px;"  >
        <div ng-show="cont.doctor.Address">
            <ons-list-item   modifier="chevron">
                <div class="prop-desc">
                    <i class="fa fa-map-marker iconHomeView" style="margin:0"></i>
                    <span style="color:black" ng-class="fontSizeDesc">{{cont.doctor.Address}}</span>
                </div>
            </ons-list-item>
        </div>
        <div ng-show="cont.doctor.Phone" >
            <ons-list-item modifier="chevron">
                <a href="tel:{{cont.doctor.Phone}}" style="text-decoration:none"><div class="prop-desc">
                    <i class="fa fa-mobile iconHomeView" style="margin:0"></i>

                    <span style="color:black" ng-class="fontSizeDesc">{{cont.doctor.Phone|FormatPhoneNumber}}</span>
                </div></a>
            </ons-list-item>
        </div>
        <div ng-show="cont.doctor.Email">
            <ons-list-item  modifier="chevron">
                <a href="mailto:{{cont.doctor.Email}}">
                    <div class="prop-desc">
                        <i class="fa fa-envelope-o iconHomeView" style="margin:0"></i>
                        <span style="color:black" ng-class="fontSizeDesc">{{cont.doctor.Email}}</span>
                    </div>
                </a>
            </ons-list-item>
        </div>

    </ons-list>

</ons-page>
