<ons-page ng-controller="ContactIndividualDoctorController" ng-cloak>
    <ons-toolbar>
      <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
      <div class="center">{{header}}</div>
    </ons-toolbar>
     <div class="profile-cardContact">

        <!--<img ng-show="!doctor.Image" src="img/logo.png" class="profile-image">-->
        <div ng-show="doctor.ProfileImage"><img ng-src="{{doctor.ProfileImage}}" class="profile-image"></div>
        <div class="profile-name">{{doctor.FirstName}} {{doctor.LastName}}</div>
        <div class="profile-desc" ng-class="fontSizeDesc">{{header}}</div>

      </div>

        <ons-list style="margin-top: 12px;"  >
          <div ng-show="doctor.Address">
          <ons-list-item   modifier="chevron">
            <div class="prop-desc">
              <i class="fa fa-map-marker iconHomeView" style="margin:0"></i>
              <span style="color:black" ng-class="fontSizeDesc">{{doctor.Address}}</span>
            </div>
          </ons-list-item>
          </div>
          <div ng-show="doctor.Phone" >
          <ons-list-item modifier="chevron">
             <a href="tel:{{doctor.Phone}}" style="text-decoration:none"><div class="prop-desc">
              <i class="fa fa-mobile iconHomeView" style="margin:0"></i>

               <span style="color:black" ng-class="fontSizeDesc">{{doctor.Phone|FormatPhoneNumber}}</span>
            </div></a>
          </ons-list-item>
          </div>
          <div ng-show="doctor.Email">
          <ons-list-item  modifier="chevron">
          <a href="mailto:{{doctor.Email}}">
            <div class="prop-desc">
              <i class="fa fa-envelope-o iconHomeView" style="margin:0"></i>
              <span style="color:black" ng-class="fontSizeDesc">{{doctor.Email}}</span>
            </div>
            </a>
          </ons-list-item>
          </div>
          <!--<div  ng-show="inContacts">
        <ons-list-item modifier="chevron">
          <a ng-click="generalNavigator.pushPage('views/personal/messages/individual-conversation.html',{param: doctor})">
            <div class="prop-desc">
              <i class="ion-ios-chatbubble-outline iconHomeView" style="margin:0"></i>
              <span style="color:black" ng-class="fontSizeDesc">Message {{doctor.FirstName}} {{doctor.LastName}}</span>
            </div>
            </a>
          </ons-list-item>
           </div>-->
        </ons-list>
       
  </ons-page>
