<ons-page ng-controller="PersonalTabController as tab" ng-device-backbutton="tab.personalDeviceBackButton()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"MYCHART"|translate}}</div>
        <div class="right"><ons-toolbar-button ng-click="personalNavigator.pushPage('views/tabs/info-page-tabs.html',{param:home})"><ons-icon icon="fa-info-circle"></ons-icon></ons-toolbar-button></div>
    </ons-toolbar>
    <network-banner></network-banner>
    <div>
        <ons-list style="margin: 0px 0">
            <ons-list-item modifier="chevron" ng-if="tab.censor" class="item" ng-click="personalNavigator.pushPage('views/personal/diagnosis/diagnosis.html')">
                <ons-row align="center">
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-heartbeat" size="2x" style="color:#f44336"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"DIAGNOSIS"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="personalNavigator.pushPage('views/personal/notifications/notifications.html')">
                <ons-row align="center">
                    <ons-col width="60px" style="text-align: center">
                        <ons-icon icon="ion-android-notifications" size="2x" style="color:#FFC107"></ons-icon><span class="notification" ng-show="tab.notificationsUnreadNumber>0">{{tab.notificationsUnreadNumber}}</span>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"NOTIFICATIONS"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="tab.goToStatus()">
                <ons-row align="center">
                    <ons-col width="60px" style="text-align: center">
                        <ons-icon style="color: #9575CD" size="2x" icon="fa-tasks" aria-hidden="true" ></ons-icon>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"TREATMENTPLANNING"|translate}}</span>
                        </header>
                        <!--<p class="item-desc" ng-class="fontSizeDesc">{{ 'STAGEOF' | translate:outOf}}</p>-->
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="personalNavigator.pushPage('views/personal/appointments/appointments.html')">
                <ons-row align="center">
                    <ons-col width="60px" style="text-align: center">
                        <ons-icon style="color: #FFC107" size="2x" icon="fa-calendar"></ons-icon>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"APPOINTMENTS"|translate}}</span>
                        </header>
                        <!--<p class="item-desc" ng-class="fontSizeDesc" ng-show="appointmentTitle!=='undefined'"><span translate= "{{appointmentTitle}}"></span> {{appointment.ScheduledStartTime|formatDateAppointmentTask}}</p>-->
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-if="tab.censor" ng-click="personalNavigator.pushPage('views/personal/lab-results/lab-results.html')" >
                <ons-row align="center" >
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="ion-erlenmeyer-flask" size="2x" style="color:#8BC34A"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"LAB_RESULTS"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-if="tab.censor" ng-click="personalNavigator.pushPage('views/personal/documents/documents.html')">
                <ons-row align="center" >
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-folder" size="2x" style="color:#ffdf80"></ons-icon><span class="notification" ng-show="tab.documentsUnreadNumber>0">{{tab.documentsUnreadNumber}}</span>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"CLINICAL_NOTES"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="personalNavigator.pushPage('views/personal/treatment-team-messages/team-messages.html')">
                <ons-row align="center" >
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-user-md" size="2x" style="color:#2196F3"></ons-icon><span class="notification" ng-show="tab.txTeamMessagesUnreadNumber>0">{{tab.txTeamMessagesUnreadNumber}}</span>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"TREATINGTEAMNOTIFICATIONS"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="chevron" class="item" ng-click="personalNavigator.pushPage('views/personal/questionnaires/questionnairesList.html')">
                <ons-row align="center">
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-question-circle" size="2x" style="color: #607d8b;"></ons-icon><span class="notification" ng-show="tab.questionnairesUnreadNumber>0">{{tab.questionnairesUnreadNumber}}</span>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"QUESTIONNAIRES"|translate}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc"></p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
          <!-- inject:tab-->
          <!-- endinject -->

        </ons-list>
    </div>
</ons-page>