<ons-page ng-controller="MapController">
	 <ons-toolbar fixed-style>
      <div class="left">
          <ons-back-button>Back</ons-back-button>
      </div>
        <div class="center">{{"MAPS"|translate}}</div>
    </ons-toolbar>
   <news-banner type="alertBanner" ></news-banner>
    <div style="margin-top:5vh">
      <div ng-show="showLoadingScreen" align="center">
    <svg class="progress-circular">
      <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
    </svg>
    </div>
    <div ng-hide="showLoadingScreen">
    <ons-list class="settings-list">
      <ons-list-item class="item">
        <div style="line-height:1" align="left">
          <header>
              <span class="item-title" ng-class="fontSizeTitle">{{name}}</span>
          </header>
          <p class="item-desc" ng-class="fontSizeDesc">	{{description}}</p>
        </div>
      </ons-list-item>
    </ons-list>
    <ons-list class="settings-list" align="center">
      <ons-list-item ng-click="openMap()" align="center">
      	<div align="center" class="text-center" style="padding:5px">
					<img ng-src="{{map.MapUrl}}" style="max-width:100%;height:auto">
				</div>
      </ons-list-item>
    </ons-list>
</div>
</div>

</ons-page>
