<ons-page ng-controller="InfoTabController">
    <ons-toolbar>
      <div class="left">
          <ons-back-button>{{"BACK"|translate}}</ons-back-button>
      </div>
        <div class="center">{{"INFO"|translate}}</div>
    </ons-toolbar>
    <div style="margin-top:10vh" class="text-center">
      <div >
        <i ng-class="view.icon" ng-style="{color:view.color}" style="font-size:80px"></i>
      </div>
      <p class="item-title" style="font-size:30px" ng-style="{color:view.color}" translate= "{{view.name}}"></p>
      <p style="text-align:center;color:grey:padding-left:20px;padding-right:20px" translate = "{{view.description}}" ></p>
    </div>
 </ons-page>
