<ons-page ng-controller="InfoTabController as info">
    <ons-toolbar fixed-style>
      <div class="left">
          <ons-back-button>{{"BACK"|translate}}</ons-back-button>
      </div>
        <div class="center">{{"INFO"|translate}}</div>
    </ons-toolbar>
    <div style="margin-top:10vh;padding: 0 20px 0 20px" class="text-center">
      <div >
        <ons-icon icon="{{info.view.icon}}" ng-style="{color:info.view.color}" style="font-size:80px"></ons-icon>
      </div>
      <p class="item-title" style="font-size:30px" ng-style="{color:view.color}" translate= "{{info.view.name}}"></p>
      <div class="container" style="text-align:center;">
          {{info.view.description}}
      </div>
    </div>
 </ons-page>
