<!--TODO: ADD FRENCH TRANSLATIONS -->
<ons-page ng-controller="IndividualRadiotherapyController as vm">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
    </ons-toolbar>

    <loading-spinning-circle ng-if="vm.loading" loading-message="{{'LOADINGRADIOTHERAPYPLAN'|translate}}"></loading-spinning-circle>

    <div ng-hide="vm.loading">
        <div class="navigation-bar">
            <div class="navigation-bar__center">
                <div class="button-bar" style="margin-top:10px; width:90%; left:5%">
                    <div class="button-bar__item">
                        <input type="radio" name="navi-segment-a" checked ng-model="vm.showDetails" ng-value="true">
                        <div class="button-bar__button">{{"RADIOTHERAPY_DESCRIPTION"|translate}}</div>
                    </div>
                    <div class="button-bar__item">
                        <input type="radio" name="navi-segment-a" ng-model="vm.showDetails" ng-value="false" ng-click="vm.show3DPlan()">
                        <div class="button-bar__button">{{"RADIOTHERAPY_3D_VIEW"|translate}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Personalized Text -->
        <div ng-if="vm.showDetails">
            <div class="col-xs-12 text-center radiotherapy-plan">
                <h3><b>{{"PERSONALIZED_PLAN"|translate}}</b></h3>
                <div align="justify">
                    <p>On this page you will find details about your radiotherapy treatment plan, which has been carefully put together for you based on your CT scan and your specific disease characteristics. The treatment will be repeated over <span class="personalized">{{vm.RTPlan.numFractions}}</span> sessions.</p>
                </div>

                <div align="justify">
                    <input type="checkbox" id="title1" class="dropdown">
                    <label class="dropdown" for="title1">
                        <i class="fa-solid fa-person-through-window fa-fw fa16x" style="color: #DE8174"></i>
                        <span class="radiotherapy-section-title">{{"POSITION_TITLE"|translate}}</span>
                    </label>

                    <div class="content">
                        <p>{{"POSITIONING_1"|translate}}</p>
                        <img src="./img/radiotherapy/GANTRY.PNG" class="radiotherapy-image__small center">
                        <p>{{"POSITIONING_2"|translate}} <span class="personalized">{{"POSITIONING_2_" + vm.RTPlan.patientPosition | translate}}</span>.</p>
                        <p ng-if="vm.plan.CancerType == 'breast' || vm.plan.CancerType == 'prostate'">{{"POSITIONING_3_" + vm.plan.CancerType.toUpperCase()|translate}}</p>
                    </div>

                    <input type="checkbox" id="title2"  class="dropdown">
                    <label class="dropdown" for="title2">
                        <i class="fa-solid fa-radiation fa-fw fa16x" style="color: #76C8AC"></i>
                        <span class="radiotherapy-section-title">{{"BEAMS_TITLE"|translate}}</span>
                    </label>

                    <div class="content">
                        <p>{{"BEAMS_1"|translate}} <span class="personalized">{{vm.RTPlan.numBeams}}</span> {{"BEAMS_2"|translate}}</p>
                        <img src="./img/radiotherapy/radiotherapy_delivery.png" class="radiotherapy-image center">
                        <p>{{"BEAMS_3"|translate}} <span class="personalized">{{vm.RTPlan.radiationType.toLowerCase()}}</span> {{"BEAMS_3_" + vm.RTPlan.radiationType.toUpperCase()|translate}}</p>
                        <p>
                            <span ng-if="vm.isSingularEnergy">{{"BEAMS_4_SINGULAR"|translate}}</span>
                            <span ng-if="!vm.isSingularEnergy">{{"BEAMS_4_PLURAL"|translate}}</span>
                            <span class="personalized">{{vm.energyText}}</span> {{"BEAMS_4_" + vm.RTPlan.radiationType.toUpperCase()|translate}}{{"BEAMS_5"|translate}}{{"BEAMS_5_" + vm.RTPlan.radiationType.toUpperCase()|translate}}
                        </p>
                        <p>{{"BEAMS_6"|translate}}</p>
                        <p ng-if="vm.RTPlan.hasMLC">{{"BEAMS_6_MLC"|translate}} </p><!--In your case, the beam is made even smaller with the use of “<span class="personalized">multileaf collimators</span>”, small metal bars that block some of radiation to make a conformal beam.<p></p>-->
                        <img src="./img/radiotherapy/MLC.png" class="radiotherapy-image center">
                    </div>

                    <!-- TODO: Implement below w/ variables -->

                    <!-- <input type="checkbox" id="title3"  class="dropdown">
                         <label class="dropdown" for="title3"><img src="./img/radiotherapy/lung.png" style="height:30px; vertical-align:middle;"><span><strong>  {{"BREATHING_TITLE"|translate}}</strong></span></label>

                      <div class="content">
                          Breathing techniques are used for tumours that are close to the heart or likely to move significantly while breathing. During treatment, you will need to <span class="personalized">hold a deep breath</span>.
                          Your therapist will guide you through this process. Since your tumour moves as you breathe, holding a deep breath keeps the tumour at the same place inside the radiation beam.  At this position, the tumour is also further away from your heart, which will help to protect and minimize radiation exposure to your heart.
                          <img src="./img/radiotherapy/breath_hold.png" style="max-width: 100%; height: auto;" class="center">
                      </div>
                     -->

                    <input type="checkbox" id="title4" class="dropdown">
                    <label class="dropdown" for="title4">
                        <i class="fa-solid fa-prescription-bottle-medical fa-fw fa16x" style="color: #65bfdf"></i>
                        <span class="radiotherapy-section-title">{{"DOSE_TITLE"|translate}}</span>
                    </label>

                    <div class="content">
                        <p>{{"DOSE_1"|translate}} <span class="personalized">{{vm.RTPlan.dose}}</span> {{"DOSE_2"|translate}}</p>
                        <p>{{"DOSE_3"|translate}} <span class="personalized">{{vm.RTPlan.numFractions}}</span> {{"DOSE_4"|translate}}</p>
                        <p>The radiation beam type, energy, angle and shape are all chosen so that the tumour receives this prescribed dose, while the surrounding healthy tissues and organs receive the least amount of radiation possible. Our goal is first to effectively remove the tumour, but also to reduce the side effects you may experience.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3D Render -->
        <div ng-show="!vm.showDetails">
            <div class="col-xs-12 text-center" style="margin: 0 auto; align: center; position:fixed; overflow:scroll">
                <h3><b>{{"PERSONALIZED_PLAN"|translate}}</b></h3>
                <p>Below is a 3D view of your body from your CT scan and the beams of radiation you will receive during treatment.</p>
                <div style="position:relative" id="holder">
                    <span><b>Beams displayed:</b></span>
                    <span ng-repeat="n in vm.beams">
                        <label style="vertical-align: middle">
                            <input type="checkbox" id="beamCheckbox-{{n}}" style="-webkit-appearance: checkbox !important; width:20px; height:20px; vertical-align: top; display:inline" ng-click="vm.updateVisibility(n)" checked>
                            <span style="vertical-align: middle">{{n+1}}</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</ons-page>
