<ons-page ng-controller="RadiotherapyController as rad">  
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"RADIOTHERAPY"|translate}}</div>
        <div class="right">
            <ons-toolbar-button> <!-- TODO: ng-click -->
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <network-banner></network-banner>

    <loading-spinning-circle ng-if="rad.loading" loading-message="{{'LOADINGRADIOTHERAPYPLANS'|translate}}"></loading-spinning-circle>

    <ons-list class="settings-list" ng-repeat = "plan in rad.RTPlans | orderBy: '-DateAdded'" ng-hide="rad.noRTPlans">
        <ons-list-header class="default-list-header" ng-class="fontSizeTitle" ng-show="rad.showHeader($index)">{{plan.DateAdded|date:'fullDate'}}</ons-list-header>
        <ons-list-item class="item" modifier="chevron" ng-click="rad.openRTPlan(plan)">
            <ons-row style="padding: 5px">
                <ons-col width="50px" class="ons-col-icon">
                    <i class="fa-solid fa-radiation fa16x" style="color: #76C8AC"></i>
                </ons-col>
                <ons-col align="center">
                    <span class="item-title" ng-class="fontSizeTitle">{{plan["Name_" + rad.language]}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <div style="color:grey;margin-top:25vh" align="center" ng-show="rad.noRTPlans && !rad.loading" ng-class="fontSizeTitle">
        {{"RADIOTHERAPY_NONE"|translate}}
    </div>
</ons-page>
