<ons-page ng-controller="IndividualNotificationController">
  <ons-toolbar fixed-style>
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
    <div class="center"></div>
  </ons-toolbar>
  <div style="margin-top:5vh">
  <ons-list>
    <ons-list-item class="item">
      <div style="line-height:1" align="left">
        <header>
            <span class="item-title" ng-class="fontSizeTitle">{{notification.Type}}</span>

        </header>
        <p class="item-desc" ng-class="fontSizeDesc">{{notification.DateAdded|date:'medium'}}</p>
        <p class="item-desc" ng-class="fontSizeDesc">{{notification.AliasDescription_EN}}</p>
      </div>
    </ons-list-item>
  </ons-list>
</div>
</ons-page>
