<ons-page ng-controller="NotificationsController as notif">
    <!-- TOOLBAR -->
    <generic-toolbar title="{{'NOTIFICATIONS'|translate}}" style-class="fontSizeTitle">
        <right-content>
            <ons-toolbar-button id="notificationsMenu" ng-click="notificationsPopover.show('#notificationsMenu')">
                <ons-icon icon="fa-ellipsis-v" fixed-width="true"></ons-icon>
            </ons-toolbar-button>
        </right-content>
    </generic-toolbar>

    <network-banner></network-banner>

    <!-- DATA REFRESHER -->
    <ons-pull-hook ng-action="notif.pullHookRefresh($done)">
        <ons-pull-hook-content></ons-pull-hook-content>
    </ons-pull-hook>

    <!--
      -- Temporary multi-category data handler to allow notifications to work until they are refactored.
      -- This temporary fix downloads ALL data which may be referenced by a notification.
      -- Notifications should be refactored instead to deal with patient data no longer being available at login,
      -- and this handler should be removed.
      -- See QSCCD-122 (especially subtask QSCCD-123), and QSCCD-43.
      -->
    <patient-data-handler categories="Announcements,Appointments,Documents,EducationalMaterial,Notifications,TxTeamMessages"
                          display-function="notif.displayNotifications"
                          refresh="notif.pullHookRefresh"
                          hide-content="notif.hideContent">
    </patient-data-handler>

    <div ng-hide="notif.hideContent">
        <ons-list ng-repeat="notification in notif.notifications"
                  ng-click="notif.goToNotification($index,notification)">
            <ons-list-header class="person-list-header" ng-show="{{notif.notifications | showHeader : $index : 'DateAdded' }}" ng-class="fontSizeTitle">
                {{notification.DateAdded|date:'fullDate'}}
            </ons-list-header>
            <ons-list-item modifier="chevron" class="item">
                <ons-row align="center">
                    <ons-col width="80px" align="center">
                        <div style="margin-left:10px">
                            <i class="iconHomeView" ng-class="notification.Icon"
                               ng-style="{color: notification.Color}">
                            </i>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span ng-class="[fontSizeTitle, 'item-desc', {'item-unread': notification.ReadStatus==='0'}]">{{notification.Title}}</span>
                        </header>
                        <p ng-class="[fontSizeDesc, 'item-desc', {'item-unread': notification.ReadStatus==='0'}]">{{notification.Desc}}</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
    <div ng-show="notif.noNotifications" class="container" align="center">
        <p style="margin-top:25vh;color:grey">{{"NONOTIFICATIONS"|translate}}</p>
    </div>
</ons-page>
