<ons-navigator var="educationNavigator">
<ons-page ng-controller="EducationalMaterialController" ng-device-backbutton="educationDeviceBackButton()">
  <ons-toolbar>
      <div class="left">
        <ons-back-button>{{"BACK"|translate}}</ons-back-button>
      </div>
    <div class="center">{{"EDUCATION"|translate}}</div>
    <div class="right"><ons-toolbar-button ng-click="educationNavigator.pushPage('./views/tabs/info-page-tabs.html')"><ons-icon icon="ion-ios-information-outline"></ons-icon></ons-toolbar-button></div>

    <!--<div class="right"><ons-toolbar-button ng-click="educationNavigator.pushPage('views/info-page-tabs.html',{param:home})"><ons-icon icon="ion-ios-information-outline"></ons-icon></ons-toolbar-button></div>-->
  </ons-toolbar>
  <div style="color:grey;margin-top:25vh" ng-show="noMaterials" align="center" ng-class="fontSizeTitle">
      {{"NOEDUCATIONALMATERIAL"|translate}}
    </div>
  <ons-list style="margin: 0px 0">
    <ons-list-header ng-repeat-start = "edumaterial in edumaterials" class="person-list-header" ng-class="fontSizeTitle"  ng-if = "showHeader($index)">{{edumaterial.PhaseInTreatment}}</ons-list-header>
    <ons-list-item modifier="chevron" class="item" ng-repeat-end ng-click="goToEducationalMaterial(edumaterial)">
        <ons-row align="center">
            <ons-col width="60px" align="center">
                <div>
                    <i class="iconHomeView" ng-class="edumaterial.Icon" ng-style="{color: edumaterial.Color}"></i><span class="notification" ng-show="edumaterial.ReadStatus=='0'">1</span>
                </div>
            </ons-col>
            <ons-col>
                <header>
                    <span class="item-title" ng-class="fontSizeTitle">{{edumaterial.Name}}</span>
                </header>
                <p class="item-desc" ng-class="fontSizeDesc" >{{edumaterial.Type}}</p>
            </ons-col>
        </ons-row>
    </ons-list-item >
  </ons-list>
</ons-page>
</ons-navigator>
