<ons-page ng-controller="ParkingController">
    <ons-toolbar>
        <div class="left">
            <span ng-show="navigatorName == 'generalNavigator'"><ons-back-button>{{"BACK"|translate}}</ons-back-button></span>
            <span ng-show="navigatorName !=='generalNavigator'"><ons-toolbar-button ng-click="navigator.popPage()">{{"CLOSE"|translate}}</ons-toolbar-button></span>
        </div>
        <div class="center">{{"PARKING"|translate}}</div>
    </ons-toolbar>
    <ons-list-header  ng-class="fontSizeTitle">{{"PARKINGINFORMATION"|translate}}</ons-list-header>
      <ons-list modifier="chevron tappable" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="goToParkingLink('general')">
          {{"HOSPITALPARKING"|translate}}
        </ons-list-item>            
        <ons-list-item modifier="chevron" ng-click="goToParkingLink('oncology')">
          {{"ONCOLOGYPARKING"|translate}}
        </ons-list-item>
      </ons-list>


 </ons-page>
