<ons-page ng-controller="ResearchController as tab">

    <!-- TOOLBAR -->
    <generic-toolbar title="{{'RESEARCH'|translate}}" style-class="fontSizeTitle">
        <left-content>
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </left-content>

        <right-content>
            <ons-toolbar-button ng-click="tab.openInfoPage()">
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
        </right-content>
    </generic-toolbar>

    <network-banner></network-banner>

    <ons-list style="margin: 0px 0">
        <ons-list-item modifier="chevron" class="item" ng-click="tab.openResearchStudies()"
            ng-if="tab.allowedModules.hasOwnProperty('STU') && tab.allowedModules['STU']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 35px;" src="./img/dna.png"><span class="notification"
                            ng-show="tab.studiesUnreadNumber>0">{{tab.studiesUnreadNumber}}</span>
                    </div>
                </ons-col>
                <ons-col>
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{"STUDIES"|translate}}</span>
                    </header>
                    <p class="item-desc"></p>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item modifier="chevron" class="item" ng-click="tab.openReferenceMaterial()"
            ng-if="tab.allowedModules.hasOwnProperty('REF') && tab.allowedModules['REF']">
            <ons-row align="center">

                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-book" size="2x" style="color: #9575CD"></ons-icon><span
                            class="notification"
                            ng-show="tab.eduMaterialUnreadNumber>0">{{tab.eduMaterialUnreadNumber}}</span>
                    </div>
                </ons-col>
                <ons-col>
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{"RESEARCH_REFERENCE_MATERIAL"|translate}}</span>
                    </header>
                    <p class="item-desc"></p>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item modifier="chevron" class="item" ng-click="tab.openResearchQuestionnaires()"
            ng-if="tab.allowedModules.hasOwnProperty('RQU') && tab.allowedModules['RQU']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="ion-clipboard" size="2x" style="color: #607d8b"></ons-icon><span
                            class="notification"
                            ng-show="tab.researchQuestionnairesUnreadNumber>0">{{tab.researchQuestionnairesUnreadNumber}}</span>
                    </div>
                </ons-col>
                <ons-col>
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{"RESEARCH_QUESTIONNAIRES"|translate}}</span>
                    </header>
                    <p class="item-desc"></p>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item modifier="chevron" class="item" ng-click="tab.openConsentForms()"
            ng-if="tab.allowedModules.hasOwnProperty('CON') && tab.allowedModules['CON']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 35px; margin-left: 8px" src="./img/file-signature.png">
                        <span class="notification" ng-show="tab.consentQuestionnairesUnreadNumber>0" style="margin-left: -12px">
                            {{tab.consentQuestionnairesUnreadNumber}}
                        </span>
                    </div>
                </ons-col>
                <ons-col>
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{"CONSENT_FORMS"|translate}}</span>
                    </header>
                    <p class="item-desc"></p>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item modifier="chevron" class="item"
                           ng-if="tab.allowedModules.hasOwnProperty('RFE') && tab.allowedModules['RFE']"
                           ng-click="tab.openResearchFeedback()">
                <ons-row align="center">
                    <ons-col width="60px" style="text-align: center">
                        <div>
                            <ons-icon icon="fa-thumbs-up" size="2x" style="color:#4CAF50"></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{"RESEARCH_FEEDBACK"|translate}}</span>
                        </header>
                        <p class="item-desc"></p>
                    </ons-col>
                </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>
