<ons-page ng-controller="InitSettingsController as init">
      <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
          <div class="center">{{"SETTINGS"|translate}}</div>
      </ons-toolbar>

      <ons-list class="settings-list">
        <ons-list-item modifier = "chevron" ng-click="init.goToFeedback()">
          {{"RATETHISAPP"|translate}}
        </ons-list-item>
      </ons-list>

      <ons-list class="settings-list">
          <ons-list-item modifier="chevron" ng-click="init.secureYourDeviceNotice()">
              {{"SECUREYOURDEVICE"|translate}}
          </ons-list-item>
      </ons-list>
      
      <ons-list class="settings-list">
        <ons-list-item modifier="chevron" ng-click="init.openPageLegal('TOU')">
           {{"TOU"|translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="init.openPageLegal('PP')">
          {{"PP"|translate}}
        </ons-list-item>
      </ons-list>

      <br>

      <ons-list  class="settings-list">
        <ons-list-item >
         {{"APPVERSION"|translate}}
          <span style=" position: absolute;right: 20px;top: 0px;opacity:0.6">{{ init.version}}</span>
        </ons-list-item>
      </ons-list>
      <p class="text-center" style="color:grey;margin-top:10px;font-size:15px">{{MUHC|translate}} {{ init.currentYear}}</p>


    </ons-page>