<ons-page ng-controller="InitSettingsController">
      <ons-toolbar fixed-style>
        <div class="left">
            <span><ons-back-button>{{"BACK"|translate}}</ons-back-button></span>
        </div>
        <div class="center">{{"SETTINGS"|translate}}</div>
      </ons-toolbar>

      <ons-list class="settings-list">
        <ons-list-item modifier = "chevron">
          {{"RATETHISAPP"|translate}}
        </ons-list-item>
      </ons-list>

     <ons-list class="settings-list">
         <ons-list-item modifier="chevron" ng-click="secureYourDeviceNotice()">
          {{"SECUREYOURDEVICE"|translate}}
        </ons-list-item>
      </ons-list>
      
      <ons-list class="settings-list">
        <ons-list-item modifier="chevron" ng-click="openPageLegal('TOU')">
           {{"TERMSOFUSE"|translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="openPageLegal('PP')">
          {{"PRIVACYPOLICY"|translate}}
        </ons-list-item>
      </ons-list>

      <br>

      <ons-list  class="settings-list">
        <ons-list-item >
         {{"APPVERSION"|translate}}
          <span style=" position: absolute;right: 20px;top: 0px;opacity:0.6">{{version}}</span>
        </ons-list-item>
      </ons-list>
      <p class="text-center" style="color:grey;margin-top:10px;font-size:15px">{{MUHC|translate}} {{currentYear}}</p>


    </ons-page>