<ons-navigator var ="initNavigator" >
<ons-page id="popoverLanguage">
    <div>
        <div style="position:absolute;z-index:2;width:100vw" align="center" >
            <div style="margin-top:15vw" align="center" >
            <img src="img/opal_banner_transparent.png" style="width:70vw;height:auto">
            </div>
        </div>
        <div>
            <img src="img/opal-init-photo.jpg" style="width:100vw;height:auto">
        </div>
    </div>
    <div id = "listInitApp" style="display:none">
        <ons-list  class="person-list"  translate-cloak>
            <ons-list-item class="person" modifier="tappable chevron" ng-click="goToParking()">
                <ons-row align="middle" style="height:40px;">
                    <ons-col align="center" width="40px">
                        <div style="margin-left:10px;text-align:left;display:inline-block">
                            <ons-icon icon = "fa fa-car fa-lg" style="color:red" ></ons-icon>
                        </div>
                     </ons-col>
                    <ons-col  align="center">
                        <div  align="center" >
                          <!--<ons-icon icon = "ion-android-car" style="font-size:25px;color:red" ></ons-icon>-->
                            {{"PARKING"|translate}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item class="person" modifier="tappable chevron" ng-click="goToPatientCharter()">
                <ons-row align="middle" style="height:40px;">
                    <ons-col align="center" width="40px">
                        <div style="margin-left:10px;text-align:left;display:inline-block">
                            <ons-icon icon = "fa fa-list-alt fa-lg" style="color:brown"></ons-icon>
                        </div>
                     </ons-col>
                    <ons-col  align="center">
                        <div  style="line-height:1" align="center">
                           <!--<ons-icon icon = "ion-bug" style="font-size:20px;color:purple"></ons-icon>-->
                            {{"PATIENTCHARTER"|translate}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item class="person" modifier="tappable chevron" ng-click="reportIssuesMail()">
                <ons-row align="middle" style="height:40px;">
                    <ons-col align="center" width="40px">
                        <div style="margin-left:10px;text-align:left;display:inline-block">
                            <ons-icon icon = "fa fa-exclamation-triangle fa-lg" style="color:purple"></ons-icon>
                        </div>
                     </ons-col>
                    <ons-col  align="center">
                        <div  align="center">
                           <!--<ons-icon icon = "ion-bug" style="font-size:20px;color:purple"></ons-icon>-->
                            {{"REPORTISSUES"|translate}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item class="person" modifier="tappable chevron" ng-click="goToGeneralSettings()" >
                <ons-row align="middle" style="height:40px">
                    <ons-col align="center" width="40px">
                        <div style="margin-left:10px;text-align:left;display:inline-block">
                            <ons-icon icon = "fa fa-cog fa-lg" style="color:grey"></ons-icon>
                        </div>
                     </ons-col>
                    <ons-col  align="center" >
                        <div   align="center">
                           {{"SETTINGS"|translate}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item class="person" modifier="tappable chevron" ng-show="globalMessage" ng-click="goToMessage()" style="background-color: lightsteelblue">
                <ons-row align="middle" style="height:40px;">
                    <ons-col align="center" width="40px">
                        <div style="margin-left:10px;text-align:left;display:inline-block">
                            <ons-icon icon = "fa-exclamation" style="color:darkblue" ></ons-icon>
                        </div>
                    </ons-col>
                    <ons-col  align="center">
                        <div  align="center" >
                            <!--<ons-icon icon = "ion-android-car" style="font-size:25px;color:red" ></ons-icon>-->
                            {{globalMessage}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>


        </ons-list>
        <br>

        <div style="text-align: center; width: 90%; margin: auto">
            <ons-button class="animated pulse ng-cloak" modifier="large" style="font-size: x-large; font-weight: bolder; background-color: #387A36" ng-click="goToUserView()" var="initButton">{{"HEADER_MESSAGE_LOGIN"|translate}}</ons-button>
        </div>
    </div>



</ons-page>
</ons-navigator>