<ons-page ng-controller="WaitingTimeMoreInfoController as c">
  <ons-toolbar fixed-style>
    <div class="left">
      <ons-back-button>{{"BACK"|translate}}</ons-back-button>
    </div>
    <div class="center" ng-class="fontSizeTitle">{{"ESTIMATEDWAITMOREINFO"|translate}}</div>
  </ons-toolbar>
  <div style="text-align: center; width: 100%; margin-top: 10px;">{{"ESTIMATEDWAIT"|translate}}:<br>{{c.estimatedWait}}</div>
    <div id="waiting-time-container" class="waiting-time-clock"></div>

  <div id="no-prev-patient"><b>{{"NOMOREPATIENTSBEFOREYOU"|translate}}</b></div>
  <div class="horizontal-center-outer">
  	<div id="waiting-time-container-info" class="horizontal-center-inner" style="font-size: small">
      <div style="text-align: center">{{"NUMBERCORRESPONDPATIENT"|translate}}</div>
  		<div style="float: left"><span class="checked-in"></span> : {{"CHECKEDIN"|translate}}</div>
  		<div style="float: left; margin-left: 20px;"><span class="not-checked-in"></span> : {{"NOTCHECKEDIN"|translate}}</div>
  	</div>
  	<div style="height: 5px; background-color: lightgrey; position: relative; z-index: 1"></div>
	<div style="margin: 4px">
		{{"YOUAREPATIENT"|translate}} <b>#{{c.numPrevPatients + 1}}</b>.
		<br>
		{{"AHEADOFYOU"|translate}}: <b>{{c.numPrevPatients}} {{c.numPrevPatients > 1 ? "Patients" : "Patient"}}</b>.
		<br>
		{{"AHEADOFYOUNOTCHECKEDIN"|translate}}: <b>{{c.numPrevPatientsNotCheckedIn}} {{c.numPrevPatientsNotCheckedIn > 1 ? "Patients" : "Patient"}}</b>.
	</div>

  </div>
</ons-page>