<ons-page ng-controller="BeginButtonController">

    <ons-toolbar>
      <div class="left">
          <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center">Questionnaire</div>
    </ons-toolbar>

    <div style="margin-top:15vh; max-width:450px; color:grey; width:80vw; margin-left:auto; margin-right:auto" class="text-center">
    	<h2 style="padding-bottom:11px"><strong> How are you feeling right now? </strong></h2>
    </div>

    <div style="color:grey; width:80vw; max-width:450px; margin-left: auto; margin-right: auto" class="text-left">
    	<p> Let us know by completing a short survey </p>
    	<p> It is important that you complete the next few questions in one sitting. It should only take about 5 mintues. </p>
    </div>
    <div style="color:grey; width:80vw; max-width: 500px; margin-left: auto; margin-right: auto" class="text-center">
    	<p style="padding-top:11px"><strong> Click the button below to begin </strong></p>
        <div class="text-center">
    		<ons-button class="questionnaire-home-button" ng-click="beginButton()"> Begin</ons-button>
    	</div>
	</div>


</ons-page>


<!--
<ons-page>
    <ons-toolbar>
      <div class="left">
          <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center">Questionnaires</div>
    </ons-toolbar>
    <div style="margin-top:15vh;color:grey" class="text-center">
      <h2 style="padding-bottom:11px"><strong> How are you feeling right now? </strong></h2>
    </div>
    <div style="color:grey; width:80vw; max-width:450px; margin-left: auto; margin-right: auto" class="text-left">
      <p> Let us know by completing a short survey! </p>
      <p> It is important that you complete the next few questions in one sitting. It should only take about 5 mintues. </p>
    </div>
    <div style="color:grey; width:80vw; max-width: 500px; margin-left: auto; margin-right: auto" class="text-center">
      <p style="padding-top:11px"><strong> Click the button below to begin </strong></p>
        <div class="text-center">
        <ons-button class="questionnaire-home-button"> Begin</ons-button>
      </div>
  </div>
-->
</ons-page>
