<ons-page ng-controller="QuestionsController">
  <!-- Toolbar -->
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Questionnaire</div>
  </ons-toolbar>
  <ons-carousel swipeable overscrollable auto-scroll fullscreen var="carousel">
    <ons-carousel-item ng-repeat="question in Questions">
      <!-- Overall Div for the page -->
      <div>
        <!-- Question number -->
        <div class="text-center" style="color:#b3b3b3;padding-top:3vw"> You are on question {{ $index + 1}} of {{ maxNumberOfQuestions }} </div>
        <!-- Progress bar -->
        <!-- <div style="height=100px;width=200px"> <ons-progress value="50" secondary-value="0"></ons-progress> </div> -->
        <!-- If type=="scale" -->
        <div ng-show="question.type=='scale'">

          <!-- Question and Explanation -->
          <div ng-controller="PopoverController">
            <!-- Question text -->
            <div ng-bind-html="toSafeHTML(question)" style="color:grey;padding-left:7vw;padding-right:7vw;padding-top:5vw;" class="body.app"></div>
            <!-- Explanation icon + popup -->
          </div>
          <!-- Response slider -->
          <div style="margin-top:10px;padding:5px;">
            <input type="range" min="0" max="10" class="range"></input>
          </div>
          <div class="col-xs-12" style="margin-left:20px;padding:0">
            <ons-row>
              <ons-col ng-repeat="index in [0,1,2,3,4,5,6,7,8,9,10]" align="center">
                <div style="color:lightgrey" class="text-center"> <strong>{{index}}</strong> </div>
              </ons-col>
            </ons-row>
          </div>
          <!-- Max and Min labels -->
          <div>
            <div style="width:150px;display:inline-block;" class="text-left pull-left">
              <div ng-bind-html="question.min" style="color:grey;"></div>
            </div>
            <div style="width:150px;display:inline-block;" class="text-right pull-right">
              <div ng-bind-html="question.max" style="color:grey;"></div>
            </div>
          </div>
        </div>
        <!-- If type=="image" -->
        <div ng-show="question.type=='image'">
          <!-- Question text -->
          <div ng-bind-html="toSafeHTML(question)" style="color:grey;padding-left:7vw;padding-right:7vw;" class="body.app"></div>
          <!-- "Explanation Text" -->
          <!-- Display Image --><img ng-src="{{question.imgSource}}" style="height:90vw;display:block;margin-left:auto;margin-right:auto;" /> </div>
        <!-- If type=="input"-->
        <div ng-show="question.type=='input'">
          <!-- Question text -->
          <div ng-bind-html="toSafeHTML(question)" style="color:grey;padding-left:7vw;padding-right:7vw;padding-top:5vw;" class="body.app"></div>
          <!-- "Explanation Text" -->
          <!-- Text Box -->
          <div style="padding:25px;;width:100vw;margin-left:auto;margin-right:auto">
            <input type="text" style="width:100%;"></input>
          </div>
        </div>
      </div>
    </ons-carousel-item>
    <ons-carousel>
</ons-page>
<!-- to do - add question mark for "explanation" section - figure out how to touch picture - add a "picture too small?" button and direct to a new page if picture is too small - change color of slider bar with each increment - create scrolly picture ... allows picture to be bigger!-->