<div>
    <!--<label for="newValue">{{"SETPASSWORDLABEL"|translate}}:</label><br/>-->
    <label for="newValue">Input new password:</label><br/>
    <!--<input class="text-input form-control" type="text" name="newValue" id="newValue" ng-model="newValue" placeholder="{{'SETPASSWORDPLACEHOLDER'|translate}}" />-->
    <input class="text-input form-control" type="text" name="newValue" id="newValue" ng-model="newValue" placeholder="Some New Password" />
    <br/><br/>
    <!--<button class="btn btn-primary" type="submit" value="Save" style="background-color:#387A36" ng-disabled="loading" ng-click="submitSSN(ssn)">{{"CONTINUE"|translate}}</button>-->
    <button class="btn btn-primary" type="submit" value="Save" style="background-color:#387A36" ng-disabled="loading" ng-click="submitNewPassword(newValue)">Continue</button>

</div>