<div>
    <!--<label for="ssn">{{"ENTERSSNLABEL"|translate}}</label><br/>-->
    <label for="ssn">Enter Medicare Card Number</label><br/>
    <!--<input class="text-input form-control" type="text" name="ssn" id="ssn" ng-model="ssn" placeholder="{{'ENTERSSNPLACEHOLDER'|translate}}" />-->
    <input class="text-input form-control" type="text" name="ssn" id="ssn" ng-model="ssn" placeholder="XXXX00000000" />
    <br/><br/>
    <!--<button class="btn btn-primary" type="submit" value="Save" style="background-color:#387A36" ng-disabled="loading" ng-click="submitSSN(ssn)">{{"CONTINUE"|translate}}</button>-->
    <button class="btn btn-primary" type="submit" value="Save" style="background-color:#387A36" ng-disabled="loading" ng-click="submitSSN(ssn)">Continue</button>
</div>