<ons-page ng-controller="ContactsController as cont">
    <generic-toolbar title="{{'CONTACTS'|translate}}" style-class="fontSizeTitle"></generic-toolbar>

    <div style="color:grey;margin-top:25vh" ng-show="cont.noContacts" align="center" ng-class="fontSizeTitle">
        {{"NOCONTACTSAVAILABLE"|translate}}
    </div>
    <ons-list ng-hide="cont.noContacts">
        <ons-list-item ng-repeat-start="doctor in cont.doctors" ng-show="false" ></ons-list-item>
        <ons-list-item modifier="chevron" ng-repeat-end ng-click="personalNavigator.pushPage('./views/general/contacts/individual-contact.html',{doctor:doctor})">
        <ons-row>
            <ons-col width="5px">
            </ons-col>
            <ons-col width="40px" align="center">
                <div style="padding:5px">
                    <img ng-if="!doctor.ProfileImage" src="./img/doctor.png" class="image-conversation">
                    <img ng-if="doctor.ProfileImage" ng-src="{{doctor.ProfileImage}}" class="image-conversation">
                </div>
            </ons-col>
            <ons-col align="center">
            <div style="padding:4px;line-height:1">
                <div class="item-title" ng-class="fontSizeTitle">
                    {{doctor.FirstName}} {{doctor.LastName}}
                </div>
            </div>
          </ons-col>
        </ons-row>
    </ons-list-item>
</ons-page>
