<ons-page ng-controller="imagingController as image" class="img-page-background">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
    </ons-toolbar>    

    <div class="img-page-background">

        <div class="button-bar">
            <p>
            <input type="file" id="importFile" multiple='multiple' ng-model="image.filemodel"/>
            <button ng-click = "image.uploadRT()">Go</button>
            </p>
        </div>

        <div class="container" style="width:100%;overflow:hidden;overflow-wrap:break-word;background:black">
            <ons-row style="color:white;padding-left:4%;">
                <ons-col> <div id="tagContent"></div></ons-col>
            </ons-row>   
        </div>
</div>

</ons-page>
