<ons-page ng-controller="CalendarController" >
  <ons-toolbar fixed-style>
    <div class="left">
      <ons-back-button ng-show="!showCalendarButton">{{"BACK"|translate}}</ons-back-button>
    </div>
    <div class="center" ng-class="fontSizeTitle">{{"APPOINTMENTS"|translate}}</div>
    <div class="right"><ons-toolbar-button ng-click="goToCalendarOptions()">{{"OPTIONS"|translate}}</ons-toolbar-button></div>
  </ons-toolbar>
  <div align="center" class="calendar--appointments" style="margin-top:5px;position:relative;z-index:1" height-element>
    <div class="calendar-list">
      <uib-datepicker id="scrollTo" ng-model="dt"  datepicker-mode="calendarMode" datepicker-options ="dateOptions" show-weeks="false" show-color="showColor(date)" style="width:100vw;" ng-class="fontSizeDesc"></uib-datepicker></div>
  </div>

  <!--<ons-list>
    <ons-list-item style="font-size:14px"><div class="text-center"><a ng-click="personalNavigator.pushPage('views/personal/appointments/appointments-list.html')" >see list of appointments &raquo;</a><div></ons-list-item>
  </ons-list>-->

  <div id="topListAnchor" style="height:5px;background-color:lightgrey;position:relative;z-index:1"></div>
  <ons-scroller id="scrollerAppointments" style="position:relative;z-index:1">
    <div id="firstAnchor"></div>
    <div style="color:grey;margin-top:10vh" ng-show="noAppointments" align="center" ng-class="fontSizeTitle">
      {{"NOAPPOINTMENTS"|translate}}
    </div>
    <ons-list  ng-repeat="app in appointments" ng-click="goToAppointment(app)" class="gpu_efficiency">
      <ons-list-header  ng-if="setHeaderPickedDay($index)" style="color:red" ng-class="fontSizeTitle">{{dt|date:'fullDate'}}</ons-list-header>
      <ons-list-header class="person-list-header" ng-if="setHeader($index)" ng-class="fontSizeTitle">{{app.ScheduledStartTime|date:'fullDate'}}</ons-list-header>
      <ons-list-item modifier="chevron">
        <ons-row id="anchorAppointments{{$index}}">
          <ons-col width="5px">
          </ons-col>
          <ons-col align="center" width="60px">
            <div align="center" style="line-height:1" >
              <span style="color:grey;" ng-class="fontSizeDesc">{{app.ScheduledStartTime|date:'shortTime'}}</span>
            </div>
          </ons-col>
          <ons-col width="5px" style="opacity:0.8" ng-style="{ 'background-color': getStyle($index) }"></ons-col>
          <ons-col>
            <div style="line-height:1;padding:2px">
              <header>
                <span class="item-title" ng-class="fontSizeTitle" >{{app["AppointmentType_" + language]}}</span>
              </header>
              <p class="item-desc" ng-class="fontSizeDesc">{{app["MapName_"+language]}}</p>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
    <ons-list>
      <ons-list-header id="lastAnchor" ng-if="pickLastHeader()" style="color:red" ng-class="fontSizeTitle">{{dt|date:'fullDate'}}</ons-list-header>
    </ons-list>
  </ons-scroller>
</ons-page>
