<ons-page ng-controller="CalendarController as calendar">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"APPOINTMENTS"|translate}}</div>
        <div class="right">
            <ons-toolbar-button ng-click="calendar.goToCalendarOptions()">{{"OPTIONS"|translate}}</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <network-banner></network-banner>

    <div ng-show="calendar.loading" align="center" style="margin-top:25vh">
        <svg class="progress-circular">
            <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
        </svg>
        <p style="margin-top: 30px">{{ "LOADINGAPPOINTMENTS" | translate }}</p>
    </div>

    <div ng-hide="calendar.loading" align="center" class="appointment-calendar" style="position:relative;z-index:1" height-element>
        <div class="calendar-list">
            <uib-datepicker id="scrollTo" ng-change="calendar.onDateChange()" ng-model="calendar.dt" datepicker-mode="calendar.calendarMode" datepicker-options="calendar.dateOptions" show-weeks="false" show-color="calendar.showColor(date)" style="width:100vw;" ng-class="fontSizeDesc"></uib-datepicker>
        </div>
    </div>

    <div ng-hide="calendar.loading" id="topListAnchor" style="height:5px;background-color:lightgrey;position:relative;z-index:1"></div>
    <ons-scroller id="scrollerAppointments" ng-style="{'height': calendar.scrollerHeight}">
        <div id="firstAnchor"></div>
        <div style="color:grey;margin-top:10vh" ng-show="calendar.noAppointments" align="center" ng-class="fontSizeTitle">{{"NOAPPOINTMENTS"|translate}}</div>

        <!--LOADING LIST OF APPOINTMENTS USING ID TAG-->
        <div ng-hide="calendar.loading">
            <ons-list ng-repeat="app in calendar.appointments" ng-click="calendar.goToAppointment(app)" class="gpu_efficiency" ng-hide="calendar.noAppointments">
                <div id="anchorAppointments{{$index}}"></div>
                <ons-list-header ng-if="calendar.showChosenDateHeader($index)" style="color:#2196F3" ng-class="fontSizeTitle">{{calendar.dt|date:'fullDate'}}</ons-list-header>
                <ons-list-header class="person-list-header" ng-if="calendar.showHeaderNormalDay" ng-class="fontSizeTitle">{{app.ScheduledStartTime|date:'fullDate'}}</ons-list-header>
                <ons-list-item modifier="chevron">
                    <ons-row>
                        <ons-col align="center" width="60px">
                            <div align="center" style="line-height:1">
                                <span style="color:grey;" ng-class="fontSizeDesc">{{app.ScheduledStartTime|date:'shortTime'}}</span>
                            </div>
                        </ons-col>
                        <ons-col width="5px" style="opacity:0.8" ng-style="{ 'background-color': calendar.getStyle($index) }"></ons-col>
                        <ons-col>
                            <div style="line-height:1;padding:2px">
                                <header>
                                    <span class="item-title" ng-class="fontSizeTitle">{{app["AppointmentType_" + calendar.language]}}</span>
                                </header>
                                <p class="item-desc" ng-class="fontSizeDesc">{{app["MapName_"+ calendar.language]}}</p>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
            <ons-list>
                <ons-list-header id="lastAnchor" ng-if="calendar.showHeaderEnd()" style="color:red" ng-class="fontSizeTitle">{{calendar.dt|date:'fullDate'}}</ons-list-header>
            </ons-list>
        </div>
    </ons-scroller>
</ons-page>