<ons-page ng-controller="CalendarController">
  <ons-toolbar fixed-style>
    <div class="left">
      <ons-back-button>{{"BACK"|translate}}</ons-back-button>
    </div>
    <div class="center" ng-class="fontSizeTitle">{{"APPOINTMENTS"|translate}}</div>
    <div class="right">
      <ons-toolbar-button ng-click="goToCalendarOptions()">{{"OPTIONS"|translate}}</ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-gesture-detector ng-dragdown="onShowCalendar()">
    <div ng-hide="showCalendar" align="center" style="height: 30px; width: 100%; text-align: center; background-color: #FAFAFA;position:fixed;z-index:1000">
      <small>Drag down to show calendar</small>
    </div>
  </ons-gesture-detector>

  <ons-gesture-detector ng-dragup="onHideCalendar()">
    <div ng-show="showCalendar" align="center" class="calendar--appointments" style="position:relative;z-index:1" height-element>
      <div class="calendar-list">
        <uib-datepicker id="scrollTo" ng-model="dt" datepicker-mode="calendarMode" datepicker-options="dateOptions" show-weeks="false" show-color="showColor(date)" style="width:100vw;" ng-class="fontSizeDesc"></uib-datepicker>
      </div>
    </div>
  </ons-gesture-detector>


  <div ng-show="showCalendar" id="topListAnchor" style="height:5px;background-color:lightgrey;position:relative;z-index:1"></div>
  <ons-scroller id="scrollerAppointments" ng-style="{'height': scrollerHeight}">
    <div id="firstAnchor"></div>
    <div style="color:grey;margin-top:10vh" ng-show="noAppointments" align="center" ng-class="fontSizeTitle">
      {{"NOAPPOINTMENTS"|translate}}
    </div>
    <div ng-show="loading" align="center" style="margin-top:20px">
      <svg class="progress-circular">
            <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
        </svg>
    </div>
    <!--LOADING LIST OF APPOINTMENTS USING ID TAG-->
    <div ng-hide="loading">
      <div id="appointment-list"></div>
    </div>
  </ons-scroller>
</ons-page>