<ons-page ng-controller="AppointmentController as vm">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{vm.app["AppointmentType_" + vm.language]}}</div>
    </ons-toolbar>
    <div>
        <ons-list class="settings-list">
            <ons-list-item class="item" >
                    <div style="line-height:1" align="left" ng-show="!vm.hasDelays()">
                        Carregando...
                        </div>
                <div style="line-height:1" align="left" ng-show="vm.hasDelays()">
                    <header>
                        <span class="item-title"
                              ng-class="fontSizeTitle">{{"APPOINTMENT_HISTORICAL_DELAYS_OF" | translate}} {{vm.app["AppointmentType_" + vm.language]}}</span>
                    </header>
                    <p class="item-desc" ng-class="fontSizeDesc">{{vm.delays}}</p>
                </div>
            </ons-list-item>

            <!--<ons-list-item tappable ng-click="vm.moreEducationalMaterial()"-->
            <!--ng-show="vm.app['URL_' + vm.language] != ''">-->
            <!--<button class="button button&#45;&#45;large&#45;&#45;quiet">-->
            <!--{{"MORE_EDU_MATERIAL"|translate}}-->
            <!--</button>-->
            <!--</ons-list-item>-->
        </ons-list>
    </div>
</ons-page>
