<ons-page ng-controller="IndividualAppointmentController">
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center">{{"APPOINTMENT"|translate}}</div>
    </ons-toolbar>
    <div style="margin-top:5px">
        <ons-list >
            <ons-list-item class="item" >
                <div style="line-height:1" align="left">
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{app["AppointmentType_"+language]}}</span>
                    </header>
                    <p class="item-desc" ng-class="fontSizeDesc">{{app.ScheduledStartTime|date:'medium'}}</p>
                    <p class="item-desc" ng-class="fontSizeDesc" ng-show="app.RoomLocation">
                        {{"GOTO_ROOM"|translate}}{{app.RoomLocation}}
                    </p>
                </div>
            </ons-list-item>
            <ons-list-item modifier="chevron" tappable ng-click="goToMap()">
                <p class="item-desc" ng-class="fontSizeDesc">{{app["MapName_"+language]|ellipsis:30}}</p>
            </ons-list-item>
            <ons-list-item modifier="chevron" tappable ng-click="about()">
                <p class="item-desc" ng-class="fontSizeDesc">{{"APPOINTMENT_ABOUT"|translate}}</p>
            </ons-list-item>

        </ons-list>

    </div>
</ons-page>