<ons-page ng-controller="IndividualAppointmentController">
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center">{{"APPOINTMENT"|translate}}</div>
    </ons-toolbar>
    <div style="border-top: 1px solid lightsteelblue">
        <ons-list >
            <ons-list-item class="item" >
                <div style="line-height:1" align="left">
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{app["AppointmentType_"+language]}}</span>
                    </header>
                    <p class="item-desc" ng-class="fontSizeDesc">{{app.ScheduledStartTime|date:'medium'}}</p>
                    <p class="item-desc" ng-class="fontSizeDesc" ng-show="app.RoomLocation">
                        {{"GOTO_ROOM"|translate}}{{app.RoomLocation}}
                    </p>
                </div>
            </ons-list-item>
            <ons-list-item tappable ng-click="goToMap()" ng-class="fontSizeDesc">
                <strong class="item-desc" ng-class="fontSizeDesc">{{app["MapName_"+language]|ellipsis:25}}</strong><ons-icon style="margin-top: 3%" class="pull-right" icon="ion-ios-arrow-forward"></ons-icon>
            </ons-list-item>
            <ons-list-item style="background-color:  #E3F2FD" tappable ng-click="aboutApp()" ng-class="fontSizeDesc">
                <strong class="item-desc">{{"APPOINTMENT_ABOUT" | translate}} {{title}} </strong> <ons-icon style="margin-top: 3%" class="pull-right" icon="ion-ios-arrow-forward"></ons-icon>
            </ons-list-item>
            <ons-list-item>
                <stron class="item-desc" ng-class="fontSizeDesc">
                    <ons-button modifier="material"><ons-ripple></ons-ripple>{{"APPOINTMENTSWAIT" | translate}}</ons-button>
                </stron>
            </ons-list-item>
        </ons-list>

    </div>
</ons-page>