<ons-page ng-controller="AppointmentController as vm">
    <generic-toolbar title="{{'INFO'|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <div>
        <ons-list class="settings-list">
            <ons-list-item class="item">
                <div style="line-height:1" align="left">
                    <header style="margin-bottom: 10px">
                        <span class="item-title"
                              ng-class="fontSizeTitle">{{vm.app["AppointmentType_" + vm.language]}}</span>
                    </header>
                    <p class="item-desc" ng-class="fontSizeDesc"
                       ng-bind-html="vm.app['AppointmentDescription_' + vm.language] | trustHTML">
                    </p>
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="item" ng-class="fontSizeDesc" ng-click="vm.moreEducationalMaterial()"
                           ng-show="vm.app['URL_' + vm.language] != ''" style="background-color: #fde2ed" tappable>
                <ons-row style="padding:0;margin:0;">
                    <ons-col>
                        {{"MORE_EDU_MATERIAL" | translate}}
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
