<ons-page ng-controller="AppointmentController as vm">
    <generic-toolbar title="{{'APPOINTMENT'|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <div style="border-top: 1px solid lightsteelblue">
        <ons-list ng-hide="vm.corrupted_appointment">

            <ons-list-item class="item" >
                <div style="line-height:1" align="left">
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle">{{vm.app["AppointmentType_"+vm.language]}}</span>
                    </header>
                    <p class="item-desc" ng-class="fontSizeDesc">{{vm.app.ResourceDescription}}</p>
                    <p class="item-desc" ng-class="fontSizeDesc">{{vm.app.ScheduledStartTime|date:'medium'}}</p>
                    <p class="item-desc" ng-class="fontSizeDesc" ng-show="vm.app.RoomLocation">
                        {{"GOTO_ROOM"|translate}}{{vm.app.RoomLocation}}
                    </p>
                </div>
            </ons-list-item>

            <ons-list-item class="about-link" modifier="chevron tappable" ng-class="fontSizeDesc"
                           ng-click="vm.aboutAppointment()" >
                <label class="item-desc" ng-class="fontSizeDesc"> <ons-icon icon="fas fa-info-circle"></ons-icon> {{"APPOINTMENT_ABOUT" | translate}} {{vm.title}} </label>
            </ons-list-item>

            <ons-list-item ng-class="fontSizeDesc">
                <p class="item-desc" ng-class="fontSizeDesc" ng-bind-html="vm.app['MapDescription_' + vm.language] | trustHTML" align="center"></p>
            </ons-list-item>

            <ons-list class="settings-list" align="center">
                <ons-list-item ng-click="vm.openMap()" align="center">
                    <i ng-show="!vm.mapOpened" class="fa fa-map" align="center" style="font-size:48px;padding:10px"></i>
                    <div ng-show="vm.mapOpened" align="center" class="text-center" style="padding:5px">
                        <img ng-src="{{vm.app['MapUrl_'+ vm.language]}}" style="max-width:100%;height:auto">
                    </div>
                </ons-list-item>
            </ons-list>

        </ons-list>
        <div style="color:grey;margin-top:10vh" ng-show="vm.corrupted_appointment" align="center" ng-class="fontSizeTitle">{{"NOAPPOINTMENTINFO"|translate}}</div>
    </div>
</ons-page>
