<ons-page ng-controller="NewPasswordController">
	<ons-toolbar>
		<div class="left">
			<ons-back-button>Back</ons-back-button>
		</div>
		<div class="center">New Password</div>
	</ons-toolbar>
	<div class="container" align="center" style="margin-top:5vh">
		<img src="./img/muhc-logo-text.png">
		<h5 style="color:#2E8AE6">Cedars Cancer Center</h5>
			<img ng-src="./img/opal.png" style="width:50px">
			<form name="formPassword"  novalidate>
				<div class="form-group" align="center"  >
        <label name="text">Enter a new password:</label><br/>
				<alert ng-show="alert.type" type="{{alert.type}}">{{alert.content}}</alert>
				<input class="text-input" type="text" name="text" ng-model="newValue" placeholder="Enter new password" />
				<br/><br/>
				<button class="button button--large" type="submit" value="Save" ng-disabled="alert.type=='success'" ng-click="submitNewPassword(newValue)">Set Password</button>
				</div>
			</form>
      <button ng-show="alert.type=='success'" class="button button--large--quiet" ng-click="reloadPage()">Back To Login</button>
		</div>
</ons-page>
