<ons-page ng-controller="SetNewPasswordController">
	<ons-toolbar>
		<div class="left">
			<ons-back-button>Back</ons-back-button>
		</div>
		<div class="center">Forgot Password</div>
	</ons-toolbar>
	<div class="container" align="center" style="margin-top:5vh">
		<img src="./img/muhc-logo-text.png">
		<h5 style="color:#2E8AE6">Cedars Cancer Center</h5>
			<img ng-src="./img/opal.png" style="width:50px">
			<form name="formPassword"  novalidate>
				<div class="form-group" align="center"  >
        <label name="text">Enter your SSN Health Care ID:</label><br/>
				<alert ng-show="alert.type" type="{{alert.type}}">{{alert.content}}</alert>
				<input class="text-input" type="text" name="text" ng-model="ssn" placeholder="Enter SSN..." />
				<br/><br/>
        <div ng-show="loading">
          <ons-icon icon="spinner " size="30px " spin="true" fixed-width="true "></ons-icon>
        </div>
				<button class="button button--large" type="submit" value="Save" ng-disabled="loading" ng-click="submitSSN(ssn)">Continue</button>

				</div>
			</form>
		</div>

</ons-page>
