<ons-tabbar var="tabbar">
       <ons-tab active="true" page="views/home/home.html">
           <div class="tab">
               <ons-icon icon="fa-home" class="tab-icon"></ons-icon>
               <div class="tab-label">Home</div>
           </div>
       </ons-tab>

       <ons-tab page="views/personal/personal.html">
           <div class="tab">
               <ons-icon icon="ion-android-person" class="tab-icon"></ons-icon>
               <div class="tab-label">My Chart</div>
           </div>
       </ons-tab>
       <ons-tab page="views/general/general.html">
           <div class="tab">
               <ons-icon icon="ion-ios-book" class="tab-icon"></ons-icon>
               <div class="tab-label">General</div>
           </div>
       </ons-tab>
       <ons-tab page="views/education/education.html">
           <div class="tab">
               <ons-icon icon="ion-university" class="tab-icon"></ons-icon>
               <div class="tab-label">Education</div>
           </div>
       </ons-tab>
       <ons-tab page="views/settings/settings.html">
           <div class="tab">
               <ons-icon icon="ion-gear-a" class="tab-icon"></ons-icon>
               <div class="tab-label">Settings</div>
           </div>
       </ons-tab>
</ons-tabbar>
