<ons-page ng-controller="MapsController">
    <ons-toolbar fixed-style>
      <div class="left">
          <ons-back-button>Back</ons-back-button>
      </div>
        <div class="center">Hospital Maps</div>
    </ons-toolbar>
    
    <ons-list style="margin: 0px 0">
      <ons-list-header class="person-list-header" ng-class="fontSizeTitle">DS1 (Baseman)</ons-list-header>
      <ons-list-item modifier="chevron" class="item" ng-click="showMap('./img/D-S1_map_RadOnc-MedPhys_16June2015_en.png')">
        <ons-row align="center" >
          <ons-col width="60px" align="center">
            <div style="margin-left:10px">
              <img src="./img/map30.png" style="width:30px;height:auto">
            </div>
          </ons-col>
          <ons-col>
            <header>
              <span class="item-title" ng-class="fontSizeTitle">Radiation Oncology/Cancer Care Clinic</span>
            </header>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header class="person-list-header" ng-class="fontSizeTitle">DRC (Main Floor)</ons-list-header>
      <ons-list-item modifier="chevron" class="item" ng-click="showMap('./img/D-RC_ODC_16June2015_en_FNL.png')">
        <ons-row align="center">
          <ons-col width="60px" align="center">
            <div style="margin-left:10px">
                <img src="./img/map30.png" style="width:30px;height:auto">
            </div>
          </ons-col>
          <ons-col>
            <header>
              <span class="item-title" ng-class="fontSizeTitle">Oncology Date Centre and Cancer Care Clinic</span>
            </header>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header class="person-list-header" ng-class="fontSizeTitle">DS2 (Second Floor)</ons-list-header>
      <ons-list-item modifier="chevron" class="item" ng-click="showMap('./img/D2_Palliative_psychoncology_16June2015_en.png')">
        <ons-row align="center" style="height:40px">
          <ons-col width="60px" align="center">
            <div style="margin-left:10px" >
                <img src="./img/map30.png" style="width:30px;height:auto">
            </div>
          </ons-col>
          <ons-col>
            <header>
              <span class="item-title" ng-class="fontSizeTitle">Palliative Care Day Hospita and Physhosocial Oncology</span>
            </header>
          </ons-col>
        </ons-row>
      </ons-list-item>
      

    </ons-list>

    <div align="center" style="padding:20px">
          <button class="button button--large" ng-click="scanLocation()">Scan my location</button>
    </div>




 </ons-page>
