<ons-page ng-controller="waitController">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"APPOINTMENTSWAIT"|translate}}</div>
    </ons-toolbar>

    <ons-gesture-detector ng-dragdown="onShowCalendar()">
        <div ng-show="showCalendar" align="center" class="appointment-calendar" style="position:relative;z-index:1" height-element>
            <div class="calendar-list">
                <uib-datepicker id="scrollTo" ng-model="dt" datepicker-mode="calendarMode" datepicker-options="dateOptions" show-weeks="false" show-color="showColor(date)" style="width:100vw;" ng-class="fontSizeDesc"></uib-datepicker>
            </div>
        </div>
    </ons-gesture-detector>
    <br>

    <ons-list>
        <ons-list-item modifier="chevron" ng-click="homeNavigator.pushPage('views/home/appointmentswait/update-checker.html', {param:'HOUR'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"HOUR"|translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="homeNavigator.pushPage('views/home/appointmentswait/update-checker.html', {param:'MINUTE'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"MINUTES"|translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="homeNavigator.pushPage('views/home/appointmentswait/update-checker.html', {param:'TYPE'},{ animation : 'slide' } )" ng-class="fontSizeDesc">
            {{"APPOINTMENT"|translate}}
        </ons-list-item>
    </ons-list>
    <br>
    <!--ons-button modifier="large--cta" ng-class="fontSizeDesc" style="background-color: #4CAF50; font-size: x-large; font-weight: bolder;" ng-click="submit(date, HOUR, MINUTE, TYPE)"-->
    <ons-button modifier="large--cta" ng-class="fontSizeDesc" style="background-color: #4CAF50; font-size: x-large; font-weight: bolder;" ng-click="homeNavigator.pushPage('views/home/appointmentswait/individual-waiting.html')">
        <ons-ripple></ons-ripple>
        {{"CONTINUE" | translate}}
    </--ons-button>
</ons-page>