<ons-page ng-controller="waitController as wait" >
    <ons-toolbar fixed-style>
        <div class="left" >
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"APPOINTMENTSWAIT"|translate}}</div>
    </ons-toolbar>
    <div class="container" style="background-color: white; height: 100%">
        <div class="row" style="z-index: 1000; margin-top: -1px; position: fixed;">
        </div>
    </div>
    <ons-list-item modifier="nodivider" ng-class="fontSizeDesc">
        <p class="item-desc" ng-class="fontSizeDesc">{{"ESTIMATEDWAIT"|translate}}</p>
        <div style="overcroll-y:scroll" >
            <div class="container" style="height: 30%">
                <div style="margin-top:1px">
                    <div ng-show="wait.noData" class="btn my-home-profile">
                        <div class="plan-info" style="width:100%">
                            <ons-row>
                                <ons-col width="40px">
                                    <div class="">
                                        <i class="ion-clipboard iconHomeView"></i>
                                    </div>
                                </ons-col>
                                <ons-col>
                                    <div class="">
                                        {{"NOTREATMENTPLAN"|translate}}

                                    </div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </div>
                    <div ng-hide="wait.noData">
                        <div class="my-home-profile" style="height:220px;">
                            <ons-row style="margin:0;padding:0">
                                <ons-col align="center">
                                    <div ng-show="!completed" class="progresswait" id="progresswaitStage" >
                                    </div>
                                    <div class="progresswait" id="progresswaitPresentStage2" style="margin-top:-200px">
                                    </div>
                                    <div ng-show="!completed" class="progresswait" id="progresswaitPastStages2" style="margin-top:-200px">
                                    </div>

                                    <div align="center">
                                        <div class="progresswaitTextBox" style="font-size:15px">
                                            <div style="vertical-align: middle">
                                                <strong>{{"STEP"|translate}} {{wait.eventIndex}} {{"OF"|translate}} {{wait.totalEvents}} </strong>
                                                <div ng-show="wait.eventType === 'plan'">
                                                    <div ng-show="!wait.planningCompleted" align="middle" style="margin-left:5px; vertical-align: middle">
                                                        {{wait.currentEvent | translate}}
                                                    </div>
                                                    <div ng-show="wait.planningCompleted" align="middle" style="margin-left:5px">
                                                        <p><i class="ion-checkmark-circled iconwaitBox"></i>{{"TREATMENTPLANCOMPLETEDON"|translate}}
                                                            <br><strong>{{wait.completionDate|date:'fullDate'}}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="item-desc" ng-class="fontSizeDesc"><i>{{"ESTIMATEDWAIT"|translate}}</i></p>
    </ons-list-item>