<ons-page style="background-color: white" ng-controller="waitChangeController" ng-cloak>
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center" ng-class="fontSizeTitle">{{title|translate}} {{valueLabel|translate}}</div>
    </ons-toolbar>

    <div ng-show="timeUpdated">
        <ul class="list">
            <li class="list__header" translate ="{{instruction}}" ng-class="fontSizeDesc"></li>
            <li class="list__item list__item--tappable" >
                <label  class="radio-button radio-button--list-item">
                    <input ng-change="changeType('chemoapt')" ng-model="pickType" type="radio" value="{{firstOption}}" name="b" >
                    <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                    Appointment with Oncologist
                </label>
            </li>
            <li class="list__item list__item--tappable" >
                <label  class="radio-button radio-button--list-item">
                    <input ng-change="changeType('chemotx')" ng-model="pickType" type="radio" value="{{secondOption}}" name="b" >
                    <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                    Chemotherapy Treatment
                </label>
            </li>
        </ul>
    </div>

    <div ng-hide="timeUpdated">
        <ul class="list">
            <li class="list__header" translate ="{{instruction}}" ng-class="fontSizeDesc"></li>
            <div  ng-hide="typeUpdated">
                <li class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('8')" ng-model="pickHour" type="radio" value="{{firstOption}}" name="b" >
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        8h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('9')" ng-model="pickHour" type="radio" value="{{secondOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        9h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('10')" ng-model="pickHour" type="radio" value="{{thirdOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        10h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('11')" ng-model="pickHour" type="radio" value="{{forthOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        11h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('12')" ng-model="pickHour" type="radio" value="{{fifthOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        12h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('13')" ng-model="pickHour" type="radio" value="{{sixthOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        13h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('14')" ng-model="pickHour" type="radio" value="{{seventhOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        14h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('15')" ng-model="pickHour" type="radio" value="{{eighthOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        15h
                    </label>
                </li>
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeHour('16')" ng-model="pickHour" type="radio" value="{{ninthOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        16h
                    </label>
                </li>
            </div>
            <div ng-show="typeUpdated">
                <li  class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeMinute('00')" ng-model="pickMinute" type="radio" value="{{firstOption}}" name="b" >
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        <span class="fontSizeDesc">00 min</span>
                    </label>
                </li>
                <li class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeMinute('15')" ng-model="pickMinute" type="radio" value="{{secondOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        <span class="fontSizeDesc">15 min</span >
                    </label>
                </li>
                <li class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeFont('30')" ng-model="pickMinute" type="radio" value="{{thirdOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        <span class="fontSizeDesc">30 min</span >
                    </label>
                </li>
                <li class="list__item list__item--tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input ng-change="changeFont('45')" ng-model="pickMinute" type="radio" value="{{forthOption}}" name="b">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark fontSizeDesc"></div>
                        <span class="fontSizeTitle">45 min</span >
                    </label>
                </li>
            </div>
        </ul>
    </div>
</ons-page>
