<ons-page ng-controller="EtekcityScaleController as ctrl">
    <generic-toolbar title="{{ 'SMARTDEVICES_ETEKCITY' | translate }}" style-class="fontSizeTitle">
    </generic-toolbar>
    <network-banner></network-banner>
    
    <div class="smartdevices-page">
        <div align="center" class="smartdevices-fa-logo">
            <i class="fa fa-tachometer fa-lg" style="color: #25a6d9"></i>
        </div>

        <div ng-if="ctrl.errorMessage" align="center">
            <p class="error">{{ ctrl.errorMessage }}</p>
        </div>

        <div ng-if="ctrl.showInstructions()">
            <div style="text-align: justify;">
                <p>{{ "SMARTDEVICES_ETEKCITY_INSTRUCTIONS" | translate }}</p>
            </div>
            
            <div align="center">
                <button class="button--large--cta"
                        ng-click="ctrl.scanAndConnect()">
                        <span>{{ "SMARTDEVICES_ETEKCITY_READ" | translate }}</span>
                </button>
            </div>
        </div>

        <div ng-if="ctrl.isLoading()">
            <loading-spinning-circle loading-message="{{'SMARTDEVICES_CONNECTING'|translate}}">
            </loading-spinning-circle>
        </div>

        <div ng-if="ctrl.weight && !ctrl.dataSubmitted" align="center">
            <p><strong>{{ "SMARTDEVICES_WEIGHT" | translate }}</strong></p>
            <p class="data">
                <span>{{ ctrl.weight }}</span>kg
            </p>
            <!-- 
            Currently hidden but might be helpful to show to users
            <p><strong>Scale:</strong> {{ctrl.selectedDevice.name}} ({{ctrl.selectedDevice.id}})</p>
            <p><strong>Battery level:</strong> {{ctrl.selectedDevice.battery}}%</p>
            -->
            <button class="button--large--cta"
                    ng-click="ctrl.submitData()">
                {{ "SMARTDEVICES_ETEKCITY_SUBMIT" | translate }}
            </button>
        </div>

        <div ng-if="ctrl.dataSubmitted" align="center">
            <p>{{ "SMARTDEVICES_ETEKCITY_SUBMITTED" | translate }}</p>
            <p>{{ "SMARTDEVICES_INFO_SUBMITTED" | translate }}</p>
            <button class="button--large--cta"
                    ng-click="ctrl.done()">
                {{ "SMARTDEVICES_BACK" | translate }}
            </button>
        </div>
        
        <div ng-if="!ctrl.scanning && ctrl.selectedDevice == null && ctrl.getDeviceList().length > 1">
            <p ng-class="fontSizeTitle"><strong>{{ "SMARTDEVICES_MULTIPLE" | translate }}</strong></p>

            <ons-list>
                <ons-list-item ng-repeat="device in ctrl.getDeviceList()" class="item">
                    <ons-row align="center">
                        <div class="smartdevices-content">
                            <div class="smartdevices-content--icon">
                                <i class="fa fa-heartbeat fa-2x"
                              style="color:red; display: inline-block"></i>
                            </div>
                            <div class="smartdevices-content--text">
                                <p ng-class="fontSizeTitle">{{ device.name }}</p>
                                <p class="relationship-list--status" ng-class="fontSizeDesc">{{ device.id }}</p>
                            </div>
                            <div class="smartdevices-content--right" style="margin-left: 5vh;">
                                <button class="shadow-2 button--large--cta" ng-click="ctrl.doSelectDevice(device)">
                                    <span>{{ "SMARTDEVICES_SELECT" | translate }}</span>
                                </button>
                            </div>
                        </div>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>

        <div ng-if="ctrl.debug">
            <p ng-class="fontSizeTitle" style="margin-top: 1vh;"><strong>Debug Messages:</strong></p>
            <div>
                <p ng-repeat="message in ctrl.messages">{{ message }}</p>
            </div>
        </div>
    </div>
        
</ons-page>
