<ons-page ng-controller="EtekcityScaleController as ctrl">
    <generic-toolbar title="{{'Etekcity Smart Scale'|translate}}" style-class="fontSizeTitle">
        <right-content>   
            <ons-toolbar-button ng-click="ctrl.showInfo()">
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
        </right-content>
    </generic-toolbar>
    <network-banner></network-banner>
    
    <div style="width: 90%; margin: 3% 5%;">
        <div align="center" style="margin-bottom: 2vh;">
            <i class="fa fa-tachometer fa-lg" style="font-size: 5em; color: #25a6d9"></i>
        </div>

        <div ng-if="ctrl.errorMessage" align="center" style="margin-bottom: 2vh;">
            <p style="color: red; margin: 1vh; padding: 1vh; font-weight: bold;">{{ctrl.errorMessage}}</p>
        </div>

        <div ng-if="ctrl.shouldShowInstructions()" style="margin-bottom: 2vh;">
            <div style="text-align: justify;">
                <p>To synchronize data with the smart scale, begin by stepping on the scale and weighing yourself. Once the weight is measured, scan for devices, press "Sync" for the found scale and confirm whether to send it to the hospital when asked.</p>
            </div>
            
            <div align="center">
                <button class="button--large--cta"
                        ng-click="ctrl.scanAndConnect()">
                        <span>{{"Read Weight"|translate}}</span>
                </button>
            </div>
        </div>

        <div ng-if="ctrl.isLoading()">
            <loading-spinning-circle loading-message="{{'Connecting to device...'|translate}}">
            </loading-spinning-circle>
        </div>

        <div ng-if="ctrl.weight && !ctrl.dataSubmitted" align="center" style="margin-bottom: 2vh;">
            <p><strong>Weight</strong></p>
            <p style="font-weight: bold;">
                <span style="border: 1px solid #ddd; padding: 1vh; display: inline-block; margin-right: 1vh;">{{ctrl.weight}}</span>kg
            </p>
            <!-- <p><strong>Scale:</strong> {{ctrl.selectedDevice.name}} ({{ctrl.selectedDevice.id}})</p> -->
            <!-- <p><strong>Battery level:</strong> {{ctrl.selectedDevice.battery}}%</p> -->
            <button class="button--large--cta"
                    ng-click="ctrl.submitData()">
                {{"Submit Weight to Hospital"|translate}}
            </button>
        </div>

        <div ng-if="ctrl.dataSubmitted" align="center" style="margin-bottom: 2vh;">
            <p>Thank you for submitting your weight.</p>
            <p>If you have any questions or concerns, please let your clinical team know.</p>
            <button class="button--large--cta"
                    ng-click="ctrl.done()">
                {{"Go back to smart devices"|translate}}
            </button>
        </div>
        
        <div ng-if="ctrl.selectedDevice == null && ctrl.devices.length > 1" style="margin-bottom: 2vh;">
            <p ng-class="fontSizeTitle"><strong>{{ 'Multiple devices detected. Please specify the device to read from:' | translate }}</strong></p>

            <ons-list style="border-left: 1px solid #ddd !important; border-right: 1px solid #ddd !important;">
                <ons-list-item ng-repeat="device in ctrl.devices" class="item">
                    <ons-row align="center">
                        <div class="patient-content">
                            <div class="patient-content--icon">
                                <i class="fa fa-heartbeat fa-lg"
                              style="color:red; display: inline-block"></i>
                            </div>
                            <div class="patient-content--text">
                                <p ng-class="fontSizeTitle">{{ device.name }}</p>
                                <p class="relationship-list--status" ng-class="fontSizeDesc">{{ device.id }}</p>
                            </div>
                            <div class="patient-content--right" style="margin-left: 5vh;">
                                <button class="shadow-2 button--large--cta" ng-click="ctrl.selectDevice(device)">
                                    <span>{{ 'Select' | translate }}</span>
                                </button>
                            </div>
                        </div>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>

        <div ng-if="ctrl.debug">
            <p ng-class="fontSizeTitle" style="margin-top: 1vh;"><strong>Debug Messages:</strong></p>
            <div>
                <p ng-repeat="message in ctrl.messages">{{ message }}</p>
            </div>
        </div>
    </div>
        
</ons-page>
