<ons-navigator title="Navigator" var="myNavigatorAccount">
<ons-page ng-controller="accountSettingController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon><div class="notification menu-notification">{{Notifications + NumberOfNewMessages}}</div>
      </ons-toolbar-button>
    </div>
    <div class="center">Settings</div>
  </ons-toolbar>
<ons-pull-hook ng-action="load2($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
</ons-pull-hook>
  <div class="container" ng-hide="noNotifications">
<a style="text-decoration:none" href ng-click="menu.setMainPage('views/notifications.html',{closeMenu:true})">
        <alert align="center" ng-show="showAlert&&(Notifications==1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notifications. <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
        </alert>
        <alert align="center" ng-show="showAlert&&(Notifications>1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notification. <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
        </alert></a>
 </div>
      <div class="container hidden-xs hidden-sm" align="center" >

    
    <div align="left" style="text-align:left"><h3><strong>General Account Settings</strong></h3></div>
    <hr />
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Email:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4  col-lg-4">
      <p class="text-muted">{{Email}}</p>
    </div>
    <div style="text-align: right" class="col-xs-4 col-sm-4  col-lg-4">
     <ons-icon icon="fa-pencil" size="12px" style="color:#0066FF">&nbsp;</ons-icon><a class="forgotPassword" href style="position:relative;text-align:right;font-size:10px;color:#0066FF" ng-click="editingDiv.editEmailDiv=true;hideSectionsBut('editEmailDiv')">Edit</a>
  </div>
  <br>
   <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.editEmailDiv" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('Email')" novalidate><br>
      <strong>Enter your new email:</strong>&nbsp;<input class="text-input" id="firstNameField" type="text" name="editEmail" ng-model="account.Email" placeholder="Email"/>
      <br><strong>Enter your password:</strong>&nbsp;<input id="firstNameField" class="text-input" type="password" name="editPasswordEmail" ng-model="account.emailPassword" style="margin-left:2px" placeholder="Password"/>&nbsp;<br><input class="btn btn-primary" type="submit" id="submit" value="Submit"/>&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.editEmailDiv=false">Cancel</a></form>
    </div>
    <hr />
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Password:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">-</p>
    </div>
    <div style="text-align: right" class="col-xs-4 col-sm-4 col-lg-4">
     <ons-icon icon="fa-pencil" size="12px" style="color:#0066FF">&nbsp;</ons-icon><a class="forgotPassword" href style="position:relative;text-align:right;font-size:10px;color:#0066FF" ng-click="editingDiv.editPasswordDiv=true;hideSectionsBut('editPasswordDiv')">Edit</a>
  </div>
  <br>
   <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.editPasswordDiv" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('Password')" novalidate><br>&nbsp;&nbsp;<strong>Enter old password:</strong>&nbsp;<input id="passwordField" class="text-input" type="password" name="editPassword" ng-model="account.oldPassword" placeholder="Password"/><br>
      <strong>Enter new password:</strong>&nbsp;<input id="passwordField" style="margin-left:1px" type="password" name="editPassword" class="text-input" ng-model="account.newPassword" placeholder="Password"/><br>
     &nbsp;&nbsp;<strong>Re-enter password:</strong>&nbsp;<input id="passwordField" class="text-input" style="margin-left:3px" type="password" name="editPassword" ng-model="account.rePassword" placeholder="Password"/><br>&nbsp;
     <div style="margin-left=30px"><input class="btn btn-primary" type="submit" id="submit" value="Submit"/>&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.editPasswordDiv=false">Cancel</a></div></form>
    </div>
    <hr/>
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Receive SMS:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">{{smsPreference}}</p>
    </div>
    <div style="text-align: right" class="col-xs-4 col-sm-4 col-lg-4">
     <ons-icon icon="fa-pencil" size="12px" style="color:#0066FF">&nbsp;</ons-icon><a class="editSMSButton" href style="position:relative;text-align:right;font-size:10px;color:#0066FF" ng-click="editingDiv.editSMSDiv=true;hideSectionsBut('editSMSDiv')">Edit</a>
  </div>
  <br>
    <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.editSMSDiv" align="left" style="text-align:left;margin-left:30px">
     <br> <form name="form" ng-submit="changeImage('SMS')" align="left" novalidate><strong>SMS Notifications:</strong>&nbsp;
        <select name="Language" ng-model="account.SMSPreference">
              <option value="Enable">Enable</option>
              <option value="Disable">Disable</option>
          </select>
      <input class="btn btn-primary" type="submit" id="submitLanChange" value="Submit" />&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.editSMSDiv=false">Cancel</a><br>


      </form>
    </div>
      <hr/>
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Telephone Number:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">{{TelNum}}</p>
    </div>
    <div style="text-align: right" class="col-xs-4 col-sm-4 col-lg-4">
     <ons-icon icon="fa-pencil" size="12px" style="color:#0066FF">&nbsp;</ons-icon><a class="forgotPassword" href style="position:relative;text-align:right;font-size:10px;color:#0066FF" ng-click="editingDiv.editTelNumDiv=true;hideSectionsBut('editTelNumDiv')">Edit</a>
  </div>
  <br>
   <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.editTelNumDiv" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('TelNum')" novalidate><br><strong>Enter New Telephone Number:&nbsp;</strong><input id="firstNameField" class="text-input" type="text" name="editFirstName" ng-model="account.editFirstName" size="21" placeholder="Telephone Number"/>&nbsp;<input class="btn btn-primary" type="submit" id="submit" value="Submit"/>&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.editTelNumDiv=false">Cancel</a></form>
    </div>
    <hr />
     <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Language:</p>
    </div>
    <div style="text-align: center;" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">{{Language}}</p>
    </div>
    <div style="text-align: right" class="col-xs-4 col-sm-4 col-lg-4">
     <ons-icon icon="fa-pencil" size="12px" style="color:#0066FF">&nbsp;</ons-icon><a class="forgotPassword" href style="position:relative;text-align:right;font-size:10px;color:#0066FF" ng-click="editingDiv.editLanDiv=true;hideSectionsBut('editLanDiv')">Edit</a>
  </div>
  <br>
   <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.editLanDiv" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('Lan')" novalidate><br><strong>Language:</strong>&nbsp;
          <select name="Language"  ng-model="account.LanguagePreference">
              <option value="English">EN</option>
              <option value="French">FR</option>
          </select>
          <input class="btn btn-primary" type="submit" id="submitLanChange" value="Submit" />&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.editLanDiv=false">Cancel</a><br>
      </form>
    </div>
    <hr />
    </div>

    <div class="container hidden-md hidden-lg">
    <div hm-tap="chedkboxModel=1">
      <ons-row class="profile-wrapper">
        <ons-col width="60px" class="profile-image-wrapper">
          <img src="img/patient.png" class="profile-image-account">
        </ons-col>

        <ons-col>
          <div class="profile-name-account">{{FirstName}} {{LastName}}</div>
          <div class="profile-email-account">{{Email}}</div>
        </ons-col>

      </ons-row>
      </div>

      <div class="settings-header">Personal</div>

      <ons-list modifier="inset" class="settings-list">
       <ons-list-item modifier="chevron" ng-click="myNavigatorAccount.pushPage('pageAccount.html', {param:'First Name'},{ animation : 'slide' } )">
          First Name
          <span class="list-item-note lucent">{{FirstName|limitTo:7}}</span>
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="myNavigatorAccount.pushPage('pageAccount.html', {param:'Last Name'},{ animation : 'slide' } )">
          Last Name
          <span class="list-item-note lucent">{{LastName|limitTo:7}}</span>
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="myNavigatorAccount.pushPage('pageAccount.html', {param:'Email'},{ animation : 'slide' } )">
          Email
          <span class="list-item-note lucent">{{Email|limitTo:7}}...</span>
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="myNavigatorAccount.pushPage('pageAccount.html', {param:'Password'},{ animation : 'slide' } )">
          Password
          <span type="password" class="list-item-note lucent">{{passFill|limitTo:passwordLength}}</span>
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="myNavigatorAccount.pushPage('pageAccount.html', {param:'Tel. Number'},{ animation : 'slide' } )">
          Phone Number
          <span class="list-item-note lucent">{{TelNum}}</span>
        </ons-list-item>
      </ons-list>

      <div class="settings-header">Preferences</div>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="myNavigatorAccount.pushPage('pageAccount.html', {param:'Language'},{ animation : 'slide' } )">
          Language
           <span class="list-item-note lucent">{{Language}}</span>
        </ons-list-item modifier="chevron">
        <ons-list-item>
          Enable SMS
        <label class="switch switch--list-item">
          <input type="checkbox" ng-model="checkboxModel" ng-change="saveSettings('EnableSMS')" ng-true-value="1" ng-false-value="0" class="switch__input">
          <div class="switch__toggle"></div>
        </label>
          <!--<span class="list-item-note lucent">{{smsPreference}}</span>-->
        </ons-list-item>
        <ons-list-item ons-if-platform="android" ng-show="mobilePlatform">
          Calendar Access
        <label class="switch switch--list-item">
          <input type="checkbox" ng-model="checkboxModelCalendar" ng-change="saveSettings('Calendar')" ng-true-value="1" ng-false-value="0" class="switch__input">
          <div class="switch__toggle"></div>
        </label>
          <!--<span class="list-item-note lucent">{{smsPreference}}</span>-->
        </ons-list-item>
      </ons-list>

      <br>


      <ons-list modifier="inset" class="settings-list">
        <ons-list-item ng-click="$state.go('logOut')" modifier="tappable">
          <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
          Sign out
        </ons-list-item>
      </ons-list>
    </div>
</ons-page>
<ons-template id="pageAccount.html">
  <ons-page ng-controller="ChangingSettingController">
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">{{value}}</div>
    </ons-toolbar>
  
    <div ng-show="personal">
    <div class="lucent" style="margin-left:2vw;margin-top:10vh">
          <p class="note">{{instruction}}</p>
    </div>
     <ons-list modifier="noborder" class="settings-list" style="margin-top:5vh">
        <ons-list-item >
          <input ng-minlength="1" type="{{type1}}" class="text-input text-input--transparent width-full" placeholder="Enter new {{value}}" value="{{value}}" ng-model="newValue">
          <a ng-click="newValue=''" ><span class="list-item-note lucent"><ons-icon icon="ion-close-circled"></ons-icon></span></a>
        </ons-list-item>
      </ons-list>
      <div ng-show="value=='Password'||value=='Email'">
         <div class="lucent" style="margin-left:2vw;margin-top:2vh">
          <p class="note">{{instructionOld}}</p>
    </div>
     <ons-list modifier="noborder" class="settings-list" style="margin-top:5vh">
        <ons-list-item >
          <input ng-minlength="1" type="{{type2}}" class="text-input text-input--transparent width-full" placeholder="{{placeHolder}}" value="{{value}}" ng-model="oldValue">
          <a ng-click="oldValue=''" ><span class="list-item-note lucent"><ons-icon icon="ion-close-circled"></ons-icon></span></a>
        </ons-list-item>
      </ons-list>
      </div>
      <div ng-show="newUpdate" style="margin-left:2vw;margin-top:2vh;">
        <p class="{{alertClass}}">{{updateMessage}}</p>
      </div>
      <div class="container" style="margin-top:10vh">
      <ons-button  ng-click="updateValue(value)" modifier="large" style="margin: 0 auto;">
          Update {{value}}
        </ons-button>
      </div>
      </div>
    <div ng-hide="personal">
    <div class="lucent" style="margin-left:2vw;margin-top:2vh">
          <p class="note">{{instruction}}</p>
    </div>
      <ul class="list" style="margin-top:10vh">
  <li class="list__header">Select Language</li>
  <li class="list__item list__item--tappable" >
    <label  class="radio-button radio-button--list-item">
      <input ng-change="changeLanguage('EN')" ng-model="pickOption" type="radio" value="{{firstOption}}" name="b" >
      <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
      {{firstOption}}
    </label>
  </li>

  <li class="list__item list__item--tappable" >
    <label  class="radio-button radio-button--list-item">
      <input ng-change="changeLanguage('FR')" ng-model="pickOption" type="radio" value="{{secondOption}}" name="b">
      <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
      {{secondOption}}
    </label>
  </li>
</ul>
</div>

     
  </ons-page>
</ons-template>
</ons-navigator>