<ons-navigator title="Navigator" var="myNavigator">
<ons-page ng-controller="NotificationsController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon><div class="notification menu-notification">{{Notifications}}</div>
      </ons-toolbar-button>
    </div>
    <div class="center">Notifications</div>
  </ons-toolbar>
  <ons-pull-hook ng-action="load($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
</ons-pull-hook>

    <div  ng-hide="noNotifications">
   
   <ons-list-item ng-repeat="notification in NotificationsArray" ng-click="goToNotification($index,notification)" modifier="chevron" class="list-item-container">
          <ons-row >
            <ons-col class="hidden-xs col-sm-4 col-lg-4">
             <img src="img/logo.png" class="thumbnail2 img-responsive">
            </ons-col>
            <ons-col class="col-xs-10 col-sm-6 col-lg-6">
              <div class="name" >
                {{notification.Name}}
              </div>
              <div class="location">
                <i class="fa fa-calendar"></i> {{notification.DateTime|date:"EEEE MMMM d, yyyy 'at' h:mm a"}}
              </div>
              <div class="desc">
                Issued By: {{notification.IssuedBy}}
              </div>
            </ons-col>
            <ons-col width="20%" class="col-xs-2 col-sm-6 col-lg-2  "><p align="right" style="text-align:right;color:grey" ng-show="notification.ReadStatus===0">UNREAD</p></ons-col>
          </ons-row>
        </ons-list-item>
</div>
      <p style="margin-top:100px;color:grey" ng-show="noNotifications" style="color: #999; font-size: 13px;">You have no notifications</p>
</ons-page>
</ons-navigator >
<ons-template id="page1.html">
  <ons-page ng-controller="IndividualNotificationController">
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Notification</div>
    </ons-toolbar>
    <div class="container jumbotron" style="text-align: left;padding:2vw">
      <br />
      <strong>Date:</strong>{{notification.DateTime|date:"EEEE MMMM d, yyyy"}} <br>
      <strong>Time:</strong>{{notification.DateTime|date:"h:mm a"}}<br>
      <strong>Type: </strong> {{notification.Name}}<br>
      <strong>Issued By: </strong>{{notification.IssuedBy}}<br>
      <strong>Description:</strong> {{notification.Description}}
    </div>
  </ons-page>
</ons-template>