<!-- For the full desktop view I have found this http://fullcalendar.io/docs/, plus an angular plugin to manipulate it-->
<!--https://github.com/angular-ui/ui-calendar-->
<ons-navigator title="Navigator" var="myNavigatorMessages">

<ons-page ng-controller="PatientPortalController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon><div class="notification menu-notification">{{Notifications}}</div>
      </ons-toolbar-button>
    </div>
    <div class="center">Feedback Form</div>
  </ons-toolbar>
  <ons-pull-hook ng-action="load($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
</ons-pull-hook>
<div class="container" ng-hide="noNotifications">
<a style="text-decoration:none" href ng-click="menu.setMainPage('views/notifications.html',{closeMenu:true})">
        <alert align="center" ng-show="showAlert&&(Notifications==1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notifications. <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
        </alert>
        <alert align="center" ng-show="showAlert&&(Notifications>1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notification. <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
        </alert></a>
 </div>

<!--List Of Conversations Mobile View-->

<div class="visible-xs" ng-controller="ListOfConversationMobileController">
  <div class="navigation-bar" style="width:100%;height:13vh">
  <div  class="navigation-bar__left" >
  <span><strong>Search:</strong></span>
  <ui-select  style="margin-left:3vw;margin-top:1vh" ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 200px;">
    <ui-select-match placeholder="Select name...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  </div>
</div>
<div style="overflow-y:scroll">
     <ons-list class="plan-list" >
          <ons-list-item style="1px solid black;" ng-click="personClicked($index)" class="plan list__item list__item--tappable"  ng-repeat="message in messages">
            <ons-row>
              <ons-col width="100px" class="plan-left">
                <div class="plan-date" style="padding:4px">{{message.DateOfLastMessage| date: 'MM/dd/yyyy'}}</div>
                <div class="plan-duration" style="padding:4px">{{message.DateOfLastMessage| date: 'h:mma'}}</div>
              </ons-col>

              <ons-col width="6px" class="plan-center" ng-style="{'background-color':getStyle($index)}">
              </ons-col>

              <ons-col ng-class="plan-right" >
                <div class="plan-name" style="padding:4px">{{message.MessageRecipient}}</div>
                <div class="plan-info" style="padding:4px">
                  <div>
                    <ons-icon icon="ion-ios-person"></ons-icon>&nbsp;&nbsp;{{message.Role}}
                </div>
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item> 
          </ons-list>

</div>

</div>



<!--DESKTOP, TABLET VIEWS ONLY-->
<!--List of messages per Conversation for every other view -->
<div class="container hidden-xs" style="margin-top:1% ">
 
   <div class="col-md-4 col-sm-4 col-lg-4 "> 
       <div class="center">

   <strong>Conversations</strong>
   </div>
     <div class="panel panel-default" style="padding:0px;height:79vh" >
  <div class="panel-body " style="padding:0px;">

<!--SEARCH BAR FOR MESSAGES-->

    <div class="navigation-bar" style="width:100%">
  <div class="navigation-bar__left">
 <!-- <input type="search" style="display:inline-block;width: 200px;margin-top:2%;margin-left:2%;" class="search-input"
  placeholder="Search Mailbox...">-->
 <!--<ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 200px;">
    <ui-select-match placeholder="Select name...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>-->
   <!--<span><strong>Search:</strong></span>-->
  <ui-select  style="margin-left:1vw;margin-top:1vh" ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 200px;">
    <ui-select-match placeholder="Select name/role...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, Role: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
      <small>
        Role: <span ng-bind-html="''+person.Role | highlight: $select.search"></span>
      </small>
    </ui-select-choices>
  </ui-select>


  </div> 
</div>

<!--DESKTOP LIST OF MESSAGES-->
<div class="hidden-sm" style="overflow-y:scroll;height:71.5vh">
  <ons-list class="plan-list" >
          <ons-list-item style="1px solid black" ng-click="personClicked($index)" class="plan list__item list__item--tappable"  ng-repeat="conversation in messages">
            <ons-row>
              <ons-col width="100px" class="plan-left">
                <div class="plan-date">{{conversation.DateOfLastMessage| date: 'MM/dd/yyyy'}}</div>
                <div class="plan-duration">{{conversation.DateOfLastMessage| date: 'h:mma'}}</div>
              </ons-col>

              <ons-col width="6px" class="plan-center" ng-style="{'background-color':getStyle($index)}">
              </ons-col>

              <ons-col ng-class="($index==selectedIndex) ? 'my-class' : 'plan-right'" >
                <div class="plan-name">{{conversation.MessageRecipient}}</div>
                <div class="plan-info">
                  <div>
                    <ons-icon icon="ion-ios-person"></ons-icon>&nbsp;&nbsp;{{conversation.Role}}
                </div>
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item> 
          </ons-list>
          </div>


  <!--TABLET PORTRAIT VIEW  FOR THE LIST OF MESSAGES-->        
    <div class="hidden-lg hidden-md" style="overflow-y:scroll;height:71.5vh">
    <ons-list class="plan-list " >
          <ons-list-item style="1px solid black" ng-click="personClicked($index)" class="plan list__item list__item--tappable"  ng-repeat="message in messages">
            <ons-row>
              <ons-col width="20px" class="plan-left" ng-style="{'background-color':getStyle($index)}">
              </ons-col>

              <ons-col ng-class="($index==selectedIndex) ? 'my-class' : 'plan-right'">
                <div class="plan-name">{{message.MessageRecipient}} <br><span class="plan-duration">{{message.DateOfLastMessage| date: 'MM/dd/yyyy'}} at {{message.DateOfLastMessage| date: 'h:mma'}} </span></div>

                <div class="plan-info">
                   <ons-icon icon="ion-ios-person"></ons-icon>&nbsp;&nbsp;{{message.Role}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item> 
          </ons-list>
  </div>
          </div>
          </div>  
   </div>


   <!--MESSAGE CONTENT VIEW FOR ALL OF THE VIEWS EXCEPT MOBILE VIEW, NOTE: HIDDEN-XS WAS SPECIFIED IN CONTAINING DIV-->
    <div class="container col-md-8 col-sm-8 col-lg-8" >
  <div class="panel panel-default" >
  <div class="panel-body" >

   <div style="overflow-y:scroll;height:70vh" scroll-glue-bottom="glue">
 
         <div  ng-repeat="mes in conversation" ng-init="(mes.Role=='1' ? messageName='User' : messageName=messages[selectedIndex].MessageRecipient)">
           <br>
      <div style="height: 1px; background-color: #C1C1C1; text-align: center">
  <span style="font-size:12px;background-color: white; position: relative; top: -1.5em;color:#C1C1C1">
    {{mes.Date|date:'dd/MM/yyyy'}}
  </span>
</div>
<br>
      <div class="row" >
            <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2" >
                <img  style="border-radius:4px" width="40px" height="auto" ng-hide="mes.Role=='1'" ng-src="./img/doctor.png">
                <img  width="40px" height="auto" ng-hide="mes.Role=='0'" ng-src="./img/patient.png">
              
            </div>

            <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9" style="margin-left:-7%">
               <div  class="timline-from" >
                  <span class="timeline-name">{{messageName}}</span>
                  <span class="timeline-id">{{mes.Date|date:'h:mm a'}}</span>
                </div>
                <div  class="timeline-message ">
                  {{mes.MessageContent}}
                </div>

            </div>
            <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1" >
               <div  class="timline-from" >
                  <span class="timeline-id" ng-show="mes.ReadStatus==1&&mes.Role=='0'">Read</span>
              </div>
            </div>
            </div>
      </div>
      
      </div>
  

  

<div>
    <br>
   
    <textarea ng-model="newMessage" style="margin-left:5%" class="textarea col-md-9 col-lg-10 col-lg-offset-1 col-sm-9 col-sm-offset-1 " rows="2"  placeholder="Message" ngMinlength="1" name="MessagePatient" ngMaxlength="256" required></textarea>
    <div class="hidden-xs col-md-1 col-lg-1 col-sm-1" style="margin-top:0.5% ">
      <ons-button ng-click="submitMessage()" modifier="small" style="margin: 0 auto;">
          Send
      </ons-button>
    </div>
  </div>
 
  </div>
  </div>
</div>
</div>
</ons-page>

<ons-template id="pageMessage.html">
  <ons-page ng-controller="MessagePageController">
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">{{header}}</div>
    </ons-toolbar>
     <ons-pull-hook ng-action="load2($done)" var="loader2">
        <span ng-switch="loader2.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
</ons-pull-hook>
     <div class="panel panel-default" >
  <div class="panel-body">

   <div style="overflow-y:scroll;height:75vh" scroll-glue-bottom="glue">
 
         <div  ng-repeat="mes in conversation" ng-init="(mes.Role=='1' ? messageName='User' : messageName=messages[selectedIndex].MessageRecipient)">
           <br>
      <div style="height: 1px; background-color: #C1C1C1; text-align: center">
  <span style="font-size:12px;background-color: white; position: relative; top: -1.5em;color:#C1C1C1">
    {{mes.Date|date:'dd/MM/yyyy'}}
  </span>
</div>
<br>

      <div class="row" >
        <!--<div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                
            </div>-->
            <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2" >
                <img  style="border-radius:4px" width="40px" height="auto" ng-hide="mes.Role=='1'" ng-src="./img/doctor.png">
                <img  width="40px" height="auto" ng-hide="mes.Role=='0'" ng-src="./img/patient.png">
              
            </div>

            <div class="col-xs-9 col-md-9 col-sm-8 col-lg-8" style="margin-left:-7%">
               <div  class="timline-from" >
                  <span class="timeline-name">{{messageName}}</span>
                  <span class="timeline-id">{{mes.Date|date:'h:mm a'}}</span>
                </div>
                <div  class="timeline-message ">
                  {{mes.MessageContent}}
                </div>
            </div> 
            </div>
      </div>
      
      </div>

<div align="center" class="bottom" scroll-glue-bottom="glue">
<br>
      <textarea ng-model="newMessageMobile" style="margin-left:5%" class="textarea col-xs-9 " rows="1"  placeholder="Message"></textarea>
      <div class="right">
        <div class="col-xs-2">
          <a style="margin-left=1%" href ng-click="submitMessage()">Send</a>
        </div>
      </div>
  </div>
 
  </div>
  </div>
     
  </ons-page>
</ons-template>
</ons-navigator>