
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
@font-face {
    font-family: font;
    src: url("../fonts/Roboto-Regular.ttf");
}

html, .page {
    font-family: font, cursive, sans-serif;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
a:hover {
    text-decoration: none;
}
*{
  text-overflow: ellipsis;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
    /*text-transform:uppercase;*/
    width:100%;
}

#listInitApp div ons-button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
}

.listInitApp {
    display: none;
    height: 56%;
}

.initScreenButtonDiv {
    height: 15%;
    margin: 3% auto;
    text-align: center;
    width: 90%;
}

.initScreenWhiteButton {
    background-color: #F5F5F5;
    font-size: x-large;
    height: 100%;
    position: relative;
}

.initScreenGreenButton {
    background-color: #4CAF50;
    font-size: xx-large;
    font-weight: bolder;
    height: 100%;
}

.initScreenButtonText {
    color: #757575;
    display: inline-block;
    margin-left: -10%;
}

/* Portrait layout (default) */
.app {
    background: no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
/*
Password view

*/
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.forgotPassword:hover{
    text-decoration: underline;


}
/*Loading view */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
/*Images*/
img
{
    max-width: 100%;
    height: auto;
}
.img-page-background
{
  width: 100%;
  height: 100%;
  background-color:black;
}


/*
  Main menu css
*/
.page--menu-page__background {
  background-color: #EBEBEA;
}

.page--menu-page__content {
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item:last-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #2B6197;
}
.popover__content{
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 16px rgba(0,0,0,0.1);
  box-shadow: 0 2px 16px rgba(0,0,0,0.1);
  color: #1f1f21;
  overflow: hidden;
  min-height: 20px;
  height: 100%;
}

.popover {
    display: inline;
}

.menu-item {
  color:#2B6197;
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  /*text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;*/
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;

  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item:last-child,
.bottom-menu-item {
  background-color: transparent;
  background-image: none !important;
  color: #626262;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.editFirstNameIcon:hover{
    display:none;
}
.hoverFirstNameEdit:hover+.editFirstNameIcon{
    display:block;
}

.hbtn {
  height: 44px;
  line-height: 44px;
  vertical-align: 0;
  background: #eee;
  display:inline-block;
}


/*

*Checkin button

*/
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 5px 16px;
  font-size: 18px;
  line-height: 1.00;
  border-radius: 50px;
}
.checkin-button{
  width:150px;
  height:150px;
  border-radius: 50%;
}
/*Onsen's carouse;*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/*onsen notificatins page*/
.list-item-container {
  line-height: 1.3;
  font-size: 14px;
  padding: 15px 0px 15px 15px;
}

.thumbnail2 {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}
/*Onsen's css for Home page*/
.profile-card {
  width: 100%;
  text-align: center;
  color: black;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #E6E6E6;
  /*text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;*/
}

a.muhcapp-home-account:link, a.muhcapp-home-account:hover{
  text-decoration: none;
}

.profile-name {
  margin: -3px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}
/*Onsen's css for contact me page*/
.person-list {
  border-top: none;
}

.person {
  line-height: 2;
}

.person-list-header {
  opacity: 0.6;
}

.person-name {
  line-height: 44px;
}

.person-image {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  margin-left:5px;
  border-radius: 3px;
}
.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}
.profile-cardContact {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;


}
.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 80px auto;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 14%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }

  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}
/*Treatment Plan List Of Appointments*/
.plan-list {
  border-top: none;
  background-image: none !important;
}

.plan {
  line-height: 2;
  padding: 0;
}

.plan-left {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.plan-center {
  background-color: #3399ff;
  opacity: 0.5;
}

.plan-right {
  padding: 10px 0px 10px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name{
  line-height: 1;
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 14px;
  line-height: 1.2;
}

/*
  Message cloud in the patientPortal Controller
*/

.triangle-border {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #5a8f00;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right:30px;
}
.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 0 15px 30px;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 0 9px 21px;
  border-color:transparent #fff;
}
/*
* Messages to Doctor
*/
.image-conversation{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left;
}

.list-item-right {
  width: 100%;
  float: right;
}

.list-item-content {
  margin-left: 60px;
  margin-right: 30px;
}

.avator {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.desc {
  line-height: 20px;
}

.lucent {
  opacity: 0.4;
}
/*
*Second App Idea for messages
*/
.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}


.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*
*Messages bottom div
*/

#bottomMessage {
  margin-top: 30vh;
  padding: 0;
}

/*
* Message list, highlighting and unread
*/
.unreadMessage{
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height:10px;
  background: #3399ff;
}
.my-class{
  padding: 10px 0px 10px 0px;
  background-color: #C8C8C8;
  font-size:10%;
}

/*
*Account Settings Mobile Portrait view account settings
*
*/
.switch__input {
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0;
    border: 0;
    opacity: 0.001;
    z-index: 1;
    vertical-align: top;
    outline: none;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 51px;
    height: 32px;
    margin-top: -6px;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.profile-wrapper {
  padding: 16px 10px 0 10px;
}

.profile-image-account {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: inset 1px rgba(0, 0, 0, 0.3);
}

.profile-name-account{
  font-size: 18px;
  padding: 4px 0 2px 0;
}

.profile-email-account {
  font-size: 15px;
  opacity: 0.4;
}

.switch--list-item {
  margin-right: 0px;
}

.settings-header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
  margin-bottom: -4px;
}

.settings-list {
  margin-top: 0px;
}

.list-item-note {
  position: absolute;
  right: 36px;
  top: 0px;
  font-size: 14px;
}

.lucent {
  opacity: 0.4;
}
/*
*Feedback page
*
*/
.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  margin-left:5px;
  -webkit-border-radius: 4px;
}
.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.textarea-feedback {
  margin-top: 4px;
}
.updateMessage-success{
  border:1px solid;
  border-radius:5px;
  border-color: #3c763d;
  color: #3c763d;
  padding:1vh;
}
.updateMessage-error{
  border:1px solid;
  border-radius:5px;
  border-color: #a94442;
  color: #a94442;
  padding:1vh;
}

/*
Tabbar treatment plan

*/


.tab-bar {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  display: table;
  table-layout: fixed;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  width: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: -webkit-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.tab-bar__item {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  display: table-cell;
  width: auto;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.tab-bar__item > input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.tab-bar__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  padding: 0;
  height: 49px;
  letter-spacing: 0;
  color: #666;
  text-shadow: 0 1px none;
  vertical-align: top;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
  width: 100%;
  font-weight: 400;
  line-height: 49px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar__button {
    border-top: none;
  }
}
.tab-bar__icon {
  font-size: 24px;
  padding: 0;
  margin: 0;
  line-height: 32px;
  display: block;
  height: 32px;
}
.tab-bar__label {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
}
.tab-bar__icon + .tab-bar__label {
  font-size: 11px;
  line-height: 1;
  margin: 0;
  font-weight: 400;
}
.tab-bar__label:first-child {
  font-size: 16px;
  line-height: 49px;
  margin: 0;
  padding: 0;
}
.tab-bar__button {
  color: #666;
}
:checked + .tab-bar__button {
  color: #1284ff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
}
:checked + .tab-bar__button > .tab-bar__icon {
  color: #1284ff;
}
.tab-bar__button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.tab-bar__button:focus {
  z-index: 1;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

p{
  word-wrap: break-word;
}
/*
*Home screen profile view
*/
.profile-wrapper {
  padding: 12px 10px 12px 10px;
  text-align: left;
  margin-left:10px;
}

.profile-image-home {
  margin-right:20px;
	width: 60px;
	height: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: inset 1px rgba(0, 0, 0, 0.3);
}

.profile-email {
  font-size: 15px;
  opacity: 0.4;
}
.my-home-profile{
  width:100%;
  padding:10px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  border-radius:4px;
  background-color:white;
  color:black;
  margin:2px 2px 2px 2px;
}
.my-message-container{
  width:100vw;
  padding:10px;
  border:1px solid rgba(0, 0, 0, 0.1);
  border-radius:4px;
  background-color:white;
  color:black;
  margin-left:1px;
}

.iconHomeView{
  margin-left: 10px;
  font-size:28px;
  font-weight: 300;
  color: #2B6197;
  text-align: center;
}
.themeCardTitle{
  line-height: 1.2;
}
/**
*Status bar for progress
*
*/
.progressStatus {
    height: 200px;
}

.progressStatus > svg {
    height: 100%;
    display: block;
}
.progressStatusTextBox{
  margin-top:-165px;
  z-index:122312;
  text-align:center;
  font-size:12px;
  width:140px;
  height:115px;
}
.iconStatusBox{
  margin-top:5px;
  font-size:13px;
  font-weight: 600;
  color: #2B6197;
  text-align: center;
}

/* Lab results specific classes */
.labtest-col {
    padding-right: 0px;
    padding-left: 10px;
}
.name1 {
  color: blue;
}

.lab-results-new-result {
  display: inline;
}

.lab-results-test-out5 {
  color: #F44336;
}

.lab-results-test-in5 {
  color: #673AB7;
}

.list-item-note {
  position: absolute;
  right: 36px;
  top: 0px;
  font-size: 14px;
}

.lucent {
  opacity: 0.4;
}

/*.chartArea{*/
  /*position: relative;*/
  /*height: 100%;*/
  /*min-height: 50%;*/
  /*width: 100%;*/
  /*min-width: 50%;*/

/*}*/


/*.chart-wrapper {*/
    /*float: left;*/
    /*padding-bottom: 40%;*/
    /*position: relative;*/
    /*width: 45%;*/
/*}*/
/*
*Tight list css for all views
*/

.list__item--tight {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  min-height: inherit;
  line-height: inherit;
}
.list__item--tight:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.list__item--tight:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/*
Button appointments
*/

.button--appointments-past--cta {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0;
  color: #fff;
  vertical-align: middle;
  background-color: #1284ff;
  border: 0px solid currentColor;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
  background-color: #4cda64;
  color: #fff;
}
.button--appointments-past--cta:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--appointments-past--cta:focus {
  outline: 0;
}
.button--appointments-past--cta:active {
  color: var-button-cat-color;
  background-color: #4cda64;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
}
.button--appointments-past--cta:disabled,
.button--appointments-past--cta[disabled] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*Future Appoinments
*/
.button--appointments-future--cta {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0;
  color: #fff;
  vertical-align: middle;
  background-color: #1284ff;
  border: 0px solid currentColor;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
  background-color: #c8ccc9;
  color: #fff;
}
.button--appointments-future--cta:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--appointments-future--cta:focus {
  outline: 0;
}
.button--appointments-future--cta:active {
  color: var-button-cat-color;
  background-color: #c8ccc9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
}
.button--appointments-future--cta:disabled,
.button--appointments-future--cta[disabled] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
*Checkin button home
*/
.button--large-danger {
  font-size: 17px;
  font-weight: 500;
  line-height: 36px;
  padding: 4px 12px;
  display: block;
  width: 100%;
  text-align: center;
}
.button--large-danger:active {
  background-color: #eb482f;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large-danger:disabled,
.button--large-danger[disabled] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large-danger:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large-danger:focus {
  outline: 0;
}
/*
*Checkin button success
*/
.button--large-success {
  font-size: 17px;
  font-weight: 500;
  line-height: 36px;
  padding: 4px 12px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #4cda64;
}
.button--large-success:active {
  background-color: #4cda64;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large-success:disabled,
.button--large-success[disabled] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large-success:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large-success:focus {
  outline: 0;
}
/*
*Text class
*/
.overflow {
  /**
   * Required properties to achieve text-overflow
   */
      white-space: nowrap;
    overflow: hidden;
}
.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

/*
*Utility classes
*/
.marginTop10
{
  margin-top: 10px;
}
.marginLeft10
{
  margin-left:10px;
}
.marginBottom10
{
  margin-bottom: 10px;
}
.marginRight10
{
  margin-right:10px;
}
.padding10{
  padding:10px;
}
/*
*Home and icons
*/

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

   }
  .card .item {
    border-left: 0;
    border-right: 0; }
  .card .item:first-child {
    border-top: 0; }
  .card .item:last-child {
    border-bottom: 0; }

.tab {
         line-height: 1;
     }

 .tab-icon {
     font-size: 30px;
     padding: 0;
     margin: 0;
     vertical-align: top;
     line-height: 28px;
 }

 .tab-label {
     line-height: 11px;
     vertical-align: top;
     font-size: 11px;
 }

 .profile-wrapper {
     padding: 16px 10px 0 10px;
 }

 .profile-image {
     width: 150px;
     height: 150px;
     border-radius: 100%;
     -webkit-border-radius: 100%;
     background-color: #ccc;
 }

 .profile-name {
     font-size: 18px;
     padding: 4px 0 2px 0;
 }

 .profile-email {
     font-size: 15px;
     opacity: 0.4;
 }

 .switch--list-item {
     margin-right: 0px;
 }

 .settings-header {
     font-weight: 500;
     font-size: 14px;
     opacity: 0.4;
     padding: 10px 0 0px 10px;
     margin-bottom: -4px;
 }
 .image-profile-wrapper-home
 {
   height: 150px;
   width:150px;
   border-radius: 50%;
   border:1px dashed darkgreen;

 }
 .image-profile-home{
   margin:5px 5px 5px 5px;
   height: 150px;
   width:150px;
   border-radius: 50%;
 }
 .image-profile-wrapper
 {
   height: 80px;
   width:80px;
   border-radius: 50%;
   border:1px dashed darkgreen;

 }
 .image-profile{
   margin:5px 5px 5px 5px;
   height: 69px;
   width:69px;
   border-radius: 50%;
 }

 .item {
     padding: 10px;
     line-height: 1;
 }

 .item-thum {
     background-color: #ccc;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     -webkit-border-radius: 100%;
 }

 .item-title {
     font-size: 16px;
     font-weight: 500;
 }
 .item-desc {
     font-size: 15px;
     color: #666;
     line-height: 1.3;
     margin: 4px 0 0 0;
     padding: 0 0px 0 0;
 }

 .item-label {
     font-size: 12px;
     color: #999;
     float: right;
 }
 .profile-id {
     font-size: 13px;
     color: grey;
 }

 /*

 *Calendar view

 */

 /*Month Picker*/
 .appointment-calendar .uib-monthpicker thead button
{
  border:0;
  height:7.2vh;
  width:33vw;
  max-height:70px;
  padding:0;
  border-top:1px solid lightgrey;
  border-radius:1px;
}
.appointment-calendar .uib-monthpicker .uib-month button{
  border:0;
  height:10vh;
  width:33vw;
  max-width:70px;
  max-height:70px;
  padding:0;
  border-top:1px solid lightgrey;
  border-radius:1px;
}
 /*Year Picker*/
 .appointment-calendar .uib-yearpicker thead button
{
  border:0;
  height:7.2vh;
  max-height:70px;
  padding:0;
  border-top:1px solid lightgrey;
  border-radius:1px;
}
.appointment-calendar .uib-yearpicker .uib-year button{
  border:0;
  height:10vh;
  width:16.66vw;
  max-width:70px;
  max-height:70px;
  padding:0;
  border-top:1px solid lightgrey;
  border-radius:1px;
}
 /*Day Picker*/
  .appointment-calendar  .uib-daypicker thead button
{
  border:0;
  height:7vh;
  max-height:70px;
  padding:0;
  border-top:1px solid lightgrey;
  border-radius:1px;
}
.appointment-calendar .uib-daypicker .btn-sm{
  border:0;
  height:7vh;
  width:14.28vw;
  max-width:70px;
  max-height:70px;
  padding:0;
  border-top:1px solid lightgrey;
  border-radius:1px;
}
.uib-daypicker .uib-monthpicker .uib-months .uib-month button
{
  border:0;
  border-top:1px solid black;
  height:9vh;
  background-color: blue;
}

.appointment-calendar .uib-monthpicker .uib-months .uib-month .btn-sm{
  border:0;
  width:60vw;
  border-top:1px solid lightgrey;
  border-radius:1px;
}


  .uib-weeks .full button {
    opacity: 0.8;
    filter: alpha(opacity=60);
    color: white;
    background-color: #D3D3D3 !important;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top: 1px solid lightgrey;
    width:80px;
    height:80px;
    border-color: lightgrey;
  }

  .uib-weeks .partially button {
    opacity: 0.8;
    filter: alpha(opacity=60);
    color: white;
    width:50px;
    height:50px;
    border-top: 1px solid lightgrey;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: #5CE68A !important;
    border-color:lightgrey;
  }
  .uib-weeks .today button {
    opacity: 0.8;
    width:50px;
    height:50px;
    filter: alpha(opacity=60);
     background-color: #cf5c4c;
    border-color: lightgrey;
    border-top: 1px solid lightgrey;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    color: white;
  }
  .plan-name-calendar {
  font-size: 17px;
}
.plan-date-calendar{
  font-size: 14px;
  opacity: 0.8;
  font-weight: 500;
}
.display-none{
  display:none;
}
.display-block{
  display:block;
}
/*
*Font size app
*/
.fontDescMedium{
  font-size: 16px;
}
.fontTitleMedium{
  font-size:17px;
}
.fontDescLarge{
  font-size: 19px;
}
.fontTitleLarge{
  font-size: 22px;
}
.fontDescXlarge{
    font-size: 24px;
}
.fontTitleXlarge{
    font-size: 25px;
}
/*
Home screen checkin button
*/

/*
.checkin-button {
     background-color: #387ef5;
    border-color: transparent;
    color: #fff;
}

.details-button{
    border-color: transparent;
    background-color: #11c1f3;
    color: #fff;
}
 .profile-card-list-button {
    height: 100%;
    border: none;
    border-radius: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}*/
.action-col {
  text-align: center;
  opacity: 0.8;
  border-right:1px solid lightgrey;
}

.action-col:active {
  opacity: 1.0;
  color:grey;
}
a .action-col{
  text-decoration: none;
  color:white;
}
.action-col ons-button {
  padding: 0;
  color:white;
}
.action-icon {
  padding: 0 0 2px 0;
  font-size: 20px;
}

.action-icon ons-icon {
  font-size: 20px;
}

.action-label {
  font-size: 12px;
}
/*
*Map controller
*/
.progress-circular {
  -webkit-animation: progress__rotate 2s linear infinite;
  -moz-animation: progress__rotate 2s linear infinite;
  -o-animation: progress__rotate 2s linear infinite;
  animation: progress__rotate 2s linear infinite;
  height: 80px;
  position: relative;
  width: 80px;
}
.progress-circular__primary {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: progress__dash 1.5s ease-in-out infinite;
  -moz-animation: progress__dash 1.5s ease-in-out infinite;
  -o-animation: progress__dash 1.5s ease-in-out infinite;
  animation: progress__dash 1.5s ease-in-out infinite;
  stroke: #2196F3;
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.progress-circular--determinate {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
.progress-circular--determinate > .progress-circular__primary {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
.progress-circular--determinate > .progress-circular__secondary {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  stroke: #2196F3;
}
@-moz-keyframes progress__rotate {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes progress__rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes progress__rotate {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes progress__rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes progress__dash {
  0% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 201%, 50.322%;
    stroke-dashoffset: -100%;
  }
  100% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: -251.32%;
  }
}
@-webkit-keyframes progress__dash {
  0% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 201%, 50.322%;
    stroke-dashoffset: -100%;
  }
  100% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: -251.32%;
  }
}
@-o-keyframes progress__dash {
  0% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 201%, 50.322%;
    stroke-dashoffset: -100%;
  }
  100% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: -251.32%;
  }
}
@keyframes progress__dash {
  0% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 201%, 50.322%;
    stroke-dashoffset: -100%;
  }
  100% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: -251.32%;
  }
}
/*
*Fab button
*/

.fab {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: font, 'Noto', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  width: 56px;
  height: 56px;
  text-decoration: none;
  font-size: 25px;
  line-height: 56px;
  letter-spacing: 0;
  color: #fafafa;
  vertical-align: middle;
  text-align: center;
  background-color: #009688;
  border: 0px solid currentColor;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.fab:active {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.4);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.4);
  background-color: #009688;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.fab:focus {
  outline: 0;
}
.fab__icon {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
  z-index: 100;
  line-height: 56px;
}
.fab:disabled,
.fab[disabled] {
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.fab--top__right {
  top: 20px;
  bottom: auto;
  right: 20px;
  left: auto;
  position: fixed;
}
.fab--bottom__right {
  top: auto;
  bottom: 20px;
  right: 20px;
  left: auto;
  position: fixed;
}
.fab--top__left {
  top: 20px;
  bottom: auto;
  right: auto;
  left: 20px;
  position: fixed;
}
.fab--bottom__left {
  top: auto;
  bottom: 20px;
  right: auto;
  left: 20px;
  position: fixed;
}
.fab--top__center {
  top: 20px;
  bottom: auto;
  margin-left: -28px;
  left: 50%;
  right: auto;
  position: fixed;
}
.fab--bottom__center {
  top: auto;
  bottom: 20px;
  margin-left: -28px;
  left: 50%;
  right: auto;
  position: fixed;
}
.fab--mini {
  width: 55px;
  height: 55px;
  line-height: 1;
}
.fab--mini .fab__icon {
  line-height: 1;
}
.speed-dial__item {
  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
/*
* News banner css
*/
.element-banner {
opacity: 0.0;
width:100vw;
position:fixed;
top:-7px;
left:0px;
transition: transform 500ms ease, opacity 400ms ease;
}

.active-banner {
opacity: 1.0;
-ms-transform: translate(0px,50px);
-webkit-transform:translate(0px,50px);
transform: translate(0px,50px);
}

.inactive-banner {
 opacity:0.0;
-ms-transform: translate(0px,-50px);
-webkit-transform:translate(0px,-50px);
transform: translate(0px,-50px);
}

/*
* GPU efficiency
*/

.gpu_efficiency{
  -ms-transform: translate(0px,0px);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.question-not-answered {
  background-color: #d9534f;
}
.radio-button > input[type="radio"]:checked + .radio-button__checkmark:before {
  border: 1px solid black;
  background: transparent;
  border-radius: 200px;
  background: transparent;
}
.radio-button > input[type="radio"] {

  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  height: 0px;
  width: 0px;
}
.radio-button > input[type="radio"]:active,
.radio-button > input[type="radio"]:focus {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.radio-button > input[type="radio"]:checked + .radio-button__checkmark:after {
  opacity: 1;

}
.radio-button > .radio-button__checkmark:before {
  background: transparent;
  border: 1px solid rgba(24,103,194,0.81);
}
.radio-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  line-height: 42px;
  text-align: left;
  margin: 10px 0;
}
.radio-button__checkmark:before {
  border: solid 1px black;
  border-radius: 200px

}
.radio-button__checkmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  pointer-events: none;
}
.radio-button > input[type="radio"]:checked + .radio-button__checkmark {
  background: rgba(24,103,194,0.81);
  border: solid 1px white;
  border-radius: 200px
}
.radio-button > input[type="radio"]:unchecked {
  border: solid 1px white;
  border-radius: 200px
}
.radio-button__checkmark:after {
  content: '';
  position: absolute;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 6px;
  left: 5px;
  opacity: 0;
  width: 12px;
  height: 6px;
  background: transparent;
  border: 1px solid white;
  border-width: 2px;
  border-top: none;
  border-right: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.radio-button > input[type="radio"]:disabled + .radio-button__checkmark {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.progress.vertical {
float: left;
height: 100%;
margin-right: 20px;
margin-left: 30%;
width: 30px;
}

.lee-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 0;
}
.lee-checkbox > .lee-checkbox__checkmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  height: 24px;
  pointer-events: none;
}
.lee-checkbox > input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
}
.lee-checkbox > input[type="checkbox"]:checked {
  background: rgba(24,103,194,0.81);
}
.lee-checkbox > input[type="checkbox"]:checked + .lee-checkbox__checkmark:before {
  background: rgba(24,103,194,0.81);
  border: 1px solid rgba(24,103,194,0.81);
}
.lee-checkbox > input[type="checkbox"]:checked + .lee-checkbox__checkmark:after {
  opacity: 1;
}
.lee-checkbox > .lee-checkbox__checkmark:before {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid rgba(24,103,194,0.81);
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
}
.lee-checkbox > .lee-checkbox__checkmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  width: 24px;
  height: 24px;
}
.lee-checkbox > .lee-checkbox__checkmark:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
  width: 12px;
  height: 6px;
  background: transparent;
  border: 3px solid #fff;
  border-width: 2px;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}
.lee-checkbox > input[type="checkbox"]:focus + .lee-checkbox__checkmark:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.lee-checkbox > input[type="checkbox"]:disabled + .lee-checkbox__checkmark {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.lee-checkbox > input[type="checkbox"]:disabled:active + .lee-checkbox__checkmark:before {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.lee-checkbox--list-item {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 44px;
}
.lee-checkbox--list-item__checkmark {
  margin-top: 10px;
}
.vertprogress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: black;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

#rcorners {
    border-radius: 25px;
    background: rgba(0,0,0,0.8);
    padding: 20px;
    width: 90%;
    margin: auto;
    position: relative;
}

#tourButtons{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 85%;
}

.tour-icon{
    font-size: 500%;
    color: white;
}

input {
    display: block;
    margin: 0;
    width: 100%;
    /*font-family: sans-serif;*/
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}
input:focus {
    outline: none;
}

.style-4 input {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
.style-4 input:focus,
.style-4 input.focus {
    border-bottom: solid 2px #969696;
}

#holder{
    margin-top: 5px;
    position: relative;
    overflow: scroll !important;
    touch-action: manipulation !important;
    -webkit-user-drag: element !important;
}


@media all and (orientation:landscape) {
    .appointment-calendar, #drag-notify{
        display: none;
    }
    #scrollerAppointments {
        height: 100% !important;
    }
}

.calendar-marker
{
  font-size:20px;
  opacity:0.5;
}
.opal_btn_small{
    height: 7vh;
    width: 14vw;
    max-width: 70px;
    padding: 0;
}

.active_btn_calendar{
    background-color: red;
}

.list__item, .navigation-bar{
    border-bottom: 1px solid #ddd !important;
}

.tab-bar{
    border-top: 1px solid #ddd !important;
}

/* Popup container */
.popup {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 3%;
}

/* The actual popup (appears on top) */
.popuptext {
    visibility: hidden;
    display: flex;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 5px;
    position: relative;
    z-index: 1001;
    left: -50%;
    opacity: 0.85;

}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup-show {
    visibility: visible;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.85;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.85 ;}
}

.popup-hide{
    -webkit-animation: fadeOut 1.5s;
    animation: fadeOut 1.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeOut {
    from {opacity: 0.85;}
    to {opacity: 0; display: none }
}

@keyframes fadeOut {
    from {opacity: 0.85;}
    to {opacity: 0 ; display: none}
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0 0 0 30px #7ac142;
    }
}


@media only screen
and (max-device-width : 321px)
{
    .secure-message, .unattended-message{
        font-size: 14px;
    }

    #lock-logo {
        display: none;
    }

}





/* MATERIAL DESIGN */
.shadow-2 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@keyframes expand_line {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}

#starting-dot {
  margin-top: -8px;
  background-color: #59D45D;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: white 1px solid;
  position: absolute;
  z-index: 2;
}

#past-line {
  position: absolute;
  background-color: #59D45D;
  width: 0%;
  float: left;
  height: 5px;
}

#current-time-indicator {
  position: relative;
  z-index: 3;
  color: #59D45D;
  animation: pulsate 1s 2s alternate infinite;
  text-align: left;
  float: left;
  margin-top: -11px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 30px;
  border: 2px solid;
  background-color: white;
}

.sthethoscope {
  margin-top: -13px;
  color: black;
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 30px;
  border: 2px solid;
  position: absolute;
  right: 0;
}

@keyframes pulsate {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1.2, 1.2);
    }
}

#time-outline {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 237px;
  font-size: small;
}

.dividing-horizontal-line {
  height: 2px;
  background-color: lightgrey;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dividing-vertical-line {
  height: 70px;
  width: 2px;
  background-color: lightgrey;
  position: relative;
  z-index: 1;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#more-info-button-outer {
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

#more-info-button {
  width: 100%;
  height: 50px;
  font-size: x-large;
  background-color: #F5F5F5;
}

#more-info-button:hover {
  background-color: #59D45D;
}

.notification {
    position: absolute;
    margin-left: -10px;
}

.overflow-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.questionnaires-list {
    margin-left: 15px;
}

.individual-questionnaires {
    margin-bottom: 2.4vh;
}

.questionnaires-list-date {
    color: #757575;
}

.questionnaires-list-text {
    word-wrap: break-word;
}

.about-link {
    background-color: #E3F2FD;
    font-weight: bold;
    color:#666;
}
