[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, .page {
    font-family: font, cursive, sans-serif;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a:hover {
    text-decoration: none;
}
* {
    text-overflow: ellipsis;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background: no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

img {
  max-width: 100%;
  height: auto;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

p {
  word-wrap: break-word;
}

@import url('./animations.css');
@import url('./elements/menu.element.css');
@import url('./elements/ons-alert-dialog.element.css');
@import url('./elements/event.element.css');
@import url('./elements/contact.element.css');
@import url('./elements/checkout.element.css');
@import url('./elements/triangle.element.css');
@import url('./elements/text.element.css');
@import url('./elements/timeline.element.css');
@import url('./views/test-result.view.css');
@import url('./elements/button.element.css');
@import url('./views/account-settings.view.css');
@import url('./views/smartdevices.view.css');
@import url('./elements/tab-bar.element.css');
@import url('./elements/card.element.css');
@import url('./views/tab.view.css');
@import url('./elements/profile.element.css');
@import url('./elements/list.element.css');
@import url('./elements/info.element.css');
@import url('./views/calendar.view.css');
@import url('./font.css');
@import url('./elements/action.element.css');
@import url('./elements/progress.element.css');
@import url('./elements/fab-button.element.css');
@import url('./elements/banner.element.css');
@import url('./elements/opal-logo.element.css');
@import url('./elements/radio-button.element.css');
@import url('./views/questionnaires.view.css');
@import url('./elements/input.element.css');
@import url('./directives/pdf-view.directive.css');
@import url('./elements/checkmark.element.css');
@import url('./views/questionnaires-list.view.css');
@import url('./views/security-question.view.css');
@import url('./views/feedback.view.css');
@import url('./views/forgot-password.view.css');
@import url('./views/login.view.css');
@import url('./views/new-password.view.css');
@import url('./views/home.view.css');
@import url('./utilities.css');
