.labs-disclaimer {
    background-color: #F9F9F9;
    border-bottom: 1px solid #DDDDDD;
    color: #F44336;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    padding: 7px 10px;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 100;
}
