.password-input--wraper {
    display: flex;
    align-items:center;
    width: 100%
}
.password-input--wraper .input-slot {
    width: 100%
}
.password-input--wraper .icon {
    margin-left: -1.2em;
    cursor: pointer;
    color: #666
}
