<ons-page ng-controller="DocumentsController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"CLINICAL_NOTES"|translate}}</div>
    </ons-toolbar>
    <div>
        <div style="color:grey;margin-top:25vh" ng-show="noDocuments" align="center" ng-class="fontSizeTitle">
            {{"NOPATIENTDOCUMENTSAVAILABLE"|translate}}
        </div>
        <ons-list ng-repeat="doc in documents" ng-click="goToDocument(doc)">
            <ons-list-header class="person-list-header" ng-class="fontSizeTitle" ng-show="showHeader($index, documents.length)">
                {{doc.DateAdded|date:'fullDate'}}
            </ons-list-header>
            <ons-list-item modifier="chevron">
                <ons-row>
                    <ons-col width="6px">
                    </ons-col>
                    <ons-col width="65px" align="center">
                        <div style="padding:5px">
                            <img ng-src="./img/pdf-icon.png" style="height:55px">
                        </div>
                    </ons-col>
                    <ons-col align="center">
                        <div style="line-height:1;padding:5px;" >
                            <span ng-class="fontSizeTitle"> <strong>{{doc.Title}}</strong></span> <br>
                            <span class="item-desc" ng-class="fontSizeDesc">{{"ADDED"|translate}} {{doc.DateAdded|date:'shortTime'}}</span>
                        </div>
                    </ons-col>
                    <ons-col width="15%" align="center">
                        <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true" style="color: forestgreen" ng-show= "doc.ReadStatus =='0'"></i>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
