<ons-page ng-controller="DocumentsController">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"CLINICAL_NOTES"|translate}}</div>
    </ons-toolbar>
    <div>
        <div style="color:grey;margin-top:25vh" ng-show="noDocuments" align="center" ng-class="fontSizeTitle">
            {{"NOPATIENTDOCUMENTSAVAILABLE"|translate}}
        </div>
        <ons-list ng-repeat="doc in documents" ng-click="goToDocument(doc)">
            <ons-list-header class="person-list-header" ng-class="fontSizeTitle" ng-show="showHeader($index, documents.length)">
                {{doc.DateAdded|date:'fullDate'}}
            </ons-list-header>
            <ons-list-item modifier="chevron">

                <ons-row align="center" >
                    <ons-col width="60px" align="center">
                        <div style="margin-left:10px">
                            <i class="fa fa-folder  iconHomeView" style="color:orange"></i><span class="notification" ng-if="doc.ReadStatus==='0'">1</span>
                        </div>
                    </ons-col>
                    <ons-col style="word-wrap: break-word;">
                        <div style="line-height:1;padding:5px;" >
                            <span ng-class="fontSizeTitle"> <strong>{{doc.Title}}</strong></span> <br>
                            <span class="item-desc" ng-class="fontSizeDesc">{{"ADDED"|translate}} {{doc.DateAdded|date:'shortTime'}}</span>
                        </div>
                        <!--<p class="item-desc" ng-class="fontSizeDesc" ng-bind-html = "message.Body| ellipsis: 40" ></p>-->
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
