<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<widget android-versionCode="2" ios-CFBundleVersion="2" id="com.hig.opalpreprod" version="1.9.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Opal Pre Prod</name>
    <description>
        Opal - the MUHC Oncology Patient Application for mobile phones and the web -
        is a product that has arisen from the winning project of the 2014 MUHC Q+ initiative.
        The project proposal was submitted by the Health Informatics Group (HIG)
        and was entitled “Realistic knowledge-based waiting time estimates for radiation oncology patients -
        addressing the pain of waiting”. It had as its goal the provision of waiting time estimates to
        radiation oncology patients.
  </description>
    <author email="muhc.app.mobile@gmail.com" href="https://opalmedapps.com">
	    Opal Meds App Inc.
  </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-navigation href="https://www.youtube.com/*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <allow-intent href="opal:"/>
    <preference name="Orientation" value="default"/>
    <preference name="SplashScreenDelay" value="5000"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="500"/>
    <preference name="ErrorUrl" value="www/views/error/error-page.html"/>
    <icon src="./res/OpalHealth_App_Apple_Icon_2.png"/>
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
            <application android:allowBackup="false"/>
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:debuggable="false"/>
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="false"/>
        </edit-config>
        <resource-file src="google-services.json" target="app/google-services.json"/>
        <splash density="land-hdpi" src="res/screen/android/splash-land-hdpi.png"/>
        <splash density="land-ldpi" src="res/screen/android/splash-land-ldpi.png"/>
        <splash density="land-mdpi" src="res/screen/android/splash-land-mdpi.png"/>
        <splash density="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png"/>
        <splash density="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png"/>
        <splash density="land-xxxhdpi" src="res/screen/android/splash-land-xxxhdpi.png"/>
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
        <access origin="cdvfile://*"/>
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="9.0"/>
        <splash src="res/screen/ios/Default@2x~universal~anyany.png"/>
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <icon height="180" src="res/ios/Icon-60@3x.png" width="180"/>
        <icon height="60" src="res/ios/Icon-60.png" width="60"/>
        <icon height="120" src="res/ios/Icon-60@2x.png" width="120"/>
        <icon height="76" src="res/ios/Icon-76.png" width="76"/>
        <icon height="152" src="res/ios/Icon-76@2x.png" width="152"/>
        <icon height="40" src="res/ios/Icon-40.png" width="40"/>
        <icon height="80" src="res/ios/Icon-40@2x.png" width="80"/>
        <icon height="57" src="res/ios/Icon.png" width="57"/>
        <icon height="114" src="res/ios/Icon@2x.png" width="114"/>
        <icon height="72" src="res/ios/Icon-72.png" width="72"/>
        <icon height="144" src="res/ios/Icon-72@2x.png" width="144"/>
        <icon height="29" src="res/ios/Icon-small.png" width="29"/>
        <icon height="58" src="res/ios/Icon-small@2x.png" width="58"/>
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.2"/>
    <plugin name="cordova-plugin-appversion" spec="^1.0.0"/>
    <plugin name="cordova-plugin-customurlscheme" spec="~5.0.0">
        <variable name="URL_SCHEME" value="opal_preprod"/>
    </plugin>
    <plugin name="cordova-plugin-device" spec="~2.0.3"/>
    <plugin name="cordova-plugin-email" spec="~1.2.7"/>
    <plugin name="cordova-plugin-file" spec="~6.0.2"/>
    <plugin name="cordova-plugin-file-opener2" spec="~3.0.0"/>
    <plugin name="cordova-plugin-file-transfer" spec="~1.7.1"/>
    <plugin name="cordova-plugin-fileopener" spec="~1.0.5"/>
    <plugin name="cordova-plugin-geolocation" spec="~4.0.2"/>
    <plugin name="cordova-plugin-globalization" spec="~1.11.0"/>
    <plugin name="cordova-plugin-inappbrowser" spec="~3.2.0"/>
    <plugin name="cordova-plugin-network-information" spec="~2.0.2"/>
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.3"/>
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.6.4">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="24.1.1+"/>
    </plugin>
    <plugin name="es6-promise-plugin" spec="^4.2.2"/>
    <plugin name="cordova-plugin-x-toast" spec="~2.7.2"/>
    <plugin name="com.cordova.plugins.cookiemaster" spec="~1.0.0"/>
    <plugin name="cordova-plugin-vibration" spec="~3.1.1"/>
    <plugin name="phonegap-plugin-push" spec="~2.3.0"/>
</widget>