<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<widget android-versionCode="1" ios-CFBundleVersion="1" id="com.hig.opalpreprod" version="1.20.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Opal Pre Prod</name>
    <description>
        Opal - the MUHC Oncology Patient Application for mobile phones and the web -
        is a product that has arisen from the winning project of the 2014 MUHC Q+ initiative.
        The project proposal was submitted by the Health Informatics Group (HIG)
        and was entitled “Realistic knowledge-based waiting time estimates for radiation oncology patients -
        addressing the pain of waiting”. It had as its goal the provision of waiting time estimates to
        radiation oncology patients.
    </description>
    <author email="muhc.app.mobile@gmail.com" href="https://opalmedapps.com">
        Opal Med Apps Inc.
    </author>
    <content src="index.html"/>
    <!-- Cordova Allow List -->
    <access origin="*"/>
    <allow-navigation href="https://www.youtube.com/*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <allow-intent href="opal:"/>
    <!-- Fix for cordova-ios 6.2.0 -->
    <preference name="scheme" value="app"/>
    <preference name="hostname" value="localhost"/>
    <!-- Fix for cordova-android 11.0.0/12.0.0 -->
    <allow-navigation href="https://app/*"/>
    <allow-navigation href="https://localhost/*"/>
    <!-- Splash screen settings -->
    <preference name="SplashScreenDelay" value="5000"/>
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="500"/>
    <!-- Required by @havesource/cordova-plugin-push -->
    <preference name="GradlePluginGoogleServicesEnabled" value="true"/>
    <preference name="GradlePluginGoogleServicesVersion" value="4.3.5"/>
    <!-- Other preferences -->
    <preference name="Orientation" value="default"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="ErrorUrl" value="www/views/error/error-page.html"/>
    <icon src="./res/OpalHealth_App_Apple_Icon_2.png"/>
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Internal"/>
        <preference name="GradlePluginGoogleServicesEnabled" value="true"/>
        <preference name="GradlePluginKotlinEnabled" value="true"/>
        <preference name="GradlePluginKotlinVersion" value="1.7.10"/>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <!-- Security setting; should be false for pen tests and prod builds -->
            <application android:debuggable="false"/>
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
            <!-- Security setting; do not set to true -->
            <application android:allowBackup="false"/>
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <!-- Security setting; do not set to true. Note: blocks access to HTTP (non-HTTPS) links -->
            <application android:usesCleartextTraffic="false"/>
        </edit-config>
        <!-- requestLegacyExternalStorage fixes file access issues in Android 10 / API Level 29. This parameter will be ignored by API Level 30+, when your app is running on Android 11 devices -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:requestLegacyExternalStorage="true"/>
        </edit-config>
        <resource-file src="google-services.json" target="/app/google-services.json"/>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/Opal-splash-android-inverse-1400x1400.png"/>
        <access origin="cdvfile://*"/>
        <allow-intent href="market:*"/>
        <!--
            Fix duplicate permissions for android.permission.ACCESS_COARSE_LOCATION
            See: https://github.com/don/cordova-plugin-ble-central/issues/925
        -->
        <hook src="plugins/cordova-plugin-ble-central/stripDuplicatePermissions.js" type="after_prepare"/>
    </platform>
    <platform name="ios">
        <!-- Required to access location data since iOS 10 -->
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Localisation nécessaire pour l'enregistrement aux rendez-vous / Location needed for appointment check-in</string>
        </config-file>
        <preference name="deployment-target" value="11.0"/>
        <preference name="WKWebViewOnly" value="true"/>
        <splash src="res/screen/ios/Default@2x~universal~anyany.png"/>
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <icon height="180" src="res/ios/Icon-60@3x.png" width="180"/>
        <icon height="60" src="res/ios/Icon-60.png" width="60"/>
        <icon height="120" src="res/ios/Icon-60@2x.png" width="120"/>
        <icon height="76" src="res/ios/Icon-76.png" width="76"/>
        <icon height="152" src="res/ios/Icon-76@2x.png" width="152"/>
        <icon height="40" src="res/ios/Icon-40.png" width="40"/>
        <icon height="80" src="res/ios/Icon-40@2x.png" width="80"/>
        <icon height="57" src="res/ios/Icon.png" width="57"/>
        <icon height="114" src="res/ios/Icon@2x.png" width="114"/>
        <icon height="72" src="res/ios/Icon-72.png" width="72"/>
        <icon height="144" src="res/ios/Icon-72@2x.png" width="144"/>
        <icon height="29" src="res/ios/Icon-small.png" width="29"/>
        <icon height="58" src="res/ios/Icon-small@2x.png" width="58"/>
        <icon height="167" src="res/ios/Icon-167.png" width="167"/>
    </platform>
    <plugin name="@havesource/cordova-plugin-push" spec="4.0.0-dev.0">
        <variable name="FCM_VERSION" value="23.+"/>
        <variable name="IOS_FIREBASE_MESSAGING_VERSION" value="~> 8.1.1"/>
    </plugin>
    <plugin name="cordova-plugin-android-permissions" spec="1.1.2"/>
    <plugin name="cordova-plugin-androidx-adapter" spec="1.1.3"/>
    <plugin name="cordova-plugin-appversion" spec="1.0.0"/>
    <plugin name="cordova-plugin-cache-clear" spec="1.3.8"/>
    <plugin name="cordova-plugin-customurlscheme" spec="5.0.2">
        <variable name="URL_SCHEME" value="opal"/>
    </plugin>
    <plugin name="cordova-plugin-device" spec="2.1.0"/>
    <plugin name="cordova-plugin-file" spec="6.0.2"/>
    <plugin name="cordova-plugin-file-opener2" spec="4.0.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+"/>
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="4.1.0">
        <variable name="GPS_REQUIRED" value="true"/>
    </plugin>
    <plugin name="cordova-plugin-globalization" spec="1.11.0"/>
    <plugin name="cordova-plugin-inappbrowser" spec="5.0.0"/>
    <plugin name="cordova-plugin-ios-detect-screenshot" spec="1.0.0"/>
    <plugin name="cordova-plugin-network-information" spec="3.0.0"/>
    <plugin name="cordova-plugin-prevent-screenshot" spec="1.0.3"/>
    <plugin name="cordova-plugin-splashscreen" spec="6.0.0"/>
    <plugin name="cordova-plugin-vibration" spec="3.1.1"/>
    <plugin name="cordova-plugin-x-socialsharing" spec="6.0.4">
        <variable name="PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION" value="Cette application doit accéder à la bibliothèque de photos pour partager des documents / This app requires photo library access to share documents"/>
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="Cette application doit accéder à la bibliothèque de photos pour partager des documents / This app requires photo library access to share documents"/>
    </plugin>
</widget>