    <div class="modal-header">
        <h3 class="modal-title">{{app.AppointmentType_EN}}  <a href ng-click="menu.setMainPage('views/educational-material.html',{closedMenu:true})"><i class="ion-help-circled iconHomeView"></i></a></h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="div-container-section">
            <br />
              <div align="center">
                <div ng-show="app.sessionNumber!==undefined"><strong>{{app.sessionNumber}}</strong></div>
              {{app.ScheduledStartTime|formatDateAppointmentTask}}<br>
              {{app.ResourceName}}<br>
              <i class="icon ion-ios-location iconHomeView"></i> {{app.Location}}<br>
              <a href ng-click="showLocation(app.Location)">Show location &raquo;</a>
              <div align="center">
                  <p ng-show="showMessage&&app.Checkin=='1'"><strong>You have successfully checked in procceed to waiting room</strong></p>
                        <button ng-disabled="!enableCheckin" class="btn btn-block btn-primary" ng-click="checkin()"><i class="fa fa-check-square-o" > </i>Check-in</button>
              </div>
              </div>
              <br>
              <br>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Ok</button>
    </div>
