<ons-page ng-controller="ResearchQuestionnairesListController as questionnaireListVm">  
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle"><p class="overflow-text-ellipsis">{{"STUDY_CONSENT_FORMS"|translate}}</p></div>
    </ons-toolbar>
    <network-banner></network-banner>
    
    <!--TODO: add loading circle similar to in questionnaires-->

    <div>
        <!--TABBAR-->
        <div class="navigation-bar">
            <div class="navigation-bar__center">
                <div class="button-bar" style="margin-top:10px;width:90%;left:5%;" >
                    <!--  TODO: add ng-model="questionnaireListVm.tab or similar to each tab -->
                    <div class="button-bar__item">
                        <input type="radio" name="navi-segment-questionnaire" checked ng-model="questionnaireListVm.tab" value="new">
                        <div class="button-bar__button">{{"QUESTIONNAIRE_NEW"|translate}}</div>
                    </div>
                    <div class="button-bar__item">
                        <input type="radio" name="navi-segment-questionnaire" ng-model="questionnaireListVm.tab" value="progress">
                        <div class="button-bar__button">{{"QUESTIONNAIRE_IN_PROGRESS"|translate}}</div>
                    </div> 
                    <div class="button-bar__item">
                        <input type="radio" name="navi-segment-questionnaire" ng-model="questionnaireListVm.tab" value="completed">
                        <div class="button-bar__button">{{"QUESTIONNAIRE_COMPLETED"|translate}}</div>
                    </div>
                </div>  
            </div>
        </div>
        
        <!-- TODO: Add ng-show below to check if there are consent forms -->
        <div ng-if="questionnaireListVm.tab === 'new'" style="color:grey;margin-top:25vh" align="center" ng-class="fontSizeTitle">
            {{"STUDY_CONSENT_FORMS_NONE_NEW"|translate}}
        </div>
        <div ng-if="questionnaireListVm.tab === 'progress'" style="color:grey;margin-top:25vh" align="center" ng-class="fontSizeTitle">
            {{"STUDY_CONSENT_FORMS_NONE_PROGRESS"|translate}}
        </div>
        <div ng-if="questionnaireListVm.tab === 'completed'" style="color:grey;margin-top:25vh" align="center" ng-class="fontSizeTitle">
            {{"STUDY_CONSENT_FORMS_NONE_COMPLETED"|translate}}
        </div>

        <!-- TODO: Add consent forms when available similar to in quesitonnaires -->
    </div>
</ons-page>
