<ons-page ng-controller="TxTeamMessagesController">
  <ons-toolbar>
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
    <div class="center">{{"TEAMMESSAGES"|translate}}</div>
  </ons-toolbar>
<div ng-hide="noMessages">
  <ons-list  ng-repeat="message in txTeamMessages" ng-click="goToTeamMessage(message)">
  <ons-list-header class="person-list-header" ng-class="fontSizeTitle">{{message.DateAdded|standardDate}}</ons-list-header>
  <ons-list-item modifier="chevron" class="item">
    <ons-row align="center" >
      <ons-col width="60px" align="center">
        <div style="margin-left:10px">
          <i class="fa fa-user-md  iconHomeView" style="color:Olive"></i><span class="notification" ng-if="notification.ReadStatus==='0'">1</span>
        </div>
      </ons-col>
      <ons-col style="word-wrap: break-word;">
        <header>
          <span class="item-title" ng-class="fontSizeTitle">{{message.Title}}</span>
        </header>
        <!--<p class="item-desc" ng-class="fontSizeDesc" ng-bind-html = "message.Body| ellipsis: 40" ></p>-->
      </ons-col>
    </ons-row>
  </ons-list-item>
</ons-list>
</div>
<div class="container" align="center">
  <p style="margin-top:25vh;color:grey" ng-show="noMessages">{{"NOTEAMMESSAGES"|translate}}</p>
</div>
</ons-page>
