<ons-page ng-controller="AboutController as about">
    <generic-toolbar title="Opal" style-class="fontSizeTitle"></generic-toolbar>
    
    <network-banner></network-banner>
    <ons-list>
        <ons-list-item class="item" modifier="tappable chevron" ng-click="about.openTour()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-map-signs" style="color: #795548" size="2em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_TOUR"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item class="item" modifier="tappable" ng-click="about.openUrl('opal_website')">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 34px;" src="./img/Opal_Logo_Transparent_Inverse_Icon.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_WEBSITE"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#ddd; margin-right: -10px" class="pull-right"
                              size="1.2em">
                    </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item class="item" modifier="tappable" ng-click="about.openUrl('donation', true)" ng-show="about.allowedModules.hasOwnProperty('CTB') && about.allowedModules['CTB']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-heart" style="color:#f44336" size="1.8em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_CONTRIBUTE"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#ddd; margin-right: -10px" class="pull-right"
                              size="1.2em">
                    </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item class="item" modifier="tappable chevron" ng-click="about.openTeam()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-group" style="color:#2196F3" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_DEV"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <!-- TODO remove if no longer needed -->
        <ons-list-item class="item" modifier="tappable chevron" ng-click="about.openCedars()" ng-if="about.allowedModules.hasOwnProperty('CED') && about.allowedModules['CED']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/cedarsLogoSmall.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"CEDARS"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <!-- TODO remove if no longer needed -->
        <ons-list-item class="item" modifier="tappable" ng-click="about.openUrl('about_muhc')" ng-if="about.allowedModules.hasOwnProperty('HOS') && about.allowedModules['HOS']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/MUHC.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"MUHC"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#ddd; margin-right: -10px" class="pull-right" size="1.2em"> </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item class="item" modifier="tappable" ng-click="about.openUrl('support', true)" ng-show="about.allowedModules.hasOwnProperty('SUP') && about.allowedModules['SUP']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-medkit" style="color:#c5d306" size="2em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_SUPPORT"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#ddd; margin-right: -10px" class="pull-right"
                              size="1.2em">
                    </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>
