<ons-page ng-controller="AboutController as about">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-class="fontSizeDesc">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">Opal</div>
    </ons-toolbar>
    <network-banner></network-banner>

    <ons-list>
        <ons-list-item modifier="tappable chevron" ng-click="tourModal.show()" >
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-map-signs" style="color: #795548" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                        <span ng-class="fontSizeTitle">{{"OPAL_TOUR"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="about.openUrl('opalWebsite')">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 50px;" src="./img/Opal_Logo_Transparent_Inverse.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_WEBSITE"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#ddd; margin-top: 5%; margin-right: -10px" class="pull-right"
                              size="1.2em">
                    </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="modalOpenViewer2.show()" ng-show="about.allowedModules.hasOwnProperty('SUP') && about.allowedModules['SUP']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-heart" style="color:#f44336" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_SUPPORT"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#ddd; margin-top: 5%; margin-right: -10px" class="pull-right"
                              size="1.2em">
                    </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable chevron" ng-click="about.openTeam()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-group" style="color:#2196F3" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"OPAL_DEV"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable chevron" ng-click="about.openAcknowledge()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <ons-icon icon="fa-star" style="color:#FFEB3B" size="1.7em" fixed-width="true"></ons-icon>
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"OPAL_ACKNOWLEDGEMENTS"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable chevron" ng-click="about.openCedars()" ng-if="about.allowedModules.hasOwnProperty('CED') && about.allowedModules['CED']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/cedarsLogoSmall.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"CEDARS"|translate}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="about.openUrl('aboutmuhc')" ng-if="about.allowedModules.hasOwnProperty('HOS') && about.allowedModules['HOS']">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/MUHC.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"MUHC"|translate}}</span>
                    <ons-icon icon="ion-android-open" style="color:#ddd; margin-top: 4.5%; margin-right: -10px" class="pull-right" size="1.2em"> </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-modal var="tourModal">
        <div id="rcorners" style="height: 60%">
            <ons-carousel swipeable overscrollable auto-scroll style="height: 100%" var="tourCarousel">
                <ons-carousel-item>
                    <img src="img/opal_notification.png" style="max-width:20vw">
                    <div ng-class="fontSizeTitle">{{"TOUR_WELCOME"|translate}}</div>
                    <div ng-class="fontSizeDesc">{{"TOUR_WELCOME_DESC"|translate}}</div>
                </ons-carousel-item>
                <ons-carousel-item>
                    <ons-icon icon="fa-home" size="20vw" class="tour-icon" aria-hidden="true"></ons-icon>
                    <div ng-class="fontSizeTitle">{{"HOME"|translate}}</div>
                    <div ng-class="fontSizeDesc">{{"TOUR_HOME"|translate}}</div>
                </ons-carousel-item>
                <ons-carousel-item>
                    <ons-icon icon="fa-user" size="20vw" class="tour-icon" aria-hidden="true"></ons-icon>
                    <div ng-class="fontSizeTitle">{{"MYCHART"|translate}}</div>
                    <div ng-class="fontSizeDesc">{{"TOUR_MYCHART"|translate}}</div>
                </ons-carousel-item>
                <ons-carousel-item>
                    <ons-icon icon="fa-th" size="20vw" class="tour-icon" aria-hidden="true"></ons-icon>
                    <div ng-class="fontSizeTitle">{{"GENERAL"|translate}}</div>
                    <div ng-class="fontSizeDesc">{{"TOUR_GENERAL"|translate}}</div>
                </ons-carousel-item>
                <ons-carousel-item>
                    <ons-icon icon="fa-book" size="20vw" class="tour-icon" aria-hidden="true"></ons-icon>
                    <div ng-class="fontSizeTitle">{{"EDUCATION"|translate}}</div>
                    <div ng-class="fontSizeDesc">{{"TOUR_EDUCATION"|translate}}</div>
                </ons-carousel-item>
                <ons-carousel-item>
                    <ons-icon icon="fa-info-circle" size="20vw" class="tour-icon" aria-hidden="true"></ons-icon>
                    <div ng-class="fontSizeTitle">{{"ABOUT"|translate}}</div>
                    <div ng-class="fontSizeDesc">{{"TOUR_INFO"|translate}}</div>
                </ons-carousel-item>
            </ons-carousel>

            <div id="tourButtons">
                <span><ons-icon icon="fa-arrow-left" aria-hidden="true" style="color:white" ng-click="tourCarousel.prev()"></ons-icon></span>
                <ons-button modifier="cta" ng-click="tourModal.hide()" style="background-color: inherit; font-size: 125%">{{"CLOSE"|translate}}</ons-button>
                <ons-icon icon="fa-arrow-right" aria-hidden="true" style="color:white" ng-click="tourCarousel.next()"></ons-icon>
            </div>
        </div>
    </ons-modal>

    <ons-modal var="modalOpenViewer">
        <h3>{{"WARNING"|translate}}</h3>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="secure-message">{{"LEAVING_APP4"|translate}}</p>
        <ons-button style="margin-top: 5%; font-size: 22px;"
                    ng-click="modalOpenViewer.hide()">{{"CANCEL"|translate}}
        </ons-button>
        <ons-button style="margin-top: 5%; margin-left: 50px; font-size: 22px; background-color: #F44336"
                    ng-click="modalOpenViewer.hide(); about.openUrl('opalwebsite',true)">{{"CONTINUE"|translate}}
        </ons-button>
    </ons-modal>

    <ons-modal var="modalOpenViewer2">
        <h3>{{"WARNING"|translate}}</h3>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="secure-message">{{"LEAVING_APP4"|translate}}</p>
        <ons-button style="margin-top: 5%; font-size: 22px;"
                    ng-click="modalOpenViewer2.hide()">{{"CANCEL"|translate}}
        </ons-button>
        <ons-button style="margin-top: 5%; margin-left: 50px; font-size: 22px; background-color: #F44336"
                    ng-click="modalOpenViewer2.hide(); about.openUrl('donation',true)">{{"CONTINUE"|translate}}
        </ons-button>
    </ons-modal>

</ons-page>
