<ons-page ng-controller="AboutController as about">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-class="fontSizeDesc">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"CEDARS"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>
    <ons-list>
        <ons-list-item modifier="tappable" ng-click="modalOpenViewer.show()">
        <!--<ons-list-item modifier="tappable" ng-click="about.openUrl('cedarscancercenter')">-->
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/letter_c.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"CANCERCENTER"|translate}}</span>
                    <ons-icon  icon="ion-android-open" style="color:#ddd; margin-top: 5%; margin-right: -10px" class="pull-right" size="1.2em">  </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="modalOpenViewer2.show()">
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/letter_f.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle">{{"CEDARSFOUNDATION"|translate}}</span>
                    <ons-icon  icon="ion-android-open" style="color:#ddd; margin-top: 5%; margin-right: -10px" class="pull-right" size="1.2em">  </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="modalOpenViewer3.show()">
        <!--<ons-list-item modifier="tappable" ng-click="about.openUrl('cedarscansupport')">-->
            <ons-row align="center">
                <ons-col width="60px" style="text-align: center">
                    <div>
                        <img style="width: 27px;" src="./img/letter_s.png">
                    </div>
                </ons-col>
                <ons-col>
                    <span ng-class="fontSizeTitle"> {{"CEDARSSUPPORT"|translate}}</span>
                    <ons-icon  icon="ion-android-open" style="color:#ddd; margin-top: 5%; margin-right: -10px" class="pull-right" size="1.2em" > </ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>

    </ons-list>

    <ons-modal var="modalOpenViewer">
        <h3>{{"WARNING"|translate}}</h3>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="secure-message">{{"LEAVING_APP4"|translate}}</p>
        <ons-button style="margin-top: 5%; font-size: 22px;"
                    ng-click="modalOpenViewer.hide()">{{"CANCEL"|translate}}
        </ons-button>
        <ons-button style="margin-top: 5%; margin-left: 50px; font-size: 22px; background-color: #F44336"
                    ng-click="modalOpenViewer.hide(); about.openUrl('cedarscancercenter', true)">{{"CONTINUE"|translate}}
        </ons-button>
    </ons-modal>

    <ons-modal var="modalOpenViewer2">
        <h3>{{"WARNING"|translate}}</h3>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="secure-message">{{"LEAVING_APP4"|translate}}</p>
        <ons-button style="margin-top: 5%; font-size: 22px;"
                    ng-click="modalOpenViewer2.hide()">{{"CANCEL"|translate}}
        </ons-button>
        <ons-button style="margin-top: 5%; margin-left: 50px; font-size: 22px; background-color: #F44336"
                    ng-click="modalOpenViewer2.hide(); about.openUrl('cedarscancerfoundation', true)">{{"CONTINUE"|translate}}
        </ons-button>
    </ons-modal>

    <ons-modal var="modalOpenViewer3">
        <h3>{{"WARNING"|translate}}</h3>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="secure-message">{{"LEAVING_APP4"|translate}}</p>
        <ons-button style="margin-top: 5%; font-size: 22px;"
                    ng-click="modalOpenViewer3.hide()">{{"CANCEL"|translate}}
        </ons-button>
        <ons-button style="margin-top: 5%; margin-left: 50px; font-size: 22px; background-color: #F44336"
                    ng-click="modalOpenViewer3.hide(); about.openUrl('cedarscansupport', true)">{{"CONTINUE"|translate}}
        </ons-button>
    </ons-modal>


</ons-page>