    <ons-page ng-controller="answeredQuestionnaireController">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Summary Page</div>
      </ons-toolbar>

      <ons-row align="center" style="margin-left: 0.12vw;">
        <ons-col align="center">
          <ul class="list" style="width: 100vw;" ng-repeat="question in questions track by $index">
            <li class="list__item" style="border: none !important; font-size: 15" ng-click="chooseAction($index, question)">
              <ons-row style="margin:0;padding:0" align="center">
                <ons-col align="left" style="border:1px solid white;color:white">
                <div style="line-height: 1.4;">
                   #{{$index+1}}: {{question.Asseses_EN}} 
                </div>
                </ons-col>
                <ons-col align="center" width="30%">
                <div>
                     <span ng-show="answers[$index] != undefined" style="float: right; color: black;">
                  <!-- If its not an input question than the otherAns is shown or the answer is shown, both of those for the multiple choice questions. If both of those are undefined than its a scale quesiton and only the answer[$index] is needed to be shown. If the source is LEE the question is out of 5 and if its ESAS its out of 5 -->
                  <span ng-show="(question.QuestionType != 'SA') && (question.QuestionType != 'Checkbox') && (question.QuestionType != 'image')">{{answers[$index].otherAns || answers[$index].answer || answers[$index]}}</span><span ng-show="(question.Choices[1].OrderNum == 5) && (question.QuestionType == 'MinMax')">/5</span><span ng-show="(question.Choices[1].OrderNum == 10) && (question.QuestionType == 'MinMax')">/10</span>
                  <!--            If its an input question and its answered all we say is "asnwered" and the user can preview it by clicking the eye -->
                  <span ng-show="(question.QuestionType == 'SA' || question.QuestionType == 'Checkbox' || question.QuestionType == 'image') && (answers[$index] != undefined) && (!answerShown[$index])"><p style="color: rgba(38,100,171,0.81); margin-left:3px;margin-top: 5px; line-height: 1; text-align: center">Show Answer<i class="ion-chevron-down" style="padding-left: 2vw"></i></p></span>
                  <span ng-show="(question.QuestionType == 'SA' || question.QuestionType == 'Checkbox' || question.QuestionType == 'image') && (answers[$index] != undefined) && (answerShown[$index])" ><p style="color: rgba(38,100,171,0.81); margin-top:5px;line-height:1; text-align: center">Hide Answer<i class="ion-chevron-up" style="padding-left: 2vw"></i></p></span>
                </span>
                  <span ng-click="goToPage($index)" ng-show="(answers[$index] == undefined)" style="float: right; color: black">Answer</span> 
                </div>
                </ons-col>
            </ons-row>
              
            </li>
            <!--      Eye preview -->
            <li ng-show="answerShown[$index]" style="background:white;color:black;padding:5px 5px 0 5px;border:1px solid lightgrey" ng-class="animateShowAnswer">
              <strong>Answer:</strong>
              <div class="card" >
                <div class="item">
                 {{answerToShow[$index]}}
                </div>
              </div>
            </li>
          </ul>
        </ons-col>
      </ons-row>

      
    </ons-page>