<ons-page ng-controller="QuestionnaireMainController as vm">
    <ons-toolbar fixed-style>
        <div class="left" style="width:20%">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle" style="width:60%;overflow:hidden">
            <center>
        <span ng-if="vm.questionnaireStart">
          {{"QUESTIONNAIRE_HOME"|translate}}
        </span>
                <span ng-if="!vm.questionnaireStart">
          {{vm.questionnaire.sections[vm.sectionIndex].title}}
        </span>
            </center>
        </div>
        <div class="right" style="width:20%">
            <ons-toolbar-button ng-if="vm.isQuestion" ng-click="personalNavigator.pushPage('views/tabs/info-page-tabs.html',{question:vm.questionnaire.sections[vm.sectionIndex].questions[vm.questionIndex], isQuest: true})">
                <ons-icon icon="fa-info-circle"></ons-icon>
            </ons-toolbar-button>
            <span ng-if="!vm.isQuestion && vm.questionnaireStart && vm.questionnaire.status == 'New'" class="toolbar-button--quiet navigation-bar__line-height" ng-click="vm.beginQuestionnaire();">
            {{"BEGIN"|translate}}
            </span>
            <span ng-if="!vm.isQuestion && vm.questionnaireStart && vm.questionnaire.status == 'In progress'" class="toolbar-button--quiet navigation-bar__line-height" ng-click="vm.resumeQuestionnaire();">
            {{"RESUME"|translate}}
            </span>
            <span ng-if="!vm.isQuestion && !vm.questionnaireStart && vm.questionnaire.status == 'In progress' && vm.editQuestion" class="toolbar-button--quiet navigation-bar__line-height" ng-click="vm.summaryPage();">
            {{"DONE"|translate}}
            </span>
            <span ng-if="!vm.isQuestion && (carousel.getActiveCarouselItemIndex() == vm.carouselItems.length) && !vm.editQuestion" style="padding-left:0px" class="toolbar-button--quiet navigation-bar__line-height" ng-click="vm.summaryPage();">
            {{"SUMMARY"|translate}}
            </span>
        </div>
        <!--TODO: Put skip radio button at the bottom for every question type-->
        <!--<div class="right" style="width:20%">-->
      <!--<span ng-if="vm.questionnaireStart && vm.questionnaire.status == 'New'" class="toolbar-button&#45;&#45;quiet navigation-bar__line-height" ng-click="vm.beginQuestionnaire();">-->
        <!--{{"BEGIN"|translate}}-->
      <!--</span>-->
            <!--<span ng-if="vm.questionnaireStart && vm.questionnaire.status == 'In progress'" class="toolbar-button&#45;&#45;quiet navigation-bar__line-height" ng-click="vm.resumeQuestionnaire();">-->
        <!--{{"RESUME"|translate}}-->
      <!--</span>-->
            <!--<span ng-if="!vm.questionnaireStart && vm.questionnaire.status == 'In progress' && vm.editQuestion" class="toolbar-button&#45;&#45;quiet navigation-bar__line-height" ng-click="vm.summaryPage();">-->
        <!--{{"DONE"|translate}}-->
      <!--</span>-->
            <!--<span ng-if="carousel.getActiveCarouselItemIndex() == vm.carouselItems.length && !vm.editQuestion" style="padding-left:0px" class="toolbar-button&#45;&#45;quiet navigation-bar__line-height" ng-click="vm.summaryPage();">-->
        <!--{{"SUMMARY"|translate}}-->
      <!--</span>-->
            <!--<span ng-if="carousel.getActiveCarouselItemIndex() !== vm.carouselItems.length && !vm.questionnaireStart" class="toolbar-button&#45;&#45;quiet navigation-bar__line-height" ng-click="vm.skipQuestion();">-->
        <!--Skip-->
      <!--</span>-->
        <!--</div>-->
    </ons-toolbar>

    <div class="page__content ons-page-inner">

        <!-- FEEDBACK -->
        <ons-modal var="skip_question" style="overflow-y:auto">
            <h3>Help us improve this question</h3>
            <p>You chose not to answer this question.
                Please let us know what is wrong.</p>

            <div style="width: 100%; margin: 0 auto; margin-top: 15px;">
                <p>
                    <strong>I chose not to answer this question because ...</strong><br>
                </p>
                <p>
                    <select id="skipReason" ng-model="skipQuestion.reason" class="button" style="text-align: center;">
                        <option value="">No answer selected - tap to select an answer</option>
                        <option>I am not comfortable answering this question</option>
                        <option>This question is ambiguous or unclear</option>
                        <option>There are no valid answer choices</option>
                    </select>
                </p>

                <br>

                <p>
                    <strong>How does this question makes you feel?</strong>
                <ul class="reactions-box">
                    <li ng-repeat="emotion in vm.availableReactions | filter: {'type': 'emotion-bad'}" class="reaction {{emotion.reaction}}" ng-class="{'reaction-selected': (vm.choosenReaction[vm.questionIndex] == emotion), 'reaction-enabled': (!vm.choosenReaction[vm.questionIndex] || (vm.choosenReaction[vm.questionIndex] == emotion)), 'reaction-disabled': (vm.choosenReaction[vm.questionIndex] && (vm.choosenReaction[vm.questionIndex] != emotion)) }" ng-click="vm.chooseReaction(emotion);">
                        {{ emotion.text }}
                    </li>
                </ul>
                </p>

                <p>
                    <strong>This question should be asked to a patient in a situation similar to mine:</strong>
                <div>
                    <select id="skipReason" ng-model="skipQuestion.askSimilar" class="button" style="text-align: center;">
                        <option value="">No answer selected - tap to select an answer</option>
                        <option value="yes">I agree</option>
                        <option value="no">I disagree</option>
                    </select>
                </div>
                </p>

                <p>
                    <textarea class="textarea" ng-model="text2" placeholder="You may enter any additional comments here." style="width: 350px; height: 50px;"></textarea>
                </p>

                <br>

                <p class="right">
                    <ons-button style="display: inline-block;" ng-click="vm.skipQuestionSubmit()">Submit - thank you!</ons-button>
                    <ons-button modifier="light" style="display: inline-block;" ng-click="vm.skipQuestionClose()">Skip this question</ons-button>
                </p>

            </div>
        </ons-modal>

        <ons-modal var="reactions_modal">
            <strong>How does this question make you feel ...</strong><br><br>
            <ul class="reactions-box">
                <li ng-repeat="emotion in vm.displayReactions" class="reaction {{emotion.reaction}}" ng-class="{'reaction-selected': (vm.choosenReaction[vm.questionIndex] == emotion), 'reaction-enabled': (!vm.choosenReaction[vm.questionIndex] || (vm.choosenReaction[vm.questionIndex] == emotion)), 'reaction-disabled': (vm.choosenReaction[vm.questionIndex] && (vm.choosenReaction[vm.questionIndex] != emotion)) }" ng-click="vm.chooseReaction(emotion);">
                    {{ emotion.text }}
                </li>
            </ul>

            <textarea class="textarea" ng-model="text2" placeholder="Why does that make you feel that way ?" style="width: 350px; height: 100px;"></textarea>

            <br><br>

            <p><ons-button modifier="" ng-click="vm.submitReaction()">Submit - thank you!</ons-button></p>
            <p><ons-button modifier="light" ng-click="vm.chooseReaction(undefined); vm.closeReactions();">I don't know (close this window)</ons-button></p>
        </ons-modal>

        <!--<ons-bottom-toolbar style="height: 90px" ng-if="carousel.getActiveCarouselItemIndex() !== vm.carouselItems.length && !vm.questionnaireStart">-->
            <!--<ons-row align="center" style="height: 90px;">-->
                <!--<ons-col>-->
                    <!--<div style="padding-left: 25px; font-size: 16px;">-->
                        <!--How does this question makes you feel?-->

                        <!--<div ng-if="vm.choosenReaction[vm.questionIndex] && vm.choosenReaction[vm.questionIndex].type.startsWith('emotion')" style="display: inline-block;">-->
                            <!--<ons-button style="padding:3px" modifier="light" ng-click="vm.showReactions()">-->
                                <!--<span style="width: 50px; position: absolute; top: -15px; left: -10px; height: 50px;" class="reaction" ng-class="vm.choosenReaction[vm.questionIndex].reaction"></span>-->
                                <!--<span style="padding-left: 25px; color: #000;">{{vm.choosenReaction[vm.questionIndex].text}}</span>-->
                            <!--</ons-button>-->
                        <!--</div>-->

                        <!--<div ng-if="!(vm.choosenReaction[vm.questionIndex] && vm.choosenReaction[vm.questionIndex].type.startsWith('emotion'))" style="display: inline-block;">-->
                            <!--<ons-button style="padding:3px" modifier="light" ng-click="vm.chooseReaction({'type': 'like', 'reaction': 'thumbs-up'}); vm.showReactions('emotion-good');">-->
                                <!--<ons-icon-->
                                        <!--icon="fa-thumbs-up"-->
                                        <!--size="22px"-->
                                        <!--fixed-width="false"-->
                                        <!--style="color: rgba(0,0,0, 0.2)"-->
                                        <!--ng-class="{'like-selected': vm.choosenReaction[vm.questionIndex].type === 'like' && vm.choosenReaction[vm.questionIndex].reaction === 'thumbs-up'}">-->
                                <!--</ons-icon>-->
                            <!--</ons-button>-->

                            <!--<ons-button style="padding:3px" modifier="light" ng-click="vm.chooseReaction({'type': 'like', 'reaction': 'thumbs-down'}); vm.showReactions('emotion-bad');">-->
                                <!--<ons-icon-->
                                        <!--icon="fa-thumbs-down"-->
                                        <!--size="22px"-->
                                        <!--fixed-width="false"-->
                                        <!--style="color: rgba(0,0,0, 0.2)"-->
                                        <!--ng-class="{'like-selected': vm.choosenReaction[vm.questionIndex].type === 'like' && vm.choosenReaction[vm.questionIndex].reaction === 'thumbs-down'}">-->
                                <!--</ons-icon>-->
                            <!--</ons-button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</ons-col>-->
            <!--</ons-row>-->
        <!--</ons-bottom-toolbar>-->

        <ons-carousel fullscreen swipeable auto-scroll overscrollable var="carousel">

            <!-- QUESTIONNAIRE START -->
            <ons-carousel-item style="overflow-y:auto;">
                <ons-row align="center" style="margin-left: 0.12vw; margin-top: 3.5vh">
                    <ons-col align="center">
                        <div class="container">

                            <div class="row text-center" style="margin: 0 auto;" align="center">
                                <div class="col-xs-12">
                                    <h3>Welcome to the questionnaire <b><span style="color: darkmagenta">"{{vm.questionnaire.nickname}}"</span></b>!</h3>
                                </div>
                            </div>

                            <!-- Home page image -->
                            <div class="row text-center" style="margin: 0 auto;" align="center">
                                <div class="col-xs-12 text-center">
                                    <!--<img src="img/MUHC.png" alt="MUHC Logo" style="margin-top: 1cm; margin-bottom: 1cm"></img>-->
                                </div>
                            </div>

                            <div class="row text-center" style="margin: 0 auto;" align="center">
                                <div class="col-xs-12">
                                    <center>
                                        <h4 ng-if="vm.questionnaire.status == 'New'"> Tap "Begin" or swipe to start the questionnaire.</h4>
                                        <h4 ng-if="vm.questionnaire.status == 'In progress'"> Tap "Resume" or swipe to resume the questionnaire.</h4>
                                        <p ng-if="vm.questionnaire.instructions != '' && vm.questionnaire.instructions != null" style="font-size: 14pt; margin-top:2vh; margin-bottom:2vh"><b><span style="color: darkmagenta">Instructions: </span></b>{{vm.questionnaire.instructions}}</p>
                                    </center>
                                </div>
                            </div>

                        </div>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>

            <!-- <ons-carousel-item style="overflow-y:auto;" ng-repeat="item in vm.carouselItems" ng-if="item.type == 'question' || item.instructions != '' || item.instructions != null"> -->
            <ons-carousel-item style="overflow-y:auto;" ng-repeat="item in vm.carouselItems">

                <!-- SECTION START -->
                <div ng-if="item.type == 'header'">
                    <div class="container" style="margin-top: 3.5vh">

                        <div class="row text-center" style="margin: 0 auto;" align="center">
                            <div class="col-xs-12" style="padding-left: 0vw; padding-right: 0vw;">
                                <div class="col-xs-3" style="margin-top:5px;padding-left: 0vw;">
                                    <center><i style="color:rgba(38,100,171,0.81);font-size:25px" class="ion-chevron-left" ng-click="carousel.prev()"></i></center>
                                </div>
                                <div class="col-xs-6">
                                    <center><h3 style="margin-top:10px">Section {{vm.sectionIndex+1}} of {{vm.questionnaire.sections.length}}</h3></center>
                                </div>
                                <div class="col-xs-3" ng-disabled="carousel.getActiveCarouselItemIndex() == vm.carouselItems.length" style="margin-top:5px;padding-right: 0vw;">
                                    <center><i style="color:rgba(38,100,171,0.81);font-size:25px" class="ion-chevron-right" ng-click="carousel.next()"></i></center>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <center><h3><b><span style="color: darkmagenta">"{{vm.questionnaire.sections[vm.sectionIndex].title}}"</span></b></h3></center>
                            </div>
                        </div>

                        <!-- Home page image -->
                        <div class="row text-center" style="margin: 0 auto;" align="center">
                            <div class="col-xs-12 text-center">
                                <!--<img src="img/MUHC.png" alt="MUHC Logo" style="margin-top: 1cm; margin-bottom: 1cm"></img>-->
                            </div>
                        </div>

                        <div class="row text-center" style="margin: 0 auto;" align="center" ng-if="item.instructions != null && item.instructions != ''">
                            <div class="col-xs-12">
                                <center>
                                    <p style="font-size: 14pt; margin-top:2vh; margin-bottom:2vh"><b><span style="color: darkmagenta">Section instructions: </span></b>{{vm.questionnaire.sections[vm.sectionIndex].instructions}}</p>
                                </center>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- QUESTION -->
                <div ng-if="item.type == 'question'">

                    <!-- PROGRESS BAR -->
                    <div class="center progress" style="height:4vh;margin:2vh;background-color:white;border-radius:20px;">
                        <div ng-repeat="i in vm.carouselItems | filter:{type:'question'}" ng-show="$index <= vm.questionTotalIndex" class="progress-bar" role="progressbar" ng-style="vm.sectionEnds.includes($index) ? {'border-right':'solid 1px rgba(38,100,171,0.81)'} : {'border-right':'solid 1px #f9f9f9'}" style="width:{{vm.progressBarPercent+'%'}};background-color:rgb(176, 212, 241)"></div>
                        <div ng-repeat="i in vm.carouselItems | filter:{type:'question'}" ng-show="$index > vm.questionTotalIndex" class="progress-bar" role="progressbar" ng-style="vm.sectionEnds.includes($index) ? {'border-right':'solid 1px rgba(38,100,171,0.81)'} : {'border-right':'solid 1px #f9f9f9'}" style="width:{{vm.progressBarPercent+'%'}};background-color:white"></div>
                    </div>

                    <!-- QUESTION NUMBER -->
                    <ons-row align="center" style="margin-left: 0.12vw; margin-top: 2vh">
                        <ons-col align="left">
                            <center><i style="color:rgba(38,100,171,0.81);font-size:25px" class="ion-chevron-left" ng-click="carousel.prev()"></i></center>
                        </ons-col>
                        <ons-col align="center">
                            <h5 class="text-center" style="margin: 0px">Question {{vm.questionTotalIndex+1}} of {{vm.numQuestions}}</h5>
                        </ons-col>
                        <ons-col align="right">
                            <center>
                                <i ng-if="carousel.getActiveCarouselItemIndex() < vm.carouselItems.length" style="color:rgba(38,100,171,0.81);font-size:25px" class="ion-chevron-right" ng-click="carousel.next()"></i>
                                <i ng-if="carousel.getActiveCarouselItemIndex() == vm.carouselItems.length" style="color:rgba(38,100,171,0.81);font-size:25px" class="ion-chevron-right" ng-click="vm.summaryPage()"></i>
                            </center>
                        </ons-col>
                    </ons-row>

                    <!-- QUESTION -->
                    <div class="center" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">
                        <h4>{{item.data.text}}</h4>
                    </div>

                    <!-- MULTIPLE CHOICE -->
                    <div ng-if="item.data.questiontype == 'Multiple Choice'" class="center" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">
                        <ul class="list" ng-init="item.data.patient_answer.length > 0 || item.data.patient_answer.push(-1); item.data.answerChangedFlag = false;">
                            <li class="list__item list__item--tappable" ng-style="item.data.patient_answer.length > 0 && item.data.patient_answer[0] == key && {'background-color':item.data.answerColor} || {'background-color':'#f9f9f9'};" ng-repeat="(key, value) in item.data.options">
                                <label ng-click="vm.updateOptionBackgroundColor(item.data, $index)" class="radio-button radio-button--list-item">
                                    <input type="radio" name="{{'mcRadio'+item.data.ser_num}}" value={{key}} ng-model="item.data.patient_answer[0]" ng-checked="item.data.patient_answer[0] == {{key}}" ng-change="item.data.answerChangedFlag = true;">
                                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                                    {{value.text}}
                                </label>
                            </li>
                            <div ng-if="item.data.optional == 1" style="padding-top:3vh; background-color:#d9d9d9">
                            </div>
                            <li ng-if="item.data.optional == 1" class="list__item list__item--tappable" ng-style="item.data.patient_answer[0] == 'SKIPPED' ? {'background-color':'#e9e9e9'} : {'background-color':'#f9f9f9'}">
                                <label class="radio-button radio-button--list-item">
                                    <input type="radio" name="{{'mcRadio'+item.data.ser_num}}" value='SKIPPED' ng-model="item.data.patient_answer[0]" ng-checked="item.data.patient_answer[0] == 'SKIPPED'" ng-change="item.data.answerChangedFlag = true;">
                                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                                    {{"Prefer not to answer"|translate}}
                                </label>
                            </li>
                        </ul>
                    </div>

                    <!-- CHECKMARK -->
                    <div ng-if="item.data.questiontype == 'Checkbox'" class="center" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">
                        <ul class="list" ng-init="item.data.answerChangedFlag = false;">
                            <!-- ng-style="item.data.patient_answer.indexOf($index) > -1 && {'background-color':'#e9e9e9'} || {'background-color':'#f9f9f9'};"  -->
                            <li class="list__item list__item--tappable" ng-style="item.data.patient_answer.indexOf(key) > -1 ? {'background-color':'#e9e9e9'} : {'background-color':'#f9f9f9'}" ng-repeat="(key, value) in item.data.options">
                                <label class="checkbox checkbox--list-item" ng-style="item.data.patient_answer.indexOf(key) > -1 ? {'background-color':'#e9e9e9', 'margin':'0px', 'padding':'10px'} : {'background-color':'#f9f9f9', 'margin':'0px', 'padding':'10px'}">
                                    <!--<input class="single-checkbox" type="checkbox" name="{{'mcCheckbox'+item.data.ser_num}}" value={{key}} id={{key}} ng-checked="(item.data.options.patient_answer.indexOf(key)>-1)||(vm.questionnaire.sections[vm.sectionIndex].questions[vm.questionIndex].patient_answer.indexOf(key) > -1)" >-->
                                    <input class="single-checkbox" type="checkbox" name="{{'mcCheckbox'+item.data.ser_num}}" value={{key}} id={{key}} ng-checked="(item.data.options.patient_answer.indexOf(key)>-1) && !(item.data.patient_answer.indexOf('SKIPPED')>-1)" ng-disabled="vm.isDisabled(key) || (item.data.patient_answer.indexOf('SKIPPED')>-1)" ng-click="vm.toggleCheckboxSelection(key);">
                                    <!--&lt;!&ndash;&& (vm.questionnaire.sections[vm.sectionIndex].questions[vm.questionIndex].patient_answer.indexOf(key) > -1) && (item.data.options.patient_answer.indexOf(key)>-1)&ndash;&gt;-->
                                    <!--TODO: exactly vs lessthan or equal with ng-if-->
                                    <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                                    {{value.text}}
                                </label>
                            </li>
                            <div ng-if="item.data.optional == 1" style="padding-top:3vh; background-color:#d9d9d9">
                            </div> <!--TODO: fix skip button-->
                            <li ng-if="item.data.optional == 1" class="list__item list__item--tappable" ng-style="item.data.patient_answer.indexOf('SKIPPED') > -1 ? {'background-color':'#e9e9e9'} : {'background-color':'#f9f9f9'}" ng-init="item.data.skip = true">
                                <label class="checkbox checkbox--list-item" ng-style="item.data.patient_answer.indexOf('SKIPPED') > -1 ? {'background-color':'#e9e9e9', 'margin':'0px', 'padding':'10px'} : {'background-color':'#f9f9f9', 'margin':'0px', 'padding':'10px'}">
                                    <input type="checkbox" name="{{'mcCheckbox'+item.data.ser_num}}" value='SKIPPED' ng-checked="item.data.patient_answer.indexOf('SKIPPED') > -1" ng-click="vm.toggleCheckboxSkip(item.data.skip, item.data)">
                                    <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                                    {{"Prefer not to answer"|translate}}
                                </label>
                            </li>
                        </ul>
                    </div>


                    <!-- LARGE RANGE SCALE (SLIDER TYPE OF QUESTION)--> <!--TODO: Add visualization option check instead of hardcoding 'vm.questionTotalIndex + 1 <= 3'-->
                    <div ng-if="item.data.questiontype == 'Scale' && vm.questionTotalIndex + 1 <= 3" class="center" style="padding-left:10%">

                        <style>

                            /* Portrait mode slider*/

                            .slider {
                                margin-top: 11vw;
                                position: absolute;
                                top: 14%;
                                transform: rotate(270deg);
                                -webkit-appearance: none;
                                background: #8A2BE2;
                                outline: none;
                                opacity: 1;
                                margin-left: 13%;
                            }

                            .slider::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                width: 45px;
                                height: 45px;
                                background: white;
                            }

                            .slider::-moz-range-thumb {
                                width: 40px;
                                height: 40px;
                                background: #7B52FB;
                            }

                            /*Chrome*/
                            @media screen and (-webkit-min-device-pixel-ratio:0) {
                                input[type='range'] {
                                    overflow: hidden;
                                    width: 80px;
                                    -webkit-appearance: none;
                                    background-color: #E6D8FE;
                                }

                                input[type='range']::-webkit-slider-runnable-track {
                                    height: 10px;
                                    -webkit-appearance: none;
                                    margin-top: -1px;
                                }

                                input[type='range']::-webkit-slider-thumb {
                                    width: 10px;
                                    -webkit-appearance: none;
                                    height: 110px;
                                    background: white;
                                    box-shadow: -1000px 0 0 1000px #7B52FB;
                                    margin-top: -50px;
                                }

                            }
                            /** FF*/
                            input[type="range"]::-moz-range-progress {
                                background-color: #7B52FB;
                            }
                            input[type="range"]::-moz-range-track {
                                background-color: #E6D8FE;
                            }
                            /* IE*/
                            input[type="range"]::-ms-fill-lower {
                                background-color: #7B52FB;
                            }
                            input[type="range"]::-ms-fill-upper {
                                background-color: #E6D8FE;
                            }
                            .slidercontainer {
                                top: 20%;
                                right:10%;
                                height: 500px;
                                width: 100%;
                                position:relative;
                            }
                            .minimumText{
                                position: absolute;
                                bottom:0;
                                right:5%;
                            }
                            .maximumText{
                                position: absolute;
                                top:0;
                                right:0;
                            }
                            .value {
                                position: absolute;
                                top: 27%;
                                margin-left: 8%;
                            }

                            /* Landscape mode slider*/

                            .slider2 {
                                position: absolute;
                                top: 14%;
                                -webkit-appearance: none;
                                background: #8A2BE2;
                                outline: none;
                                opacity: 1;
                                transform: rotate(0deg);
                                margin-top: -4vw;
                                margin-left: 10vw;
                            }

                            .slider2::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                width: 45px;
                                height: 45px;
                                background: white;
                            }

                            .slider2::-moz-range-thumb {
                                width: 40px;
                                height: 40px;
                                background: #7B52FB;
                            }

                            /*Chrome*/
                            @media screen and (-webkit-min-device-pixel-ratio:0) {
                                input[type='range'] {
                                    overflow: hidden;
                                    width: 80px;
                                    -webkit-appearance: none;
                                    background-color: #E6D8FE;
                                }

                                input[type='range']::-webkit-slider-runnable-track {
                                    height: 10px;
                                    -webkit-appearance: none;
                                    margin-top: -1px;
                                }

                                input[type='range']::-webkit-slider-thumb {
                                    width: 10px;
                                    -webkit-appearance: none;
                                    height: 110px;
                                    background: white;
                                    box-shadow: -1000px 0 0 1000px #7B52FB;
                                    margin-top: -50px;
                                }

                            }
                            /** FF*/
                            input[type="range"]::-moz-range-progress {
                                background-color: #7B52FB;
                            }
                            input[type="range"]::-moz-range-track {
                                background-color: #E6D8FE;
                            }
                            /* IE*/
                            input[type="range"]::-ms-fill-lower {
                                background-color: #7B52FB;
                            }
                            input[type="range"]::-ms-fill-upper {
                                background-color: #E6D8FE;
                            }
                            .minimumText2{
                                position: absolute;
                                top: 0vw;
                                left: 7%;
                            }
                            .maximumText2{
                                position: absolute;
                                left: 92%;
                            }
                            .value2 {
                                position: absolute;
                                top: 30%;
                                right:44%
                            }
                             input[type="range"]::-ms-tooltip {
                                 display: none;
                             }
                            .thumb .active {
                                position: absolute;
                                top: 30%;
                                right:44%
                            }
                        </style>

                        <!--landscape mode-->
                        <ons-row ng-if="!vm.portraitOrientationCheck.matches" class="slidercontainer" style="margin-left:0px;margin-right:0px" ng-init="vm.bindScaleParameters(item.data);" class="center" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">

                            <ons-col ng-init="item.data.patient_answer.length > 0 || item.data.patient_answer.push(vm.average(minText,maxText)); item.data.answerChangedFlag = false;">
                                <ons-row class="maximumText2" width="40px" style="text-align: right;">
                                    <!--TODO: {{maxText}}--> 100 - {{maxCaption}}
                                </ons-row>
                                <!--TODO: min={{minText}} max={{maxText}}-->
                                <input type="range" min="1" max="100" value="0" class="slider2" id="myRange2" style="width: 80%; height: 90px;" ng-model="item.data.patient_answer[0]" ng-change="vm.removeSpanChild(); item.data.answerChangedFlag = true">
                                <ons-row class="minimumText2" width="40px" style="text-align: right;">
                                    <!--TODO: {{minText}}-->1 - {{minCaption}}
                                </ons-row>
                            </ons-col>
                            <div class="value2">Value: &nbsp; &nbsp;{{item.data.patient_answer[0]}}</div>
                        </ons-row>

                        <!-- portrait mode-->
                        <ons-row ng-if="vm.portraitOrientationCheck.matches" class="slidercontainer" style="margin-left:0px;margin-right:0px" ng-init="vm.bindScaleParameters(item.data);initializeValue();" class="center" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">

                                <ons-col ng-init="item.data.patient_answer.length > 0 || item.data.patient_answer.push(vm.average(minText,maxText)); item.data.answerChangedFlag = false;">
                                    <ons-row class="maximumText" id="maximumText" width="40px" style="text-align: right; left: 77%;">
                                        <!--TODO: {{maxText}}--> 100 - {{maxCaption}}
                                    </ons-row>
                                <!--TODO: min={{minText}} max={{maxText}}-->
                                <input type="range" min="1" max="100" value="0" class="slider" id="myRange" style="width: 80%; height: 90px;" ng-model="item.data.patient_answer[0]" ng-change="vm.removeSpanChild(); item.data.answerChangedFlag = true">
                                    <ons-row class="minimumText" width="40px" style="text-align: right; top: 57%; left: 77%;">
                                        <!--TODO: {{minText}}-->1 - {{minCaption}}
                                    </ons-row>
                                </ons-col>
                            <div class="value" >Value: &nbsp; &nbsp;{{item.data.patient_answer[0]}}</div>
                        </ons-row>

                    </div>

                    <!-- SMALL RANGE SCALE (SLIDER TYPE OF QUESTION)--> <!--TODO: Add visualization option check instead of hardcoding 'vm.questionTotalIndex + 1 >= 4'-->
                    <div ng-if="item.data.questiontype == 'Scale' && vm.questionTotalIndex + 1 >= 4" class="center scale" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">
                        <!--<ons-row style="margin-left:0px;margin-right:0px" ng-init="vm.bindScaleParameters(item.data)">
                          <ons-col width="40px" style="text-align: center; line-height: 31px;">
                            {{minText}}
                          </ons-col>
                          <ons-col ng-init="item.data.patient_answer.length > 0 || item.data.patient_answer.push(vm.average(minText,maxText)); item.data.answerChangedFlag = false;">
                            <input type="range" class="range" ng-model="item.data.patient_answer[0]" min={{minText}} max={{maxText}} ng-change="vm.removeSpanChild(this); item.data.answerChangedFlag = true;">
                          </ons-col>
                          <ons-col width="40px" style="text-align: center; line-height: 31px;">
                            {{maxText}}
                          </ons-col>
                        </ons-row>-->


                        <div style="margin-left:0px;margin-right:0px;" ng-init="vm.bindScaleParameters(item.data)">
                            <div class="scale_option" ng-repeat="op in options" ng-init="item.data.patient_answer.length > 0 || item.data.patient_answer.push(vm.average(minText,maxText)); item.data.answerChangedFlag = false;" ng-style="scalebtn">
                                {{op.text}}
                                <input type="radio" value="{{op.value}}" ng-model="item.data.patient_answer[0]" ng-change="vm.removeSpanChild(this); item.data.answerChangedFlag = true;" />
                            </div>
                        </div>

                        <ons-row style="margin-left:0px;margin-right:0px;margin-top:30px;">
                            <ons-col width="40%" style="text-align: left; line-height: 31px;">
                                {{minCaption}}
                            </ons-col>
                            <ons-col width="20%" style="text-align: center;padding-top:3vw;">
                                <div ng-if="item.data.patient_answer[0] != null && item.data.patient_answer[0] != -9">
                                    {{item.data.patient_answer[0]}}
                                </div>
                                <div ng-if="item.data.patient_answer[0] != null && item.data.patient_answer[0] == -9">
                                    {{"SKIPPED"|translate}}
                                </div>
                            </ons-col>
                            <ons-col width="40%" style="text-align: right; line-height: 31px;">
                                {{maxCaption}}
                            </ons-col>
                        </ons-row>
                        <ul class="list" style="margin-top:1vh;">
                            <div ng-if="item.data.optional == 1" style="padding-top:3vh; background-color:#d9d9d9">
                            </div>
                            <li ng-if="item.data.optional == 1" class="list__item list__item--tappable" ng-style="item.data.patient_answer[0] == -9 ? {'background-color':'#e9e9e9'} : {'background-color':'#f9f9f9'}" ng-init="item.data.skip = true">
                                <label class="radio-button radio-button--list-item">
                                    <input type="radio" name="{{'scaleSkip'+item.data.ser_num}}" ng-checked="item.data.patient_answer[0] == -9" ng-click="vm.toggleScaleSkip(item.data.skip, item.data); console.log(item.data.patient_answer[0] == -9);">
                                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                                    {{"Prefer not to answer"|translate}}
                                </label>
                            </li>
                        </ul>
                    </div>

                    <!-- TEXTBOX -->

                    <div ng-if="item.data.questiontype == 'Textbox'" class="center" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">
                        <ul class="list" ng-init="item.data.answerChangedFlag = false;">
                            <li>

                            </li>
                            <div ng-if="item.data.optional == 1" style="padding-top:3vh; background-color:#d9d9d9">
                            </div> <!--TODO: fix skip button-->
                            <li ng-if="item.data.optional == 1" class="list__item list__item--tappable" ng-style="item.data.patient_answer.indexOf('SKIPPED') > -1 ? {'background-color':'#e9e9e9'} : {'background-color':'#f9f9f9'}" ng-init="item.data.skip = true">
                                <label class="checkbox checkbox--list-item" ng-style="item.data.patient_answer.indexOf('SKIPPED') > -1 ? {'background-color':'#e9e9e9', 'margin':'0px', 'padding':'10px'} : {'background-color':'#f9f9f9', 'margin':'0px', 'padding':'10px'}">
                                    <input type="checkbox" name="{{'mcCheckbox'+item.data.ser_num}}" value='SKIPPED' ng-checked="" ng-click="">
                                    <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                                    {{"Prefer not to answer"|translate}}
                                </label>
                            </li>
                        </ul>
                    </div>


                    <!-- FEEDBACK -->
                    <!-- <ons-row align="center" style="margin-left:0.12vw;padding-top:3vh;padding-bottom:2vh;">
                      <ons-col align="left">
                        <i class="fa fa-thumbs-down fa-3x" style="margin-left:20vw" aria-hidden="true"></i>
                      </ons-col>
                      <ons-col align="right">
                        <i class="fa fa-thumbs-up fa-3x" style="margin-right:20vw" aria-hidden="true"></i>
                      </ons-col>
                    </ons-row> -->

                    <!-- SCALE -->

                    <!--<div ng-if="item.data.questiontype == ''" class="center" style="margin-top:10px;padding-left:5vw;padding-right:5vw;">-->
                        <!--<ons-row style="margin-left:0px;margin-right:0px" ng-init="vm.bindScaleParameters(item.data)">-->
                            <!--<ons-col width="40px" style="text-align: center; line-height: 31px;">-->
                                <!--{{minText}}-->
                            <!--</ons-col>-->
                            <!--<ons-col ng-init="item.data.patient_answer.length > 0 || item.data.patient_answer.push(vm.average(minText,maxText)); item.data.answerChangedFlag = false;">-->
                                <!--<div ng-if="item.data.questiontype == 'Scale'" class="center" style="margin-top:20px;padding-left:15vw;padding-right:15vw;z-index:0;">-->

                                    <!--<rzslider rz-slider-model="slider.value"-->
                                              <!--rz-slider-options="slider.options"></rzslider>-->

                                <!--</div>-->
                                <!--&lt;!&ndash;<input type="range" class="range" ng-model="item.data.patient_answer[0]" min={{minText}} max={{maxText}} ng-change="vm.removeSpanChild(this); item.data.answerChangedFlag = true;">&ndash;&gt;-->
                            <!--</ons-col>-->
                            <!--<ons-col width="40px" style="text-align: center; line-height: 31px;">-->
                                <!--{{maxText}}-->
                            <!--</ons-col>-->
                        <!--</ons-row>-->
                        <!--<ons-row style="margin-left:0px;margin-right:0px;margin-top:10px">-->
                            <!--<ons-col width="40%" style="text-align: left; line-height: 31px;">-->
                                <!--{{minCaption}}-->
                            <!--</ons-col>-->
                            <!--<ons-col width="20%" style="text-align: center;">-->
                                <!--<div ng-if="item.data.patient_answer[0] != null && item.data.patient_answer[0] != -9">-->
                                    <!--{{item.data.patient_answer[0]}}-->
                                <!--</div>-->
                                <!--<div ng-if="item.data.patient_answer[0] != null && item.data.patient_answer[0] == -9">-->
                                    <!--{{"SKIPPED"|translate}}-->
                                <!--</div>-->
                            <!--</ons-col>-->
                            <!--<ons-col width="40%" style="text-align: right; line-height: 31px;">-->
                                <!--{{maxCaption}}-->
                            <!--</ons-col>-->
                        <!--</ons-row>-->
                        <!--<ul class="list" style="margin-top:1vh;">-->
                            <!--<div ng-if="item.data.optional == 1" style="padding-top:3vh; background-color:#d9d9d9">-->
                            <!--</div>-->
                            <!--<li ng-if="item.data.optional == 1" class="list__item list__item&#45;&#45;tappable" ng-style="item.data.patient_answer[0] == -9 ? {'background-color':'#e9e9e9'} : {'background-color':'#f9f9f9'}" ng-init="item.data.skip = true">-->
                                <!--<label class="radio-button radio-button&#45;&#45;list-item">-->
                                    <!--<input type="radio" name="{{'scaleSkip'+item.data.ser_num}}" ng-checked="item.data.patient_answer[0] == -9" ng-click="vm.toggleScaleSkip(item.data.skip, item.data); console.log(item.data.patient_answer[0] == -9);">-->
                                    <!--<div class="radio-button__checkmark radio-button&#45;&#45;list-item__checkmark"></div>-->
                                    <!--{{"SKIP_THIS_QUESTION"|translate}}-->
                                <!--</label>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <!-- FEEDBACK -->
                    <!-- <ons-row align="center" style="margin-left:0.12vw;padding-top:3vh;padding-bottom:2vh;">
                      <ons-col align="left">
                        <i class="fa fa-thumbs-down fa-3x" style="margin-left:20vw" aria-hidden="true"></i>
                      </ons-col>
                      <ons-col align="right">
                        <i class="fa fa-thumbs-up fa-3x" style="margin-right:20vw" aria-hidden="true"></i>
                      </ons-col>
                    </ons-row> -->

                </div>

            </ons-carousel-item>
        </ons-carousel>

    </div>
</ons-page>