<ons-page ng-controller="questionnairesListController">
    <ons-toolbar fixed-style>
        <div class="left" ><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center" ng-class="fontSizeTitle">{{"QUESTIONNAIRES"|translate}}</div>
    </ons-toolbar>

    <div ng-show="loading" align="center" style="margin-top:25vh">
        <svg class="progress-circular">
            <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
        </svg>
        <p style="margin-top: 30px">{{ "LOADINGQUESTIONNAIRES" | translate }}</p>
    </div>

    <div ng-hide="loading">
        <ons-tabbar class="shadow-2" position="top" animation="fade" style="position: fixed; margin-top: 43px; z-index: 1; height: 49px;">
            <ons-tab class="shadow-2" style="background-color:#ECEFF1;" label='{{"QUESTIONNAIRE_NEW"|translate}}' ng-click="setNew()" icon="ion-android-star" active="true"></ons-tab>
            <ons-tab class="shadow-2" style="background-color:#ECEFF1;" label='{{"QUESTIONNAIRE_IN_PROGRESS"|translate}}' ng-click="setProgress()" icon="ion-edit"></ons-tab>
            <ons-tab class="shadow-2" style="background-color:#ECEFF1;" label='{{"QUESTIONNAIRE_COMPLETED"|translate}}' ng-click="setCompleted()" icon="ion-android-done"></ons-tab>
        </ons-tabbar>

        <div class="ons-row" align="center" ng-init="new = true;"  style="margin-top: 50px">
            <div class="ons-col" align="center">

                <div ng-if="new" class="ons-row" align="center" style="margin-top: 50px">
                    <div class="ons-col" align="center">
                        <p ng-show="getQuestionnaireCount('New') <= 0" ng-class="fontSizeTitle" style="color: grey; margin-top: 25vh;">
                            {{"QUESTIONNAIRE_NONE_NEW"|translate}}</p>
                        <ul class="list">
                            <li class="list__item list__item--chevron" ng-repeat="questionnaire in newQuestionnaireList" ng-click="goToQuestionnaire(questionnaire)">
                                <p style="margin-top: 2.7vh; margin-bottom: 2.4vh; line-height: 3.6vh;" ng-class="fontSizeTitle">{{questionnaire.nickname}}</p>
                                <p style="margin-top: -2.6vh; color: #757575;"ng-class="fontSizeDesc">{{"QUESTIONNAIRE_DATE_ADDED"|translate}}: {{questionnaire.created | date:'yyyy-MM-dd HH:mm'}}</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="progress" class="ons-row" align="center" style="margin-top: 50px">
                    <div class="ons-col" align="center">
                        <p ng-show="getQuestionnaireCount('In progress') <= 0" ng-class="fontSizeTitle" style="color: grey; margin-top: 25vh;">{{"QUESTIONNAIRE_NONE_PROGRESS"|translate}}</p>
                        <ul class="list">
                            <li class="list__item list__item--chevron" ng-repeat="questionnaire in inProgressQuestionnaireList" ng-click="goToQuestionnaire(questionnaire)">
                                <p style="margin-top: 2.7vh; margin-bottom: 2.4vh; line-height: 3.6vh;" ng-class="fontSizeTitle">{{questionnaire.nickname}}</p>
                                <p style="margin-top: -2.6vh; color: #757575;"ng-class="fontSizeDesc">{{"QUESTIONNAIRE_DATE_LAST_UPDATED"|translate}}: {{questionnaire.last_updated | date:'yyyy-MM-dd HH:mm'}}</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="completed" class="ons-row" align="center" style="margin-top: 50px">
                    <div class="ons-col" align="center">
                        <p ng-show="getQuestionnaireCount('Completed') <= 0" ng-class="fontSizeTitle" style="color: grey; margin-top: 25vh;">{{"QUESTIONNAIRE_NONE_COMPLETED"|translate}}</p>
                        <ul class="list">
                            <li class="list__item list__item--chevron" ng-repeat="questionnaire in completedQuestionnaireList" ng-click="goToQuestionnaireSummary(questionnaire)">
                                <p style="margin-top: 2.7vh; margin-bottom: 2.4vh; line-height: 3.6vh;" ng-class="fontSizeTitle">{{questionnaire.nickname}}</p>
                                <p style="margin-top: -2.6vh; color: #757575;" ng-class="fontSizeDesc">{{"QUESTIONNAIRE_DATE_ANSWERED"|translate}}: {{questionnaire.last_updated | date:'yyyy-MM-dd HH:mm'}}</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ons-page>