<ons-page ng-controller="EducationalMaterialSinglePageController" ng-device-backbutton="educationDeviceBackButton()">
  <ons-toolbar>
      <div class="left">
        <ons-back-button>{{"BACK"|translate}}</ons-back-button>
      </div>
    <div class="center">{{edumaterial.Name|ellipsis:25}}</div>
    <!--<div class="right"><ons-toolbar-button ng-click="educationNavigator.pushPage('views/info-page-tabs.html',{param:home})"><ons-icon icon="ion-ios-information-outline"></ons-icon></ons-toolbar-button></div>-->
  </ons-toolbar>
      <!--<div style="background:transparent;margin:0;width:100vw;" id="divTitleBookletSection" ng-show="!isFullscreen">
       <div style="line-height:1;padding:5px" align="center" >
        <header>
              <span class="item-title" ng-class="fontSizeTitle" style="font-size:19px">{{edumaterial.Name}}</span>
         </header>
     </div>
  </div>-->
        <div  align="center" style="margin-top:10vh" ng-show="!edumaterial.Content">
          <svg class="progress-circular">
                <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
          </svg>
        </div>
        <div class="container" style="background-color:white;overflow-y:scroll" ng-style="{height:heightSection}"   ng-show="edumaterial.Content">
             <div ng-bind-html="edumaterial.Content" ></div>
       </div>
</ons-page>