<ons-page ng-controller="EducationalMaterialController as edu" ng-device-backbutton="edu.educationDeviceBackButton()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"EDUCATION"|translate}}</div>
        <div class="right"><ons-toolbar-button ng-click="educationNavigator.pushPage('./views/tabs/info-page-tabs.html')"><i class="fa-info-circle"></i></ons-toolbar-button></div>
    </ons-toolbar>
    <div style="color:grey;margin-top:25vh" ng-show="edu.noMaterials" align="center" ng-class="fontSizeTitle">
      {{"NOEDUCATIONALMATERIAL"|translate}}
    </div>
    <network-banner></network-banner>
    <ons-list>
    <ons-list-header ng-repeat-start = "edumaterial in edu.edumaterials" class="person-list-header" ng-class="fontSizeTitle"  ng-if ="edu.showHeader($index)">{{edumaterial.PhaseInTreatment}}</ons-list-header>
    <ons-list-item modifier="chevron" class="item" ng-repeat-end ng-click="edu.goToEducationalMaterial(edumaterial)">
        <ons-row align="center">
            <ons-col width="60px" align="center">
                <div>
                    <i class="classHomeView" ng-class="edumaterial.class" ng-style="{color: edumaterial.Color}"></i><span class="notification" ng-show="edumaterial.ReadStatus=='0'">1</span>
                </div>
            </ons-col>
            <ons-col>
                <header>
                    <span class="item-title" ng-class="fontSizeTitle">{{edumaterial.Name}}</span>
                </header>
                <p class="item-desc" ng-class="fontSizeDesc" >{{edumaterial.Type}}</p>
            </ons-col>
        </ons-row>
    </ons-list-item >
    </ons-list>
</ons-page>
