<ons-page ng-controller="EducationalMaterialTOCController">
  <ons-toolbar >
      <div class="left">
        <ons-back-button>{{"BACK"|translate}}</ons-back-button>
      </div>
    <div class="center">{{edumaterial.Type}}</div>
    <!--<div class="right"><ons-toolbar-button ng-click = "goToDetails(tableOfContents)">Options</ons-toolbar-button></div>-->
  </ons-toolbar>
  <div style="margin-top:5vh">
  <ons-list>
    <ons-list-item class="item">
      <div style="line-height:1" align="center">
        <header>
            <span class="item-title" ng-class="fontSizeTitle" style="font-size:20px">{{edumaterial.Name}}</span>
        </header>
        <div style="text-align: center;margin-top:20px">
      <div ng-hide="submitted">
        <div><p style="color:grey">{{"RATETHISMATERIAL"|translate}}</p></div>
        <span style="display:inline-block;opacity:0.5" ng-repeat ="star in rate" ng-click="rateMaterial($index)">
            <i ng-class="star.Icon" style="font-size:35px;color:#DAA520" ></i>
        </span>
        <span style="margin:10px"><ons-button ng-click="submit()" ng-disabled="emptyRating">Rate it!</ons-button></span>
      </div>
      <div ng-show="submitted" style="margin-top:5px">
        <p style="color:#5cb85c;opacity:0.8;">{{"THANKYOUFORFEEDBACK"|translate}}</p>
       </div>
    </div>
      </div>
    </ons-list-item>
  </ons-list>
  <ons-list style="margin: 10px 0 0 0">
    <ons-list-header class="person-list-header" ng-class="fontSizeTitle" >{{"TABLEOFCONTENTS"|translate}}</ons-list-header>
    <ons-list-item modifier="chevron" ng-repeat= "edumaterial in tableOfContents" class="item" ng-click="goToEducationalMaterial($index,edumaterial)">
        <ons-row align="center">
            <ons-col width="60px" align="center">
                <div style="margin-left:20px">
                    <strong>{{$index+1}}</strong>
                </div>
            </ons-col>
            <ons-col>
                <header>
                    <span class="item-title" ng-class="fontSizeTitle">{{edumaterial.Name}}</span>
                </header>
            </ons-col>
        </ons-row>
    </ons-list-item >
  </ons-list>
</div>
</ons-page>
