<ons-page ng-controller="HTMLMaterialController as edu" ng-device-backbutton="edu.educationDeviceBackButton()">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{edu.edumaterial.Name|ellipsis:25}}</div>
    </ons-toolbar>

    <div ng-show="!edu.edumaterial.Content" align="center" style="margin-top:25vh">
        <svg class="progress-circular">
            <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
        </svg>
        <p style="margin-top: 30px">{{ "LOADINGMATERIAL" | translate }}</p>
    </div>

    <div class="container" style="background-color:white;overflow-y:scroll" ng-style="{height: edu.heightSection}"   ng-show="edu.edumaterial.Content">
        <div ng-bind-html="edu.edumaterial.Content" ng-class="fontSizeDesc"></div>
    </div>
</ons-page>