<ons-page ng-controller="BookletEduMaterialController">
  <ons-toolbar fixed-style modifier="transparent">
      <div class="left">
        <ons-back-button ng-show="!isFullscreen">{{"BACK"|translate}}</ons-back-button>
        <span class="item-title" ng-class="fontSizeTitle" style="font-size:19px;padding-left:40px;padding-top:10px" ng-show="isFullscreen">{{tableOfContents[activeIndex].Name}}</span>
      </div>
    <div class="center"  ><ons-toolbar-button ng-click="goBack()" ng-show="!isFullscreen" ng-disabled="activeIndex==0" ><i class="ion-chevron-left"></i></ons-toolbar-button><span ng-show="!isFullscreen">{{activeIndex+1}} / {{tableOfContents.length}}</span><ons-toolbar-button  ng-disabled="activeIndex==(tableOfContents.length-1)" ng-click="goNext()" ng-show="!isFullscreen"><i class="ion-chevron-right"></i></ons-toolbar-button></div>
    <div class="right"><ons-toolbar-button ng-show="!isFullscreen" ng-click="popover.show('#buttonListContent');" id="buttonListContent"><i class="ion-ios-list-outline" style="font-size:30px"></i></ons-toolbar-button><ons-toolbar-button ng-click="fullScreenToggle()" ng-show="isFullscreen" ><i class="ion-arrow-shrink" style="font-size:32px" ng-show="isFullscreen"></i><i ng-show="!isFullscreen" style="font-size:32px" class="ion-arrow-expand"></i></ons-toolbar-button></div>
  </ons-toolbar>
  <div style="background:transparent;margin:0;width:100vw;" id="divTitleBookletSection" ng-show="!isFullscreen">
       <div style="line-height:1;padding:5px" align="center" >
        <header>
              <span class="item-title" ng-class="fontSizeTitle" style="font-size:19px">{{tableOfContents[activeIndex].Name}}</span><!--<span style="float:right;margin-top:-10px" class="navigation-bar__line-height"><button class="button--quiet" ng-click="fullScreenToggle()"  style="font-size:30px;padding:0 0 0 10px"><i class="ion-arrow-shrink" style="font-size:32px; vertical-align:-6px;" ng-show="isFullscreen"></i><i ng-show="!isFullscreen" style="font-size:32px" class="ion-arrow-expand"></i></button></span>-->
         </header>
     </div>
  </div>
  
  <ons-carousel style="width: 100vw;overflow-y:scroll;opacity:1.0;" id="contentMaterial" swipeable overscrollable auto-scroll auto-scroll-ratio="0.3" class="gpu_efficiency">
    <ons-carousel-item ng-repeat="section in tableOfContents" >
        <div  align="center" style="margin-top:10vh" ng-show="!section.Content">
          <svg class="progress-circular">
                <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
          </svg>
        </div>
        <div class="container" style="background-color:white;overflow-y:scroll"  ng-style="{height:heightSection}"  ng-show="section.Content">
             <div ng-bind-html="section.Content" ></div>
       </div>
    </ons-carousel-item>
  </ons-carousel>
  <!--<div id="frameEducational">
    <iframe  ng-src="{{url}}" style="width:100vw;height:100%"></iframe>
  </div>-->
</ons-page>
