<ons-page ng-controller="IndividualMaterialController as edu">
    <ons-toolbar fixed-style>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center">{{edu.edumaterial.Type}}</div>
        <div class="right" ng-show="edu.edumaterial.ShareURL_EN && edu.edumaterial.ShareURL_EN!==''"><ons-toolbar-button ng-click="popoverSharing.show('#buttonShareMaterial');" id="buttonShareMaterial"><ons-icon icon="fa-share"></ons-icon></ons-toolbar-button></div>

    </ons-toolbar>
    <div>
        <ons-list>
            <ons-list-item class="item">
                <div style="line-height:1" align="center">
                    <header>
                        <span class="item-title" ng-class="fontSizeTitle" style="font-size:20px">{{edu.edumaterial.Name}}</span>
                    </header>
                    <div style="text-align: center;margin-top:10px">
                        <rate-material ser-num="edu.edumaterial.EducationalMaterialControlSerNum"></rate-material>
                    </div>
                </div>
            </ons-list-item>
        </ons-list>
        <ons-list class="settings-list" ng-hide="edu.tableOfContents||edu.edumaterial.Type === 'Video'||edu.isIndividualHtmlPage">
            <ons-list-item class="item" ng-click="edu.goToEducationalMaterial()" style="background-color: #F9F9F9; border: none !important;">
                <div align="center">
                    <div>
                        <img class="animated pulse" style="height:175px; margin-top: 25%;" ng-src="/img/pdf-icon.svg">
                        <h4 style="margin-top: 2%">Click to open</h4>
                    </div>
                    <h3 ons-if-platform="android" align="center" ng-class="fontSizeTitle">{{"TAP_DL"|translate}}</h3>
                </div>
            </ons-list-item>
        </ons-list>
        <ons-list style="margin: 10px 0 0 0" ng-hide="!edu.tableOfContents">
            <ons-list-header class="person-list-header" ng-class="fontSizeTitle"  >{{"TABLEOFCONTENTS"|translate}}</ons-list-header>
            <ons-list-item modifier="chevron" ng-repeat= "edumaterial in edu.tableOfContents" class="item" ng-click="edu.goToEducationalMaterial($index)">
                <ons-row align="center">
                    <ons-col width="60px" align="center">
                        <div style="margin-left:20px">
                            <strong>{{$index+1}}</strong>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{edumaterial.Name}}</span>
                        </header>
                    </ons-col>
                </ons-row>
            </ons-list-item >
        </ons-list>
        <ons-list class="settings-list" ng-if="edu.edumaterial.Type == 'Video'">
            <ons-list-item class="item">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{edu.edumaterial.Url|trustThisUrl}}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen">
                    </iframe>
                </div>
            </ons-list-item>
        </ons-list>
        <ons-list class="settings-list" ng-if="edu.isIndividualHtmlPage">
            <ons-list-item class="item">
                <div  align="center" style="margin-top:10vh" ng-show="!edu.edumaterial.Content">
                    <svg class="progress-circular">
                        <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
                    </svg>
                </div>
                <div class="container" style="background-color:white;overflow-y:scroll" ng-style="{height:edu.heightSection}"   ng-show="edu.edumaterial.Content">
                    <div ng-bind-html="edu.edumaterial.Content" ng-class="fontSizeDesc"></div>
                </div>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
