
<ons-page ng-controller="TreatmentPlanStatusController">
<div class="container" style="margin-top">
    
</div>
    <div class='container' style="margin-top:3vh">
    <div class="panel panel-default">
  <div class="panel-body" style="text-align: left;padding:5% 2% 5% 2%;">
    <div ng-hide="noTreatmentPlan">
        <div align="center">
            <strong>Stage {{outOf}} </strong> 
            <br>
            <br>
        </div>
        <progressbar class="progress-striped" value="percentage" type="{{type}}">{{percentage}}% completed <i ng-show="showWarning">!!! Watch out !!!</i></progressbar>  
        <div ng-hide="completed" align="center">
            You have finished: <br><a href ng-click="menu.setMainPage('views/educational-material.html',{closedMenu:true})">{{lastFinished}}</a><br> 
            Awaiting for stage:<br> <a href ng-click="menu.setMainPage('views/educational-material.html',{closedMenu:true})">{{currentStage}}</a><br>
            Estimated time to completion:<br>
            <strong> 15 days</strong>
        <br>
        </div>
     </div>
     <div ng-show="noTreatmentPlan" class="plan-info" align="center">
        <p>No treatment plan available</p>
     </div>
     </div>
     </div>
     </div>

</ons-page>