<ons-tabbar var="tabbar">
    <ons-tab active="true" page="views/navigators/homeNavigator.html">
        <div class="tab">
            <ons-icon icon="fa-home" class="tab-icon"></ons-icon>
            <div class="tab-label">{{"HOME"|translate}}</div>
        </div>
    </ons-tab>
    <ons-tab page="views/navigators/personalNavigator.html">
        <div class="tab">
            <profile-icon sync-with-ons-toolbar="true"></profile-icon>
            <!-- Set as grey to avoid colour clashing with the profile icon -->
            <div class="tab-label" style="color: #666">{{"MYCHART"|translate}}</div>
        </div>
    </ons-tab>
    <ons-tab page="views/navigators/generalNavigator.html">
        <div class="tab">
            <ons-icon icon="fa-th" class="tab-icon"></ons-icon>
            <div class="tab-label">{{"GENERAL"|translate}}</div>
        </div>
    </ons-tab>
    <ons-tab page="views/navigators/settingsNavigator.html">
        <div class="tab">
            <ons-icon icon="fa-cog" class="tab-icon"></ons-icon>
            <div class="tab-label">{{"ACCOUNT"|translate}}</div>
        </div>
    </ons-tab>
</ons-tabbar>
