<ons-page ng-controller="IndividualParkingController as parking">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{parking.title}}</div>
    </ons-toolbar>
    <div ng-show="parking.loading" align="center" style="margin-top:25vh">
        <svg class="progress-circular">
            <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10"/>
        </svg>
    </div>
    <div ng-hide="parking.loading" class="container" style="background-color:white;padding-top:10px;margin:1px">
        <div ng-bind-html="parking.htmlBind"></div>
    </div>
</ons-page>