<!DOCTYPE html>
<html lang="en">
<head>
    <title>OPAL</title>
    <meta charset="utf-8">
    <!-- Manifest used to configure progressive web app settings. See webpack.config.js for details (WebpackManifestPlugin) -->
    <link rel="manifest" href="manifest.json"/>
    <!-- Cordova -->
    <script src="./cordova.js"></script>
    <!-- Immediately Accessible Functions -->
    <script type="text/javascript">
        /**
         * @ngdoc function
         * @methodOf Globals
         * @name handleOpenURL
         * @author Robert Maglieri, Khodr Ghattas
         * @param {String} url Url from the reset password email link, prefixed with the app's custom url scheme.
         *                     e.g.: opal://https://opal-dev.firebaseapp.com/?mode=resetPassword&oobCode=......
         * @description Pushes a new page to the initNavigator stack along with the url and a passwordReset
         *              flag. This occurs when the app is opened via the CustomURLScheme plugin from a password
         *              reset email link.
         *
         *              Note: this function must be available immediately from index.html, or else it is not picked up
         *              by the CustomURLScheme plugin. - S.B.
         */
        function handleOpenURL(url) {
            if(url.indexOf("opal://") !== -1) {
                setTimeout(function() {
                    if(typeof initNavigator!== "undefined") {
                        initNavigator.pushPage("./views/login/security-question.html", {url: url, passwordReset: true});
                    }
                }, 0);
            }
        }
    </script>
    <!-- Icon shown when installing the web app on Apple devices. See: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">

</head>
<body ng-cloak>
    <!--
    Loading Modal
    =================================-->
    <ons-modal var="loadingmodal" style="background-color: white !important;">
        <div style="margin-top: 5%" class="container text-center" align="center">
            <img style="margin-top: -40%; width: 70%; height: auto;" src="./img/Opal_Name_Logo_Green_Transparent.png">
        </div>
        <br>
        <ons-icon style="color: #0D47A1" size="50px" icon="ion-load-c" spin="true"></ons-icon>
        <br><br>
        <p style="color: #0D47A1" id="loadingData">{{"LOADINGDATA"|translate}}...</p>
    </ons-modal>

    <!--
    Update Required Modal
    =================================-->
    <ons-modal var="updateRequiredModal">
        <h4>{{"UPDATEREQUIRED"|translate}}</h4>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="unattended-message">{{"UPDATEMESSAGE"|translate}}</p>
    </ons-modal>

    <!--
        Jailbreak/Rooted Device Modal
    -->
    <ons-modal var="jailbreakModal">
        <h4 style="margin: 5%">{{ "JAILBREAK_TITLE" | translate }}</h4>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin: 5%" class="unattended-message">{{ "JAILBREAK_MESSAGE" | translate }}</p>
    </ons-modal>

    <!--
     ScreenshotTaken Modal
     =================================-->
    <ons-modal var="screenshotTakenModal">
        <div id="rcorners">
            <h3>Attention!</h3>
            <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
            <p style="margin-top: 5%" class="unattended-message">{{"SCREENSHOTTAKEN"|translate}}</p>
            <ons-button style="margin-top: 5%" ng-click="screenshotTakenModal.hide()">{{"OK"|translate}}</ons-button>
        </div>
    </ons-modal>

    <!--
     LOADING MODAL FOR SECURITY ANSWER SUBMISSION
     =================================-->
    <ons-modal var="loadingSubmit" style="background-color: rgba(250, 250, 250, 0.80)">
        <div style="margin-bottom:15vh" align="center">
            <svg class="progress-circular" style="opacity: 1">
                <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%"
                        stroke-miterlimit="10"> </circle>
            </svg>
            <p style="margin-top: 30px; color: black; margin-left: 5%; margin-right: 5%" ng-class="fontSizeDesc">
                {{"SUBMITTING"| translate}}
            </p>
        </div>
    </ons-modal>

    <!--
    In-App Browser Modal
    Note: This modal is used as a temporary fix to hide the gap in the in-app browser on iOS (remove if the issue is fixed).
          https://github.com/apache/cordova-plugin-inappbrowser/issues/870
          https://github.com/apache/cordova-plugin-inappbrowser/issues/801
    =================================-->
    <ons-modal var="browserModal" style="background-color: #7C7C7C"></ons-modal>

    <!--
     Security Modal
     =================================-->
    <div ng-include="'./views/login/popover-security.html'"></div>
    <!--
     Tour Modal
     =================================-->
    <ons-modal var="firstLoginTourModal">
        <div id="rcorners">
            <h3>{{"TOUR_WELCOME"|translate}}</h3>
            <p style="margin-top: 10%; margin-bottom:10%;" class="secure-message">{{"TOUR_MODAL_INTRODUCTION"|translate}}</p>
            <ons-button ng-class="fontSizeTitle" style="background-color: #6a6261; margin: 2px"
                        ng-click="firstLoginTourModal.hide()">
                {{"TOUR_MODAL_LATER_BUTTON"|translate}}
            </ons-button>
            <ons-button ng-class="fontSizeTitle" style="margin: 2px"
                        ng-click="firstLoginTourModal.hide(); homeNavigator.pushPage('views/home/tour/tour.html');">
                {{"TOUR_MODAL_TAKE_TOUR_BUTTON"|translate}}
            </ons-button>
        </div>
    </ons-modal>

    <!--
    Custom Toast Message
    =================================-->
    <div id="custom-toast-container"><div id="custom-toast"></div></div>

    <!--
    App
    =================================-->
    <div ng-controller="MainController">
        <div ui-view></div>
    </div>

</body>
</html>
