<ons-page ng-controller="ForgotPasswordController as vm" style="background-color: white">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-click="vm.goToInit()">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"FORGOTPASSWORD"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>
    <div align="center">
        <img src="./img/Opal_Name_Logo_Green_Transparent.png" style="width:70vw; height:auto; max-width:600px; margin-top:10px">
    </div>
    <div class="container" align="center" style="margin-top:5vh">
        <form class="form-group style-4" align="center" novalidate>
            <label name="text">{{"ENTEREMAIL"|translate}}</label><br />
            <input type="email" required ng-model="vm.email" placeholder="{{'EMAIL'|translate}}" />
            <br /><br />
            <button class="shadow-2 button button--large mediumGreenButton" ng-disabled="!vm.validateEmail(vm.email)"
                        ng-click="vm.submitPasswordReset()">
                {{"RESETPASSWORD"|translate}}
            </button>
            <uib-alert style="margin-top: 30px" ng-show="vm.alert.type" type="{{vm.alert.type}}">{{vm.alert.message|translate}}</uib-alert>
        </form>
    </div>
</ons-page>
