<ons-page style="background-color:white;width:100vw;height:100vh" ng-controller="LoginController as login">
    <generic-toolbar title="{{'LOGIN'|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <network-banner></network-banner>
    <div ng-include="'./views/login/popover-security.html'"></div>
    <ons-row align="center" style="height:70vh;margin:0;top:0">
        <ons-col align="center">
            <div align="center">
                <img src="./img/Opal_Name_Logo_Green_Transparent.png" style="margin-top: 1%; width:70%; max-width:400px; height:auto">
            </div>
            <div class="container" style="margin-top: 1%">
                <form style="text-align: center" novalidate>
                    <div>
                        <div style="width: 100%" class="style-4">
                            <input placeholder='{{"EMAIL"|translate}}' name="email" ng-model="login.email" type="email" required ng-change=login.clearErrors()>
                        </div>
                        <br/>
                        <password-input>
                            <input name="password" ng-model="login.password" placeholder='{{"PASSWORD"|translate}}' type="password" required ng-change="login.clearErrors()">
                        </password-input>
                        <br/>
                        <!-- HOSPITAL SELECTOR -->
                        <hospital-selector></hospital-selector>

                        <br/>
                        <div ng-show="login.alert.type">
                            <uib-alert type="{{login.alert.type}}">{{login.alert.message|translate}}</uib-alert>
                        </div>
                    </div>

                    <!-- TRUSTED / UNTRUSTED -->
                    <div>
                        <span id="trusted-toggle"><ons-switch var="login.trustSwitch" ng-model="login.trusted"></ons-switch></span>
                        <p id="trusted-text">{{"TRUST_DEVICE"|translate}}</p>
                    </div>
                    <br>

                    <!-- LOGIN BUTTON -->
                    <button class="shadow-2 button button--large" style="max-width:400px; background-color:#4CAF50; font-weight:bolder; margin:auto"
                            ng-click="login.submit()" ng-disabled="!login.isThereSelectedHospital() || login.loading">
                        <span ng-if="!login.loading">{{"LOGIN"|translate}}</span>
                        <span ng-if="login.loading">{{"LOGGINGIN"|translate}}<ons-icon icon="ion-load-d" spin="true"></ons-icon></span>
                    </button>
                    <br>
                </form>

                <!-- FORGOT PASSWORD -->
                <button class="button button--large--quiet" ng-click="initNavigator.pushPage('./views/login/forgot-password.html',{})">
                    {{"FORGOTPASSWORD"|translate}}
                </button>
            </div>
        </ons-col>
    </ons-row>
</ons-page>
