<ons-page ng-controller="SetNewPasswordController as new">
    <generic-toolbar title="{{'NEWPASSWORD'|translate}}" style-class="fontSizeTitle">
        <left-content>
            <ons-back-button ng-hide="new.resetSuccess">{{"BACK"|translate}}</ons-back-button>
        </left-content>
    </generic-toolbar>
    <network-banner></network-banner>
    <img src="./img/Opal_Name_Logo_Green_Transparent.png" class="opal-logo--large">
    <div class="container new-password--container">
        <form name="formPassword" novalidate>
            <div class="form-group">
                <label class="new-password--prompt" name="text">{{"SETPASSWORDLABEL"|translate}}:</label>
                <p>{{'RESETINSTRUCTIONS'|translate}}</p>
                <div class="new-password--input">
                    <password-input>
                        <input class="text-input" type="password" name="text" ng-model="new.newValue" ng-change="new.evaluatePassword()" placeholder="{{'SETPASSWORDPLACEHOLDER'|translate}}"/>
                    </password-input>
                </div>
                <div class="new-password--input">
                    <password-input>
                        <input class="text-input" type="password" name="text" ng-model="new.validateNewValue" ng-change="new.evaluatePassword()" placeholder="{{'REENTER_PASSWORD'|translate}}"/>
                    </password-input>
                </div>
                <button class="shadow-2 button button--large button--large-green new-password--button"
                            ng-click="new.submitNewPassword(newValue)"
                            ng-disabled="new.alert.type=='success' || new.invalidPassword || new.submitting"
                            ng-if="!new.resetSuccess">
                    <span ng-if="!new.submitting">
                        {{"SETPASSWORDBUTTON"|translate}}
                    </span>
                    <span ng-if="new.submitting">
                        <ons-icon icon="ion-load-d" spin="true"></ons-icon>
                    </span>
                </button>
                <button class="shadow-2 button button--large button--large-blue new-password--button"
                            ng-click="new.goToLogin()"
                            ng-if="new.resetSuccess">
                    {{"GO_TO_LOGIN"|translate}}
                </button>
                <uib-alert class="new-password--alert" ng-show="new.alert.type" type="{{new.alert.type}}">
                    {{new.alert.content|translate}}
                </uib-alert>
            </div>
        </form>
    </div>
</ons-page>
