<ons-page style="background-color:white;width:100vw;height:100vh" ng-controller="SecurityQuestionController as security">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-if="!security.passwordReset">{{"BACK"|translate}}</ons-back-button>
            <ons-back-button ng-if="security.passwordReset" ng-click="initNavigator.resetToPage('./views/init/init-screen.html',{animation:'none'});">{{"HOME"|translate}}</ons-back-button>
        </div>
        <div class="center">{{"SECURITYQUESTION"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>

    <ons-row align="center" style="height:70vh;margin:0;top:0">
        <ons-col align="center" style="margin:0;top:0">

            <!-- OPAL LOGO -->
            <div align="center">
                <img src="./img/Opal_Name_Logo_Green_Transparent.png" style="max-width:300px;width:70vw;height:auto">
            </div>

            <!-- HOSPITAL SELECTOR -->
            <div class="container">
                <hospital-selector ng-if="security.passwordReset"></hospital-selector>
            </div>

            <!-- LOADING SPINNER -->
            <loading-spinning-circle ng-if="security.loading && security.isThereSelectedHospital()" loading-message="{{'LOADING'|translate}}" margintop="15vh"></loading-spinning-circle>

            <!-- SECURITY ANSWER FIELDS -->
            <div ng-if="!security.loading && !security.invalidCode && security.isThereSelectedHospital()" class="container" align="center" style="margin-top:20px">
                <form name="formPassword" novalidate>
                    <div class="form-group" align="center" style="margin-top: 20px">

                        <div ng-show="security.passwordReset" style="width: 100%; margin-top: 15px; margin-bottom: 20px;" class="style-4">
                            <!-- RAMQ is using ssn field -->
                            <label>{{'ENTERRAMQ'|translate}}</label><br />
                            <input autocapitalize="none" autocorrect="off" autocomplete="off" class="text-input" name="text" ng-model="security.ssn" placeholder="{{'ENTERRAMQPLACEHOLDER'|translate}}" />
                        </div>

                        <label name="text">{{ security.Question }} </label><br />
                        <div style="width: 100%; margin-top: 15px" class="style-4">
                            <input autocapitalize="none" autocorrect="off" autocomplete="off" class="text-input" name="text" ng-model="security.answer" ng-change="security.clearErrors()" placeholder="{{'ENTERANSWERPLACEHOLDER'|translate}}" />
                            <br /><br />
                        </div>
                        <button class="button button--large shadow-2" ng-disabled="security.submitting || security.tooManyAttempts" style="background-color: #4CAF50; font-weight: bolder;" ng-click="security.submitAnswer(security.answer)">{{"CONTINUE"|translate}}</button>
                        <uib-alert ng-show="security.alert.type && security.alertShow" type="{{security.alert.type}}">{{security.alert.content|translate}}</uib-alert>
                    </div>
                </form>
            </div>
        </ons-col>
    </ons-row>
    <ons-modal var="errormodal">
        <h4>{{"RESETERROR"|translate}}</h4>
        <ons-icon icon="ion-alert-circled" size="60px"></ons-icon>
        <p style="margin-top: 5%" class="unattended-message">{{"RETRYRESETMESSAGE"|translate}}</p>
        <ons-button style="margin-top: 5%; font-size: 22px; background-color: #4caf50" ng-click="security.goToReset()">{{"RETRYRESET"|translate}}</ons-button>
        <br>
        <ons-button style="margin-top: 5%; font-size: 22px;" ng-click="security.goToInit()">{{"GOTOHOME"|translate}}</ons-button>
    </ons-modal>
</ons-page>
