<ons-page ng-controller="SetHospitalController as vm" style="background-color: white">
    <generic-toolbar title="{{'SELECT_HOSPITAL'|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <div align="center">
        <ul class="list">
            <li class="list__header" ng-class="fontSizeTitle" style="font-size: 18px">
                {{"SELECT_HOSPITAL"|translate}}
            </li>
            <li class="list__item list__item--tappable" ng-repeat="(hospitalKey, hospitalValue) in vm.hospitalObj track by hospitalKey">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" value="{{hospitalKey}}" ng-change="vm.saveSelectedHospital();" ng-model="vm.selectedHospitalKey">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{hospitalValue.fullName|translate}} ({{hospitalValue.acronym|translate}})
                </label>
            </li>
        </ul>
    </div>
</ons-page>
