<ons-page ng-controller="SetHospitalController as vm" style="background-color: white">
    <generic-toolbar title="{{'SELECT_HOSPITAL'|translate}}" style-class="fontSizeTitle"></generic-toolbar>
    <div align="center">
        <ul class="list">
            <li class="list__header" ng-class="fontSizeTitle" style="font-size: 18px">
                {{"SELECT_HOSPITAL"|translate}}
            </li>
            <li class="list__item list__item--tappable" ng-repeat="(hospitalKey, hospitalValue) in vm.hospitalObj track by hospitalKey">
                <label class="radio-button radio-button--list-item">
                    <input 
                        type="radio"
                        aria-label="{{hospitalValue.fullName|translate}} ({{hospitalValue.acronym|translate}})"
                        value="{{hospitalKey}}"
                        ng-change="vm.saveSelectedHospital();"
                        aria-selected="{{vm.selectedHospitalKey === hospitalKey}}"
                        ng-model="vm.selectedHospitalKey">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    <span aria-hidden="true">{{hospitalValue.fullName|translate}} ({{hospitalValue.acronym|translate}})</span>
                </label>
            </li>
        </ul>
    </div>
</ons-page>
