<div class="container-fluid" style="padding:0;margin:0">
<div class="col-xs-12 col-md-4" style="height:100vh;background-color:white;">
  <div class="header-login" align="center">
  <img class="img-responsive" ng-src="./img/muhc-logo-text.png">
  <h1 style="color:#2B6197">MUHC Oncology Patient Application</h1>
</div>
<div>
  <div ui-view></div>
</div>
</div>
<div class="hidden-xs hidden-sm col-md-8 " style="padding:0;background: #ffffff url('http://localhost:8888/qplus/Webview/img/Cedars_Cancer_Centre_exterior_Block D_4.JPG') no-repeat cover">
  <img ng-src="./img/CedarsCancerCenterD4.JPG" style="width:70vw;height:100vh">

</div>





</div>
