<ons-page ng-controller="IndividualNotificationController">
  <ons-toolbar >
    <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
    <div class="center"></div>
  </ons-toolbar>
  <div style="margin-top:5vh">
  <ons-list>
    <ons-list-item class="item">
      <div style="line-height:1" align="left">
        <header>
            <span class="item-title" ng-class="fontSizeTitle">{{notification.Type}}</span>

        </header>
        <p class="item-desc" ng-class="fontSizeDesc">{{notification.DateAdded|formatDateAppointmentTask}}</p>
        <p class="item-desc" ng-class="fontSizeDesc">{{notification.AliasDescription_EN}}</p>
      </div>
    </ons-list-item>
  </ons-list>
</div>
  <!--<div class="container jumbotron" style="text-align: left;padding:5% 2% 5% 2%">-->
  <!--<div class='container' style="margin-top:3vh">
  <div class="my-home-profile" ng-click="openDocument()">
    <ons-row >
      <ons-col width="30px">
        <div align="right" >
          <i class="fa fa-hospital-o iconHomeView"></i>
        </div>
      </ons-col>
      <ons-col>
      <div  align="middle" style="margin-left:5px">
        <span class="profile-name titleThemeCard">{{notification.Type}}</span><br>
          <div align="center">
    <p style="color:lightgrey">{{notification.DateAdded|formatDateAppointmentTask}}</p>
   {{notification.Content}}<br>

       </div>

        </div>
        </ons-col>
    </ons-row>
   </div>
 </div>-->
   <!--<div align="center">
   <button ng-show="futureAppointment" class="btn btn-sm btn-success" ng-click="requestChange()" value="maps">Request Change</button>
   </div>-->
  <!--</div>-->
</ons-page>
