<ons-page ng-controller="NotificationsController">
    <ons-toolbar>
        <div class="left"><ons-back-button>{{"BACK"|translate}}</ons-back-button></div>
        <div class="center" ng-class="fontSizeTitle">{{"NOTIFICATIONS"|translate}}</div>
    </ons-toolbar>
    <!--<ons-pull-hook ng-action="load($done)" var="loader">
          <span ng-switch="loader.getCurrentState()">
            <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
            <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
            <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
          </span>
  </ons-pull-hook>-->
    <div ng-hide="noNotifications">
        <ons-list ng-repeat="notification in notifications" ng-click="goToNotification($index,notification)">
            <ons-list-header class="person-list-header" ng-show="showHeader($index, notifications.length)" ng-class="fontSizeTitle">
                {{notification.DateAdded|date:'fullDate'}}
            </ons-list-header>
            <ons-list-item modifier="chevron" class="item" >
                <ons-row align="center" >
                    <ons-col width="80px" align="center">
                        <div style="margin-left:10px">
                            <i class="iconHomeView" ng-class="notification.Icon" ng-style="{color: notification.Color}"></i><span class="notification" ng-if="notification.ReadStatus==='0'">1</span>
                        </div>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title" ng-class="fontSizeTitle">{{notification.Title}}</span>
                        </header>
                        <p class="item-desc" ng-class="fontSizeDesc">{{notification.Desc}}</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
    <div class="container" align="center">
        <p style="margin-top:25vh;color:grey" ng-show="noNotifications">{{"NONOTIFICATIONS"|translate}}</p>
    </div>
</ons-page>
