<div class="container"  align="center"  >
  <div class="row" style="margin-top:10vh;width:90%;height:60vh;border:1px solid lightgrey;border-radius:4px;  box-shadow: 0 0 20px lightgrey;" >
    <div class="col-xs-12 col-md-4" style="padding:0;border-right:1px solid lightgrey;height:100%;">
      <ul class="list" style="overflow-y:scroll;height:100%">
  <li class=" list__header">
    Primary Doctor
  </li>
  <li class="list__item__contacts  " ng-class="(doctorSelected.DoctorSerNum===primaryPhysician[0].DoctorSerNum)? 'my-class' : ''" ng-click="goDoctorContact(primaryPhysician[0])">
    {{primaryPhysician[0].FirstName}} {{primaryPhysician[0].LastName}}
  </li>
  <li class="list__header">
    Oncologists
  </li>
  <li class="list__item__contacts  " ng-repeat="doctor in oncologists" ng-class="(doctorSelected.DoctorSerNum===doctor.DoctorSerNum)? 'my-class' : ''" ng-click="goDoctorContact(doctor)">
    {{doctor.FirstName}} {{doctor.LastName}}
  </li>
  <li class="list__header">
    Other
  </li>
  <li class="list__item__contacts " ng-repeat="doctor in otherDoctors" ng-class="(doctorSelected.DoctorSerNum==doctor.DoctorSerNum)? 'my-class' : ''" ng-click="goDoctorContact(doctor)">
    {{doctor.FirstName}} {{doctor.LastName}}
  </li>
</ul>
    </div>
    <div class="col-xs-12 col-md-8">
      <div style="margin-bottom:50px;margin-top:50px;width:400px">
        <div class="row">
          <div class="col-xs-4">
              <img ng-show="doctorSelected.ProfileImage" ng-src="data:image/jpg;base64,{{doctorSelected.ProfileImage}}" class="img-circle" width="100px">
          </div>
          <div class="col-xs-8">
            <h3>{{doctorSelected.FirstName}} {{doctorSelected.LastName}}</h3>
            <strong style="color:grey">{{doctorSelected.Title}}</strong><br>
            <strong style="color:grey">{{doctorSelected.Institution}}</strong>
          </div>
        </div>
    </div>
      <div style="width:400px">
      <div class="row" ng-show="doctorSelected.Email">
        <div class="col-xs-4">
        <i class="ion-ios-email iconThemeViews"></i><span style="color:grey"> Email </span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey">
        <a href="mailto:{{doctorSelected.Email}}">  {{doctorSelected.Email}}</a>
        </div>
      </div>
      <div class="row" ng-show="doctorSelected.Phone">
        <div class="col-xs-4">
        <i class="ion-ios-telephone iconThemeViews"></i><span style="color:grey"> Phone </span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey">
          {{doctorSelected.Phone|phoneFilter}}
        </div>
      </div>
      <div class="row" ng-show="doctorSelected.Address">
        <div class="col-xs-4">
        <i class="ion-location iconThemeViews"></i><span style="color:grey"> Location</span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey">
        <a href>  {{doctorSelected.Address}}</a>
        </div>
      </div>
      <div class="row" >
        <div class="col-xs-4">
        <i class="ion-android-chat iconThemeViews"></i><span style="color:grey"> Chat </span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey" >
        <a href="mailto:{{doctorSelected.Email}}">  Go to my messages &raquo;</a>
        </div>
      </div>

    </div>
  </div>


</div>
