<ons-page ng-controller="IndividualDocumentController as vm">
    <generic-toolbar title="{{'INFO'}}" back-button="true" style-class="fontSizeTitle"></generic-toolbar>
    <div>
        <ons-list class="settings-list">
            <ons-list-item class="item">
                <div style="line-height:1" align="left">
                    <p class="item-desc" ng-class="fontSizeDesc"
                       ng-bind-html="vm.DocumentDescription | trustHTML">
                    </p>
                </div>
            </ons-list-item>

        </ons-list>
    </div>
</ons-page>