<ons-page ng-controller="DocumentsController as docs">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button>{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-class="fontSizeTitle">{{"CLINICAL_NOTES"|translate}}</div>
    </ons-toolbar>
    <network-banner></network-banner>

    <!-- DATA REFRESHER -->
    <ons-pull-hook ng-action="docs.pullHookRefresh($done)">
        <ons-pull-hook-content></ons-pull-hook-content>
    </ons-pull-hook>

    <!-- DATA INITIALIZER AND LOADING WHEEL -->
    <patient-data-initializer category="Documents"
                              display-function="docs.setDocumentsView"
                              refresh="docs.pullHookRefresh"
                              hide-content="docs.hideContent"
    ></patient-data-initializer>

    <div ng-hide="docs.hideContent">
        <div style="color:grey;margin-top:25vh" ng-show="docs.noDocuments" align="center" ng-class="fontSizeTitle">
            {{"NOPATIENTDOCUMENTSAVAILABLE"|translate}}
        </div>
        <ons-list ng-repeat="doc in docs.documents" ng-click="docs.goToDocument(doc)">
            <ons-list-header class="person-list-header" ng-class="fontSizeTitle" ng-show="docs.showHeader($index)">
                {{doc.CreatedTimeStamp|date:'longDate'}}
            </ons-list-header>
            <ons-list-item modifier="chevron">

                <ons-row align="center" >
                    <ons-col width="60px" align="center">
                        <div style="margin-left:10px">
                            <i class="ion-android-document iconHomeView" style="color:{{doc.ColorTag}}"></i><span class="notification" ng-if="doc.ReadStatus==='0'">&nbsp;</span>
                        </div>
                    </ons-col>
                    <ons-col style="word-wrap: break-word;">
                        <div style="line-height:1;padding:5px;" >
                            <span ng-class="fontSizeTitle"> <strong>{{doc.Title}}</strong></span> <br>
                            <span class="item-desc" ng-class="fontSizeDesc">{{"ADDED"|translate}} {{doc.CreatedTimeStamp|date:'shortTime'}}</span>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
