<ons-page ng-controller="InitSettingsController as init">
    <generic-toolbar title="{{'ABOUT'|translate}}" style-class="fontSizeTitle"></generic-toolbar>

    <ons-list class="settings-list">
        <ons-list-item modifier = "chevron" ng-hide="init.navigatorName == 'initNavigator'" ng-click="init.goToFeedback()" ng-class="fontSizeTitle">
            {{"RATETHISAPP"|translate}}
        </ons-list-item>
    </ons-list>

    <ons-list class="settings-list">
        <ons-list-item modifier="chevron" ng-click="init.secureYourDeviceNotice()" ng-class="fontSizeTitle">
            {{"SECURE_YOUR_DEVICE"|translate}}
        </ons-list-item>
    </ons-list>

    <ons-list class="settings-list">
        <ons-list-item modifier="chevron" ng-click="init.openPageLegal('termsOfUse')" ng-class="fontSizeTitle">
            {{"TERMS_OF_USE"|translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="init.openPageLegal('serviceAgreement')" ng-class="fontSizeTitle">
            {{"SERVICE_AGREEMENT"|translate}}
        </ons-list-item>
    </ons-list>

    <br>

    <ons-list  class="settings-list">
        <ons-list-item ng-class="fontSizeDesc">
            {{"APPVERSION"|translate}}
            <span style=" position: absolute;right: 20px;top: 0px;opacity:0.6">{{init.APP_VERSION}} ({{init.APP_BUILD_NUMBER}})</span>
        </ons-list-item>
    </ons-list>

    <p class="text-center" style="color:grey;margin-top:10px;font-size:15px">{{"OPAL_OWNERSHIP"|translate}} {{init.currentYear}}</p>
</ons-page>
