<ons-popover cancelable modifier="android" style="min-width:80vw">
    <div>
        <ons-list>
            <ons-list-header>{{"DOC_INFO"|translate}}</ons-list-header>
            <ons-list-item class="item">

                <p><strong>{{"DOC_DATE_CREATED"|translate}}</strong>{{docParams.CreatedTimeStamp| date:'fullDate'}}</p>
                <p><strong>{{"DOC_DATE_UPDATED"|translate}}</strong>{{docParams.ApprovedTimeStamp| date:'fullDate'}}</p>
                <p><strong>{{"DOC_SIGNEDBY"|translate}}</strong>{{docParams.FirstName}} {{docParams.LastName}}</p>

                <div>
                    <button class="button button--large--quiet" ng-click="about()">
                        {{"DOC_ABOUT"|translate}}
                    </button>
                    <button class="button button--large--quiet" ng-click="warn()">
                        {{"SHARE"|translate}}
                    </button>
                    <button class="button button--large--quiet" ng-show="isAndroid" ng-click="warn2()">
                        {{"OPENEXTERNALVIEWER"|translate}}
                    </button>
                </div>
        </ons-list>
    </div>
</ons-popover>