# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: Apache-2.0

name: Increment Version
run-name: Incrementing the app version using semantic-release
on:
  # Offer a manual interface to run semantic-release
  workflow_dispatch:

permissions:
  contents: read

jobs:
  # See: https://semantic-release.gitbook.io/semantic-release/recipes/ci-configurations/github-actions#node-project-configuration
  increment-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Setup
      - uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false
          # Fetch part of the commit history, used by semantic-release to calculate a new version number
          fetch-depth: ${{ vars.FETCH_DEPTH }}
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      # Increment the version
      - name: Run semantic-release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
