<ons-page ng-controller="ContentController as about">
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-back-button ng-class="fontSizeDesc">{{"BACK"|translate}}</ons-back-button>
        </div>
        <div class="center" ng-hide="about.loading" ng-class="fontSizeTitle">{{about.pageContent.title|translate|ellipsis:25}}</div>
    </ons-toolbar>

    <div ng-show="about.loading" align="center" style="margin-top:30px">
        <svg class="progress-circular">
            <circle class="progress-circular__primary" cx="50%" cy="50%" r="40%" fill="none" stroke-width="10%" stroke-miterlimit="10" />
        </svg>
    </div>

    <style>
        a:after {
            display: none !important;
        }

        a:hover:after {
            display: inline !important;
        }
    </style>

    <div class="container" ng-bind-html="about.pageContent.content" ng-class="fontSizeDesc"></div>{{about.alert}}
    <div ng-show="about.alert.type" align="center" style="width: 95%; margin: 10px auto" ng-class="fontSizeDesc">
        <uib-alert type="{{about.alert.type}}">{{about.alert.content|translate}}</uib-alert>
    </div>
</ons-page>
